/**
 * Additional CSS for widget-media-library-slider.
 */

/* Resets */
.widget-media-library-slider ul {
  padding: 0;
}
.widget-media-library-slider li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Controls */
.widget-media-library-slider .bx-wrapper .bx-controls-direction a {
  border: none;
}

/* Bugfix */
.widget-media-library-slider .bx-viewport {
  left: 0;
  border: none;
  box-shadow: none;
}
