/**
 * Additional CSS voor widgetMediaSlider.
 */

/* Default bugfixes */
.widgetMediaSlider .bx-viewport {
  left: 0;
  border: none;
  box-shadow: none;
}

/* Show controls */
.widgetMediaSlider ul {
  padding: 0;
}
.widgetMediaSlider li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.widgetMediaSlider .bx-wrapper .bx-controls-direction a {
  border: none;
}
