{% if navigation %}
  <ul>
    {% for page in navigation %}
      <li>
        <a href="{{ page.link }}" title="{{ page.navigation_title }}"{% if page.nofollow %} rel="nofollow"{% endif %}>{{ page.navigation_title }}</a>
        {{ page.children|raw }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
