<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>ContentBlocks</name>
  <version>5.0.0</version>
  <requirements>
    <minimum_version>6.0.0</minimum_version>
    <maximum_version>7.0.0</maximum_version>
  </requirements>
  <authors>
    <author>
      <name><![CDATA[Jelmer Prins]]></name>
      <url><![CDATA[https://pageon.be]]></url>
    </author>
    <author>
      <name><![CDATA[Davy De Vuysdere]]></name>
      <url><![CDATA[https://www.sumocoders.be]]></url>
    </author>
  </authors>
  <description>
    <![CDATA[
      The content blocks module provides the possibility to re-use content on multiple pages, wherefore the content can be managed in 1 single point, but the changes are immediately visible on all pages it occurs.
      Content blocks are exceptionally well-suited for recurring content like contact details or call-to-actions.
    ]]>
  </description>
  <events>
    <event class="ForkCMS\Modules\ContentBlocks\Domain\ContentBlock\Event\ContentBlockCreatedEvent"><![CDATA[Thrown when a content block is created.]]></event>
    <event class="ForkCMS\Modules\ContentBlocks\Domain\ContentBlock\Event\ContentBlockChangedEvent"><![CDATA[Thrown when a content block is changed.]]></event>
    <event class="ForkCMS\Modules\ContentBlocks\Domain\ContentBlock\Event\ContentBlockDeletedEvent"><![CDATA[Thrown when a content block is deleted.]]></event>
  </events>
</module>
