/*

	Stylesheet for <>

	Media:      screen, projection
	Copyright:  Company <http://www.company.com>
	author:     Name <name@domain.com>

*/

@media print {
	/*

		Stylesheet for <>

		Media:      print
		Copyright:  Company <http://www.company.com>
		author:     Name <name@domain.com>

	*/
}