{% extends 'Layout/Templates/base.html.twig' %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.ClearCache'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <p class="help-block">{{ 'msg.ClearCache'|trans }}</p>
          <a href="#" data-role="fork-clear-cache" class="btn btn-primary">{{ 'lbl.ClearCache'|trans|ucfirst }}</a>
          <div class="alert alert-warning hidden" role="alert" data-role="fork-clear-cache-status">
            {{ 'msg.ClearingCache'|trans }}
            <span data-role="fork-dots-animation"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
