{# Add new media dialog #}
<div class="modal fade" id="addMediaDialog" tabindex="-1" role="dialog" aria-hidden="true" data-role="media-library-add-dialog">
  <div class="modal-dialog modal-lg" data-role="media-library-select-modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4">{{ 'lbl.MediaConnect'|trans|ucfirst }}</span>
      </div>
      <div class="modal-body">
        {% include 'MediaLibrary/Resources/views/ModalContent.html.twig' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="fa fa-times"></span><span class="btn-text">{{ 'lbl.Cancel'|trans|ucfirst }}</span>
        </button>
        <button id="addMediaSubmit" type="button" class="btn btn-primary">
          <span class="fa fa-check"></span><span class="btn-text">{{ 'lbl.OK'|trans|ucfirst }}</span></button>
      </div>
    </div>
  </div>
  {% include "MediaLibrary/Resources/views/CropperDialog.html.twig" %}
</div>
