{% extends '@Frontend/base/Base.html.twig' %}

{% block mainContent %}
  <div class="section-default">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
