{#
  variables that are available:
  - {{ widgetFaqCategories }}: contains an array with all posts, each element contains data about the post
#}

{% if widgetFaqCategories %}
  <section class="module-faq widget-faq-categories mt-4">
    {% block widget_heading %}
      <header class="widget-heading">
        <h2 class="h3">{{ 'lbl.AllCategories'|trans|ucfirst }}</h2>
      </header>
    {% endblock %}

    {% block widget_body %}
      <div class="widget-body">
        <ul class="list-group">
          {% for widgetFaqCategories in widgetFaqCategories %}
            <li class="list-group-item list-group-item-action">
              <a href="{{ widgetFaqCategories.full_url }}">
                {{ widgetFaqCategories.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endblock %}

    {% block widget_footer %}{% endblock %}
  </section>
{% endif %}
