{% if not cookieBarHide %}
  <div id="cookie-bar" class="alert alert-primary">
    <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-lg-between">
      <p class="mb-0">{{ 'msg.CookiesWarning'|trans|raw }}</p>
      <div>
        <a href="#" id="cookieBarAgree" data-role="cookie-bar-button" data-action="agree" class="btn btn-sm btn-secondary">{{ 'lbl.IAgree'|trans|ucfirst }}</a>
        <a href="#" id="cookieBarDisagree" data-role="cookie-bar-button" data-action="disagree" class="btn btn-sm btn-secondary">{{ 'lbl.IDisagree'|trans|ucfirst }}</a>
      </div>
    </div>
  </div>
{% endif %}
