{% extends 'Core/Layout/Templates/Base.html.twig' %}

{% block breadcrumb %}
 <div class="row justify-content-center">
   <div class="col-lg-8">
     {% include "Core/Layout/Templates/Breadcrumb.html.twig" %}
   </div>
 </div>
{% endblock %}

{% block main %}
{% set renderSection = false %}
  {% for content in positions.main %}
    {% if not renderSection and content.html %}
      {% set renderSection = true %}
    {% endif %}
  {% endfor %}

  {% if renderSection %}
  <div class="section-default">
    <div class="row justify-content-center">
      {# Main positions #}
      {% for content in positions.main %}
        {% if content.html %}
          <div class="col-lg-8">
            {{ content.html|raw }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

{% endblock %}
