{% extends 'Core/Layout/Templates/Base.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% block main %}

  <div class="row">
    {# Main positions #}
    {% for content in positions.main %}
      {% if content.html %}
        <div class="col-lg-offset-2 col-lg-8">
          <div class="section-home font-size-large">
            {{ content.html|raw }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div data-v-share-buttons>
    <v-share-buttons facebook twitter page_title="Fork CMS - Home" page_description="Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla."></v-share-buttons>
  </div>
{% endblock %}
