{% extends 'Core/Layout/Templates/Base.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% block main %}

  <div class="row">
    {# Main positions #}
    {% for content in positions.main %}
      {% if content.html %}
        <div class="col-lg-offset-2 col-lg-8">
          <div class="section-home font-size-large">
            {{ content.html|raw }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
