**/*.DS_Store
**/*.log
**/*.md
**/*.php~
**/*.sql.gz
**/._*
**/.dockerignore
**/.gitignore
**/Dockerfile
**/Thumbs.db
.env.local
.env.test.local
*.sublime-project
*.sublime-workspace
.editorconfig
.env
.git/
.gitattributes
.github/
.gitmodules
.php_cs.cache
composer.phar
docker-compose.override.yml
docker-compose.yml
var/docker/db/data6/
vendor/
node_modules/
.idea
var/cache/*
var/log/*
