**/*.DS_Store
**/*.log
**/*.md
**/*.php~
**/*.sql.gz
**/._*
**/.dockerignore
**/.gitignore
**/Dockerfile
**/Thumbs.db
.env.local
*.sublime-project
*.sublime-workspace
.editorconfig
.env
.git/
.gitattributes
.github/
.gitlab-ci.yml
.gitmodules
.php_cs.cache
.travis.yml
build/
composer.phar
docker-compose.override.yml
docker-compose.yml
var/docker/db/data/
vendor/
.idea
var/cache/*
var/log/*
config/parameters.yaml
src/Backend/Cache/*/*
src/Frontend/Cache/*/*
