.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
/bower_components/*
/app/cache/*
/app/logs/*
/app/sessions/*
/components/*
/backend/cache/navigation/*
/src/Backend/Cache/CachedTemplates/*
/vendor/*
/app/config/parameters.yml
/bin/*
/bundles/*
/js/*
/css/*
/bin/*
