{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "no-descending-specificity": null,
    "scss/no-global-function-names": null
  },
  "ignoreFiles": [
    "src/**/scss/plugins/*.scss",
    "src/Themes/Fork/assets/webpack/scss/components/_buttons.scss"
  ]
}
