includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
  level: 6
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
  scanFiles:
  bootstrapFiles:
    - src/bootstrap.php
  excludePaths:
    - src/Core/tests/*
    - src/Themes/*
    - src/Core/templates/Maker/*
    - src/Modules/*/tests/*
  earlyTerminatingMethodCalls:
  doctrine:
    objectManagerLoader: src/Core/tests/ObjectManager.php
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
