<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
         bootstrap="src/bootstrap.php"
         cacheResultFile="var/cache/.phpunit/test-results"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="installer">
            <directory>src/Core/Tests/Installer</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>src/Core/Tests</directory>
            <directory>src/Modules/*/Tests</directory>
            <exclude>src/Core/Tests/Installer</exclude>
            <exclude>src/Modules/*/Tests/Controller</exclude>
            <exclude>src/Modules/*/Tests/Actions</exclude>
        </testsuite>

        <testsuite name="functional">
            <directory>src/Modules/*/Tests/Controller</directory>
            <directory>src/Modules/*/Tests/Actions</directory>
            <exclude>src/Core/Tests/Installer</exclude>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="var/cache/.phpunit/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/Modules</directory>
            <directory suffix=".php">src/Core</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Core/Test</directory>
            <directory suffix=".php">src/Modules/*/Tests</directory>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <server name="KERNEL_CLASS" value="ForkCMS\Core\Domain\Kernel\Kernel" />
    </php>
</phpunit>
