<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
    bootstrap="src/bootstrap.php"
    cacheResultFile="var/cache/.phpunit/test-results"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true"
    defaultTestSuite="unit"
>
    <testsuites>
        <testsuite name="installer">
            <directory>src/Modules/Installer</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>src/Core/tests</directory>
            <directory>src/Modules/*/tests</directory>
            <exclude>src/Modules/Installer</exclude>
            <exclude>src/Modules/*/tests/Controller</exclude>
            <exclude>src/Modules/*/tests/Actions</exclude>
        </testsuite>

        <testsuite name="functional">
            <directory>src/Modules/*/tests/Controller</directory>
            <directory>src/Modules/*/tests/Actions</directory>
            <exclude>src/Modules/Installer</exclude>
            <exclude>src/Core/tests/Installer</exclude>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="var/cache/.phpunit/code-coverage" processUncoveredFiles="true" ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">src/Modules</directory>
            <directory suffix=".php">src/Core</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Core/test</directory>
            <directory suffix=".php">src/Modules/*/tests</directory>
            <directory suffix=".tpl.php">src</directory>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <server name="KERNEL_CLASS" value="ForkCMS\Core\Domain\Kernel\Kernel" />
        <env name="FORK_INSTALLATION_CONFIGURATION_PATH" value="/src/Modules/Installer/tests/fork-cms-installation-configuration.yaml" />
        <env name="FORK_INSTALLATION_LOCALE_ENV_PATH" value="/.env.test.local" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>
</phpunit>
