<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="autoload.php"
         stderr="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>src/*/*Bundle/Tests</directory>
            <directory>src/*/Bundle/*Bundle/Tests</directory>
            <directory>src/*Bundle/Tests</directory>
            <directory>src/Backend/Core/Tests</directory>
            <directory>src/Backend/Modules/*/Tests</directory>
            <directory>src/Frontend/Core/Tests</directory>
            <directory>src/Common/Tests</directory>
            <exclude>src/ForkCMS/Bundle/InstallerBundle/Tests/Controller</exclude>
            <exclude>src/Frontend/Modules/*/Tests</exclude>
            <exclude>src/Frontend/Modules/Blog/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/ContentBlocks/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/Faq/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/FormBuilder/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/Location/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/Mailmotor/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/Pages/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/Profiles/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/Search/Tests/Actions</exclude>
            <exclude>src/Frontend/Modules/Tags/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Analytics/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Authentication/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Blog/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/ContentBlocks/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Dashboard/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Error/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Extensions/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Faq/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/FormBuilder/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Groups/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Locale/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Location/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Mailmotor/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Pages/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Profiles/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Search/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Settings/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Tags/Tests/Actions</exclude>
            <exclude>src/Backend/Modules/Users/Tests/Actions</exclude>
            <exclude>src/Frontend/Core/Tests/AjaxTest.php</exclude>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="functional">
            <directory>src/*/*Bundle/Tests/Controller</directory>
            <directory>src/*/Bundle/*Bundle/Tests/Controller</directory>
            <directory>src/*Bundle/Tests/Controller</directory>
            <directory>src/Frontend/Modules/*/Tests/Actions</directory>
            <directory>src/Frontend/Core/Tests/AjaxTest.php</directory>
            <directory>src/Backend/Modules/*/Tests/Actions</directory>
        </testsuite>
    </testsuites>


    <php>
        <server name="KERNEL_DIR" value="app/" />
    </php>


    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/*Bundle/Resources</directory>
                <directory>src/*Bundle/Tests</directory>
                <directory>src/*/*Bundle/Resources</directory>
                <directory>src/*/*Bundle/Tests</directory>
                <directory>src/*/Bundle/*Bundle/Resources</directory>
                <directory>src/*/Bundle/*Bundle/Tests</directory>
                <directory>src/Backend/Cache</directory>
                <directory>src/Backend/Core/Js</directory>
                <directory>src/Frontend/Cache</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
