/*

    Form_builder

    @package      backend
    @subpackage   analytics

    @author       Yoni De Beule <yoni@netlash.com>

*/

/* General */

.clickToEdit {
	display: none;
}

/* Left column */

#leftColumn {
	width: 78.5%;
	float: left;
}

	/* General tab */

	#tabGeneral {
		padding: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}

		#tabGeneral select {
			width: 336px;
		}

		#tabGeneral #emailWrapper {
			padding: 12px 0 0 0;
		}

			#tabGeneral #emailWrapper input {
				width: 330px;
			}

		#tabGeneral #successMessage_parent {
			width: 490px !important;
			float: left;
			overflow: hidden;
		}

	/* Fields tab */

	#noFields {
		padding: 0;
	}

	#tabFields .fieldWrapper {
		float: left;
		width: 81%;
		padding: 0;
		border: 0;
	}

		#tabFields .field h3 {
			font-size: 14px;
			padding: 4px 0;
		}

		#tabFields span.dragAndDropHandle {
			width: 22px;
			height: 22px;
			float: right;
			border: 1px solid #ddd;
			margin-left: 12px;
			background: #fafafa url(../images/fork_icons.png) no-repeat 4px -22px;
			cursor: move;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}

		#tabFields label, #tabFields p.label {
			font-size: 12px;
			font-weight: 300;
			color: #333;
		}

			#tabFields .inputList label, #tabFields .inputList p.label {
				font-size: 11px;
				font-weight: 700;
				color: #666;
			}

		#tabFields .buttonHolderRight .button,
		#tabFields .buttonHolderRight input {
			margin-left: 4px;
		}

		#fieldsHolder textarea {
			width: 320px;
		}

		#fieldsHolder input.inputText[disabled="disabled"], #fieldsHolder input.inputPassword[disabled="disabled"] {
			background: url(../../../../core/layout/images/ds.png) repeat-x #fff;
			color: #666;
		}

		#fieldsHolder .inputButton {
			color: #3A3A3A;
			font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
			font-size: 11px;
			font-weight: 700;
			border: 1px solid #B0B0B0;
			background: #eee;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#C5C5C5), color-stop(.0454545,#F7F7F7), color-stop(.9545455,#DDD));
			background: -moz-linear-gradient(#FFF, #f7f7f7 4.5454545%, #DDD 95.454545%, #C5C5C5);
			white-space: nowrap;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			padding: 3px;
		}

		.horizontal .inputList {
			float: left;
			padding: 0;
		}

/* Right column */

#rightColumn {
	width: 20%;
	float: right;
}

	#formElements .options {
		padding: 0;
	}

		#formElements .options h3 {
			position: relative;
			padding: 6px 12px;
			color: #999;
			border-bottom: 1px solid #ddd;
			background: #f4f4f4;
		}

		#formElements .options li a {
			display: block;
			font-size: 12px;
			line-height: 18px;
			padding: 6px 12px 6px 36px;
			border-bottom: 1px solid #ddd;
			background-image: url(../images/fork_icons.png);
			background-repeat: no-repeat;
		}

		#formElements .options li:last-child a {
			border: 0;
		}

		#formElements .options li#textboxSelector a {
			background-position: 10px -40px;
		}

		#formElements .options li#textareaSelector a {
			background-position: 10px -70px;
		}

		#formElements .options li#dropdownSelector a {
			background-position: 10px -100px;
		}

		#formElements .options li#checkboxSelector a {
			background-position: 10px -130px;
		}

		#formElements .options li#radiobuttonSelector a {
			background-position: 10px -160px;
		}

		#formElements .options li#headingSelector a {
			background-position: 10px -192px;
		}

		#formElements .options li#paragraphSelector a {
			background-position: 10px -220px;
		}

			.box .content {
				background: none ;
				border: 0;
				padding: 0;
			}

				.box .content ul, .box .content p {
					padding-bottom: 12px;
				}

			.box .ui-sortable-helper {
				border-top: 1px solid #ddd !important;
				background: rgba(255, 255, 255, 0.75);
			}

	/* Extra tab */

	#tabExtra {
		padding: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}

	/* Pop-ups */

	#tabTextboxBasic, #tabTextboxProperties, #tabTextareaBasic, #tabTextareaProperties, #tabDropdownBasic, #tabDropdownProperties, #tabRadiobuttonBasic, #tabRadiobuttonProperties, #tabCheckboxBasic, #tabCheckboxProperties {
		padding: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}

	.multipleTextWrapper {
		float: left;
	}

	#tabTextareaProperties textarea {
		width: 240px;
	}

	#tabTextboxProperties .validationRequiredErrorMessage, #tabTextboxProperties .validationErrorMessage, #tabTextareaProperties .validationRequiredErrorMessage, #tabDropdownProperties .validationRequiredErrorMessage, #tabCheckboxProperties .validationRequiredErrorMessage, #tabRadiobuttonProperties .validationRequiredErrorMessage {
		padding: 12px 0 0 0;
	}

	#submitDialog .options:first-child,
	#headingDialog .options:first-child,
	#paragraphDialog .options:first-child {
		border-top: 1px solid #ddd;
		-moz-border-radius-topleft:4px;
		-moz-border-radius-topright:4px;
	}

	#paragraphDialog .heading {
		border-bottom: 0;
	}

	#paragraph_parent {
		width: 376px !important;
		float: left;
		overflow: hidden;
	}