{% if content_block is defined and content_block.text %}
  <div class="module-content-blocks widget-content-blocks-default content-block-{{ content_block.id }}">
    {{ content_block.text|parseEditor }}
  </div>
{% endif %}
