{% if not cookieBarHide %}
  <div id="cookieBar" class="fullWidthAlert alert">
    {{ 'msg.CookiesWarning'|trans }}
    <a href="#" id="cookieBarAgree">{{ 'lbl.IAgree'|trans|capitalize }}</a>
    <a href="#" id="cookieBarDisagree">{{ 'lbl.IDisagree'|trans|capitalize }}</a>
  </div>
{% endif %}
