{% if not cookieBarHide %}
	<div id="cookieBar" class="fullWidthAlert alert">
		{{ msg.CookiesWarning }}
		<a href="#" id="cookieBarAgree">{{ lbl.IAgree|capitalize }}</a>
		<a href="#" id="cookieBarDisagree">{{ lbl.IDisagree|capitalize }}</a>
	</div>
{% endif %}