{% if not cookieBarHide %}
  <div id="cookieBar" class="alert alert-warning">
    {{ 'msg.CookiesWarning'|trans|raw }}
    <a href="#" id="cookieBarAgree" class="btn btn-xs btn-success">{{ 'lbl.IAgree'|trans|ucfirst }}</a>
    <a href="#" id="cookieBarDisagree" class="btn btn-xs btn-danger">{{ 'lbl.IDisagree'|trans|ucfirst }}</a>
  </div>
{% endif %}
