{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% if isAllowedAction('AddCategory') and allowFaqAddCategory %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon( geturl('add_category'), 'plus-square', 'lbl.AddCategory'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if dataGrid %}
    <div class="table-responsive">
      {{ dataGrid|raw }}
    </div>
  {% else %}
    {{ macro.emptyState(geturl('add_category'), 'msg.AddACategory'|trans, 'msg.NoCategories'|trans|ucfirst) }}
  {% endif %}
{% endblock %}
