{% extends "@ForkFrontendModules/Blog/Layout/Templates/Index.html.twig" %}
{% import "Modules/Blog/Layout/Templates/Article.html.twig" as article %}

{% block block_body %}
  <div class="block-body">
    {% for item in items %}
      {{ article.preview(item) }}
    {% endfor %}
  </div>
{% endblock %}
