{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  {% if showGroupsAdd %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if dataGrid %}
        <div class="table-responsive">
          {{ dataGrid|raw }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
