<!DOCTYPE html>
<html lang="{{ INTERFACE_LANGUAGE }}">

{% include "Layout/Templates/head.html.twig" %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

<body id="{{ bodyID }}" class="{{ bodyClass }}">

{% include "Layout/Templates/header.html.twig" %}

<div class="main-wrapper{% if attribute(cookies, 'navigation-collapse') == 'true' %} navigation-collapsed{% endif %}">
  <div class="sidebar">
    {% include "Layout/Templates/navigation.html.twig" %}

    <div class="sub-navigation">
      <nav id="content-subnavigation" class="fork-nav-sidebar" {% if activeParent %}aria-label="{{ activeParent }}{% endif %}">
        {% include "Layout/Templates/subnavigation.html.twig" with { 'navigation': navigation } %}
      </nav>
    </div>
  </div>
  {% include "Layout/Templates/messaging.html.twig" %}
  <div id="root">
    <main id="content" class="content-wrapper">
      <div class="content-main">
        <div class="content-action-bar">
          <div class="container-fluid">
            <div class="row align-items-center fork-module-heading">
              {% set _block = block('actionbar')|trim %}
              {% if _block is not empty %}
                <div class="col-sm-6">
                  {% include "Layout/Templates/breadcrumb.html.twig" with { 'navigation': navigation } %}
                </div>
                <div class="col-sm-6">
                  {% block actionbar %}{% endblock %}
                </div>
              {% endif %}
              {% if _block is empty %}
                <div class="col-12">
                  {% include "Layout/Templates/breadcrumb.html.twig" with { 'navigation': navigation } %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="content">
          <div class="container-fluid container-fluid-large" data-content-container>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </main>
    <div id="root-footer"></div>
  </div>
  {% include "Layout/Templates/footer.html.twig" %}
</div>

{% include 'Layout/Templates/deleteConfirmationModal.html.twig' %}
</body>
</html>
