<!DOCTYPE html>
<html lang="{{ INTERFACE_LANGUAGE }}">

{% include "Layout/Templates/head.html.twig" %}

<body id="{{ bodyID }}" class="{{ bodyClass }}">

{% include "Layout/Templates/header.html.twig" %}

<div class="main-wrapper main-wrapper-dashboard {% if attribute(cookies, 'navigation-collapse') == 'true' %} navigation-collapsed{% endif %}">
  <div class="sidebar">
    {% include "Layout/Templates/navigation.html.twig" %}
  </div>
  {% include "Layout/Templates/messaging.html.twig" %}
  <div id="root">
    <div id="content" class="content-wrapper">
      <div class="content-main content-main-dashboard{% if attribute(cookies, 'navigation-collapse') == 'true' %} navigation-collapsed{% endif %}">
        <div class="container-fluid container-fluid-large">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div id="root-footer"></div>
    </div>
  </div>
  <div class="footer-dashboard">
    {% include "Layout/Templates/footer.html.twig" %}
  </div>
</div>

{% include 'Layout/Templates/deleteConfirmationModal.html.twig' %}
</body>
</html>
