<!DOCTYPE html>
<html lang="{{ INTERFACE_LANGUAGE }}">
{% include "Layout/Templates/head.html.twig" %}

{% block content %}

{% endblock %}

{% include "Layout/Templates/messaging.html.twig" %}

<div class="footer-login">
  {% include "Layout/Templates/footer.html.twig" %}
</div>

{% include 'Layout/Templates/deleteConfirmationModal.html.twig' %}
</body>
</html>
