<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
        <div class="footer-inner">
          <p class="text-center text-muted">
            <small><i>Powered by</i></small>
          </p>
          <a href="http://www.fork-cms.com" target="_blank">
            <img src="/src/Backend/Core/Layout/images/logo_footer.svg" alt="Fork CMS" class="logo-footer img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
