<div id="messaging">
  <noscript>
    <div class="formMessage alert alert-danger alert-main active">
      <p>{{ 'err.JavascriptNotEnabled'|trans|ucfirst }}</p>
    </div>
  </noscript>
  <div id="noCookies" class="formMessage alert alert-danger alert-main" style="display: none">
    <p>{{ 'err.CookiesNotEnabled'|trans|ucfirst }}</p>
  </div>
</div>
