{% import '/Layout/Templates/macros.html.twig' as macro %}

<div id="messaging" class="alerts-messaging-wrapper">
  <noscript>
    {{ macro.alert('warning', 'err.JavascriptNotEnabled'|trans|ucfirst) }}
  </noscript>

  {{ macro.alert('danger', 'err.CookiesNotEnabled'|trans|ucfirst, null, 'noCookies', [], false) }}
</div>
