<div class="main-navigation">
    <nav class="navbar navbar-default">
        {{ getmainnavigation('nav navbar-nav') }}
    </nav>
    <a href="#" class="arrow-right js-nav-next"></a>
    <a href="#" class="arrow-left js-nav-prev"></a>
</div>
