<!DOCTYPE html>
<html lang="{{ INTERFACE_LANGUAGE }}">

{% include "Layout/Templates/head.html.twig" %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

<body id="{{ bodyID }}" class="{{ bodyClass }}">

{% include "Layout/Templates/header.html.twig" %}

<div class="main-wrapper main-wrapper-pages{% if attribute(cookies, 'navigation-collapse') == 'true' %} navigation-collapsed{% endif %}">
  <div class="sidebar">
    {% include "Layout/Templates/navigation.html.twig" %}
    {% block pagesTree %}
    {% endblock %}
  </div>
  {% include "Layout/Templates/messaging.html.twig" %}
  <div id="root">
    <main id="content" class="content-wrapper">

      <div class="content-main content-main-tree">
        {% block contentActionBar %}
        <div class="content-action-bar">
          <div class="container-fluid">
            <div class="row align-items-center fork-module-heading">
              {% set _block = block('actionbar')|trim %}
              {% if _block is not empty %}
                <div class="col-sm-6">
                  {% include "Layout/Templates/breadcrumb.html.twig" with { 'navigation': navigation } %}
                </div>
                <div class="col-sm-6">
                  {% block actionbar %}{% endblock %}
                </div>
              {% endif %}
              {% if _block is empty %}
                <div class="col-12">
                  {% include "Layout/Templates/breadcrumb.html.twig" with { 'navigation': navigation } %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endblock %}
        <div class="content">
          <div class="container-fluid container-fluid-large">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </main>
    <div id="root-footer"></div>
  </div>

  <div class="footer-pages">
    {% include "Layout/Templates/footer.html.twig" %}
  </div>
</div>

{% include 'Layout/Templates/deleteConfirmationModal.html.twig' %}
</body>
</html>
