/*

    General purpose classes
    Quick 'n dirty; but clean up your mess please.

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

.hidden { display: none; }
.block { display: block; }
.p0 { padding: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.m0 { margin: 0 !important; }
.noBorder, .noborder { border: none !important; }
.floatLeft { float: left; }
.floatRight { float: right; }
.inline { display: inline !important; }
.visuallyHidden { 
	position: absolute !important; 
	clip: rect(1px 1px 1px 1px); 
	clip: rect(1px, 1px, 1px, 1px);
}