/*

    Misc CSS

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

#statusBar {
	display: none;
}

#editDashboard {
	text-align: center;
	font-size: 11px;
	display: block;
}