body {
    overflow-y: scroll;
}

#content {
    padding-bottom: 50px;
}

textarea {
    resize: vertical;
}

.page-header {
    margin: 20px 0px 20px 0px;
}

.align-middle {
    display: table-cell;
    vertical-align: middle !important;
}

.fork-module-heading,
.fork-module-messages,
.fork-module-content {
    margin-bottom: 20px;
}

.fork-module-actions {
    margin-bottom: 40px;
}

.fork-tabs .nav-tabs {
    margin-bottom: 15px;
}

.fork-dashboard-column {
    min-height: 200px;
    line-height: 0;
}

.fork-widget {
    position: relative;
    line-height: normal;
}

.fork-widget > .close {
    position: absolute;
    top: 5px;
    right: 10px;
}

.fork-modal-ckeditor > .modal-dialog {
    width: 95%;
}

h2, h3 {
    float: left;
}

h2.panel-title,
h3.panel-title {
    float: none;
}

h1 + .btn-toolbar,
h2 + .btn-toolbar,
h3 + .btn-toolbar {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fork-data-grid {

}

.fork-data-grid-sortable {
    text-align: center;
    cursor: move;
}

.fork-data-grid-avatar {
    display: inline-block;
    line-height: 0px;
    padding: 0px 5px 0px 5px;
}

.fork-data-grid-avatar > a {
    display: block;
    height: 24px;
}

.fork-data-grid-avatar > a > img {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.fork-data-grid-avatar > a > span {
    display: inline-block;
    line-height: 24px;
}

.clickToEdit {
    position: absolute;
    width: 100%;
    height: 0px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.inlineEditTooltip {
    margin-left: 7px;
    padding: 2px 6px;
    font-size: 10px;
    color: #FFF;
    background: #005292;

    /* @inc .rc */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.nav-tabs > li.active.muted > a,
.nav-tabs > li.active.muted > a:focus,
.nav-tabs > li.active.muted > a:hover {
    border-color: #777777 #777777 transparent;
}

.nav-tabs > li.muted > a,
.nav-tabs > li.muted > a:focus,
.nav-tabs > li.muted > a:hover {
    color: #777777;
}

.nav-tabs > li.active.primary > a,
.nav-tabs > li.active.primary > a:focus,
.nav-tabs > li.active.primary > a:hover {
    border-color: #337AB7 transparent;
}

.nav-tabs > li.primary > a,
.nav-tabs > li.primary > a:focus,
.nav-tabs > li.primary > a:hover {
    color: #337AB7;
}

.nav-tabs > li.active.success > a,
.nav-tabs > li.active.success > a:focus,
.nav-tabs > li.active.success > a:hover {
    border-color: #3C763D #3C763D transparent;
}

.nav-tabs > li.success > a,
.nav-tabs > li.success > a:focus,
.nav-tabs > li.success > a:hover {
    color: #3C763D;
}

.nav-tabs > li.active.info > a,
.nav-tabs > li.active.info > a:focus,
.nav-tabs > li.active.info > a:hover {
    border-color: #31708F #31708F transparent;
}

.nav-tabs > li.info > a,
.nav-tabs > li.info > a:focus,
.nav-tabs > li.info > a:hover {
    color: #31708F;
}

.nav-tabs > li.active.warning > a,
.nav-tabs > li.active.warning > a:focus,
.nav-tabs > li.active.warning > a:hover {
    border-color: #8A6D3B #8A6D3B transparent;
}

.nav-tabs > li.warning > a,
.nav-tabs > li.warning > a:focus,
.nav-tabs > li.warning > a:hover {
    color: #8A6D3B;
}

.nav-tabs > li.active.danger > a,
.nav-tabs > li.active.danger > a:focus,
.nav-tabs > li.active.danger > a:hover {
    border-color: #A94442 #A94442 transparent;
}

.nav-tabs > li.danger > a,
.nav-tabs > li.danger > a:focus,
.nav-tabs > li.danger > a:hover {
    color: #A94442;
}

/**
 * (C)Leanest CSS spinner ever
 */

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.fork-loader {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    margin: 0 .5em;
    font-size: 12px;
    text-indent: 999em;
    overflow: hidden;
    animation: spin 1s infinite steps(8);
}

.fork-loader.xs {
    font-size: 3px;
}

.fork-loader.sm {
    font-size: 6px;
}

.fork-loader.md {
    font-size: 12px;
}

.fork-loader.lg {
    font-size: 24px;
}

.fork-loader:before,
.fork-loader:after,
.fork-loader > div:before,
.fork-loader > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em; /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee; /* container height - part height */
    transform-origin: 50% 2.5em; /* container height / 2 */
}

.fork-loader:before {
    background: #555;
}

.fork-loader:after {
    transform: rotate(-45deg);
    background: #777;
}

.fork-loader > div:before {
    transform: rotate(-90deg);
    background: #999;
}

.fork-loader > div:after {
    transform: rotate(-135deg);
    background: #bbb;
}

