{% extends 'ForkCMSInstallerBundle:Installer:base.html.twig' %}

{% block content %}
  <h2>Installation complete</h2>
  <p>Fork CMS is installed! You can now log in using:</p>

  <table class="infoGrid">
    <tr>
      <th>Your e-mail</th>
      <td>{{ data.email }}</td>
    </tr>
    <tr>
      <th>Your password</th>
      <td>
        <span id="plainPassword" class="hidden">{{ data.password }}</span>
        <span id="fakePassword">••••••••••••</span>
        <input type="checkbox" id="showPassword" name="showPassword" /> <label for="showPassword">show password</label>
      </td>
    </tr>
  </table>

  <div class="buttonHolder">
    <a class="button" href="/">View your new website</a>
    <a class="button" href="../private">Log in to Fork CMS</a>
  </div>
{% endblock %}
