{% extends 'ForkCMSInstallerBundle:Installer:base.html.twig' %}

{% block content %}

  <div class="row fork-module-content">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Installation complete
          </h2>
        </div>
        <div class="panel-body">
          <p>Fork CMS is installed! You can now log in using:</p>
          <table class="table table-striped">
            <tr>
              <th>Your e-mail</th>
              <td>{{ data.email }}</td>
            </tr>
            <tr>
              <th>Your password</th>
              <td>
                <span id="plainPassword" style="display: none;">{{ data.password }}</span>
                <span id="fakePassword">••••••••••••</span>
                <input type="checkbox" id="showPassword" name="showPassword" />
                <label for="showPassword">show password</label>
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <div class="btn-toolbar">
            <div class="btn-group pull-right" role="group">
              <a class="btn btn-default" href="/" target="_blank">View your new website</a>
              <a class="btn btn-primary" href="../private" target="_blank">Log in to Fork CMS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
