<section class="module-profiles block-profiles-index">
  {% block block_heading %}{% endblock %}

  {% block block_body %}
    <p>
      You can use this as a dashboard.
    </p>
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>
