/*

    Password strength meter

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
                  Thomas Deceuninck <thomas@fronto.be>
    @since        2.0

*/

.horizontal .passwordStrength {
	margin-left: 115px;
	margin-bottom: 12px;
}

	.horizontal .passwordStrength .helpTxt {
		padding: 0;
	}

	.labelWidthLong .passwordStrength {
		margin-left: 155px;
	}

.passwordStrength p {
	margin-right: 6px;
	padding: 0;
}

.passwordStrength .helpTxt {
	margin: 0;
}

.passwordStrength .strength p {
	background: #DDD;
	color: #FFF;
	padding: 2px 8px;
	width: 50px;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;

	/* @inc .rc */
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

#passwordStrength .weak { background: #f84a24}
#passwordStrength .average { background: #00b244 }
#passwordStrength .strong { background: #007b37 }

#passwordStrengthMeter td {
	vertical-align: middle;
}