/*

    Tooltip
    Styles for tooltips

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
                  Thomas Deceuninck <thomasdeceuninck@netlash.com>
    @since        2.0

*/

/*
	Tooltip indicator
*/

abbr.help {
	background: url(../../images/sprites/fork_icons.png) no-repeat 0 -494px;
	width: 14px;
	height: 12px;
	display: block;
	text-indent: -9000px;
	font-size: 11px;
	border: none;
	cursor: help;
}

	abbr.help {
		display: inline-block;
		position: relative;
		top: 4px;
		margin-left: -2px;
	}

	/* In datagrids */

	.dataGrids th .help {
		top: 5px;
		margin-left: 0;
	}

/*
	Tooltip
*/

.tooltip {
	display: block;
	width: 240px;
	z-index: 2001;
	padding: 4px 12px;
	background: #ac67ff;
	background: -moz-linear-gradient(top, #ac67ff 0%, #8645d3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ac67ff), color-stop(100%,#8645d3));
	background: -webkit-linear-gradient(top, #ac67ff 0%,#8645d3 100%);
	background: -o-linear-gradient(top, #ac67ff 0%,#8645d3 100%);
	background: -ms-linear-gradient(top, #ac67ff 0%,#8645d3 100%);
	background: linear-gradient(top, #ac67ff 0%,#8645d3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac67ff', endColorstr='#8645d3',GradientType=0 );
	border: 1px solid #8645D3;
	color: #FFF;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;

	/* @inc .rc */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	/* @inc .boxShadow */
	-moz-box-shadow: 0 2px 6px #AAA;
	-webkit-box-shadow: 0 2px 6px #AAA;
	box-shadow: 0 2px 6px #AAA;
}

	.oneLiner .tooltip p {
		line-height: 16px;
	}

/*
	Positioning
	Depends on where the tooltip occurs
*/

.oneLiner .help {
	float: left;
	margin-left: 3px;
	position: relative;
	top: 1px;
}