/*

    Wizard

    @package      backend
    @subpackage   core

    @author       Yoni De Beule <yoni@netlash.com>
                  Thomas Deceuninck <thomasdeceuninck@netlash.com>
    @since        2.0

*/

.wizard {
	height: 34px;
	overflow: hidden;
	margin: 10px 0 20px 0;
}

	.wizard ul {
		height: 32px;
		background: url(../../images/sprites/wizard.png) repeat-x 0 -1px;
		border: 1px solid #ddd;

		/* @inc .rc */
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

		.wizard li {
			float: left;
			height: 34px;
			line-height: 34px;
			position: relative;
			top: -1px;
			background: url(../../images/sprites/wizard.png) no-repeat right -140px;
			color: #666;
		}

			.wizard li a {
				float: left;
				line-height: 34px;
				height: 34px;
			}

			.wizard li b {
				float: left;
				padding: 0 20px 0 10px;
				font-weight: 300;
			}

			.wizard li a b {
				font-weight: 700;
			}

			.wizard li span {
				font-size: 9px;
				font-family: "Menlo", "Monaco", "Courier New", monospace;
			}

		.wizard li.beforeSelected {
			background: url(../../images/sprites/wizard.png) no-repeat right -70px;
		}


		.wizard li.selected {
			background: url(../../images/sprites/wizard.png) repeat-x 0 -35px;
		}

			.wizard li.selected a {
				font-weight: 700;
				background: url(../../images/sprites/wizard.png) no-repeat right -105px;
			}

		.wizard li.selected.firstChild {
			left: -1px;
		}

			.wizard li.selected.firstChild b {
				padding: 0 19px 0 11px;
				background: url(../../images/sprites/wizard.png) no-repeat 0 -175px;
			}

.selectThumbList li {
	float: left;
	width: 172px;
	height: auto;
	position: relative;
	border: 1px solid #ddd;
	padding: 6px;
	overflow: hidden;
	margin: 0 12px 12px 0;
	cursor: pointer;

	/* @inc .rc */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.selectThumbList li:hover,
.selectThumbList li:active {
	border-color: #bad4e8;
	background: #f1f5fa;
}

.selectThumbList li.selected,
.selectThumbList li.selected:hover,
.selectThumbList li.selected:active {
	border-color: #1a57ad;
	background: #5c93d5;
	background: -moz-linear-gradient(top, #5c93d5 0%, #1a57ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c93d5), color-stop(100%,#1a57ad));
	background: -webkit-linear-gradient(top, #5c93d5 0%,#1a57ad 100%);
	background: -o-linear-gradient(top, #5c93d5 0%,#1a57ad 100%);
	background: -ms-linear-gradient(top, #5c93d5 0%,#1a57ad 100%);
	background: linear-gradient(top, #5c93d5 0%,#1a57ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c93d5', endColorstr='#1a57ad',GradientType=0 );
}

	.selectThumbList li label span {
		color: #5d6064;
		display: block;
		position: absolute;
		padding: 100px 0 12px 0;
		top: 6px;
		left: 6px;
		width: 172px;
		line-height: 18px;
		font-size: 11px;
		text-align: center;
		font-weight: 700;
		height: 18px;
		background: url(../../images/newsletter_normal.png);
		cursor: pointer;
	}

	.selectThumbList li:hover label span,
	.selectThumbList li:active label span {
		color: #000 !important;
		background: url(../../images/newsletter_active.png);
	}

	.selectThumbList li.selected label span {
		background: url(../../images/newsletter_hover.png);
	}

	.selectThumbList li.selected:hover label span,
	.selectThumbList li.selected:active label span {
		background: url(../../images/newsletter_hover.png);
	}

	.selectThumbList li.selected span {
		color: #fff !important;
	}

	.selectThumbList li.selected:hover span,
	.selectThumbList li.selected:active span {
		color: #fff !important;
	}

		.selectThumbList li img {
			display: block;
			width: 172px;
			height: 129px;
			cursor: pointer;
		}

		.selectThumbList li input {
			visibility: hidden;
			position: absolute;
			top: -9999px;
			left: -9999px;
		}