{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form addGroup %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        <label for="name" class="control-label">
          {{ 'lbl.Name'|trans|ucfirst }}
          {{ macro.required }}
        </label>
        {% form_field name %} {% form_field_error name %}
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.AddGroup'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
