{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form addGroup %}
  <div class="form-group">
    <label for="name" class="control-label">
      {{ 'lbl.Name'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field name %} {% form_field_error name %}
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('Groups'), 'times', 'lbl.Cancel'|trans|ucfirst) }}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'plus-square', 'lbl.AddGroup'|trans|ucfirst, 'btn-primary', { "type":"submit", "id":"addButton", "name":"add" }) }}
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
