<blockquote>
  <div class="row">
    <div class="col-sm-2">
      <img src="http://placehold.it/128x128" alt="Placeholder" class="img-responsive img-circle" data-ft-label="Avatar" data-ft-type="image" />
    </div>
    <div class="col-sm-10">
      <p data-ft-type="textarea" data-ft-label="Quote text">The only way to do great work is to love what you do</p>
      <footer>
        <span data-ft-type="text" data-ft-label="author">Steve Jobs</span>,
        <span data-ft-type="text" data-ft-label="function">Founder</span> of
        <a href="http://www.apple.com" data-ft-type="link" data-ft-label="Website">Apple</a>
      </footer>
    </div>
  </div>
</blockquote>
