<a data-ft-label="link" data-ft-type="link" href="#">This is the placeholder for the link</a>
<h2 data-ft-label="title for this block" data-ft-type="text">This is a title</h2>
<a href="#" data-ft-label="image link" data-ft-type="link-without-content"><img class="media-object" src="https://placehold.it/200x200" alt="placeholder" data-ft-label="Image" data-ft-type="image" data-ft-block-optional="true"></a>
<p data-ft-label="description" data-ft-type="textarea">This is a description</p>
<div data-ft-label="editor" data-ft-type="editor">This is an editor</div>
<div class="image-holder" data-src="https://placehold.it/200x200" data-ft-label="Background image" data-ft-type="image-background" style="background-image: url('https://placehold.it/200x200');"></div>
