{#
  variables that are available:
  - {{ widgetContentBlocks }}:
#}
{% if widgetContentBlocks.text %}
  <div class="module-content-blocks widget-content-blocks-default contentBlock{{ widgetContentBlocks.id }}">
    {{ widgetContentBlocks.text|parse_blocks }}
  </div>
{% endif %}
