imports:
    - { resource: config_install.yml }

parameters:
    site.multilanguage: true
    site.default_language: en

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false
    router:
        resource: "%kernel.project_dir%/app/config/routing_install.yml"

monolog:
    handlers:
        main:
            type: 'null'
