# Add your custom routes for Symfony bundles above this line

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"

# Backend controller
backend:
    path: /private/{_locale}/{module}/{action}
    defaults:
        _controller: \ForkCMS\App\ForkController::backendController
        _locale: ~
        module: ~
        action: ~

#Ajax controllers
backend_ajax:
    path: /backend/ajax
    defaults:
        _controller: \ForkCMS\App\ForkController::backendAjaxController
frontend_ajax:
    path: /frontend/ajax
    defaults:
        _controller: \ForkCMS\App\ForkController::frontendAjaxController

# Frontend controller (this is as good as the default when no other route gets matched)
frontend:
    path: /{route}
    defaults:
        _controller: \ForkCMS\App\ForkController::frontendController
        route: ~
    requirements:
        route: (.*)
