<section id="mailmotorIndex" class="mod">
  <div class="inner">
    <div class="bd">
      {% if dataGrid %}
        {{ dataGrid|raw }}
      {% endif %}

      {% if not dataGrid %}
        <p>{{ 'msg.NoSentMailings'|trans }}</p>
      {% endif %}
    </div>
  </div>
</section>
