/*

	Stylesheet for Response

	Media: screen, projection
	Author: Simon Coudeville <simon.coudeville@netlash.com>,
			Thomas Deceuninck <thomas.deceuninck@netlash.com>

	CONTENTS:
		1.	CSS Resets
		2.	Type & image presets
		3.	Grid
		4.	Design
		5.	Colors
		6.	Media Queries

*/

/* 1. CSS Resets
-------------------------------------- */

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }
body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border: none; }
fieldset { margin: 0; padding: 0; border: none; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .clearfix, .ie7 .clearfix { zoom: 1; }

/* 2. Type & image presets
-------------------------------------- */

img, object, embed { margin-bottom: 20px; }
body { font: 12px/1.8 "Droid Sans", Arial, Helvetica, sans-serif; }
a img { display: block; border: none; }
img { margin-bottom: 20px; }
p, ul, ol, blockquote { font-size: 1em; line-height: 1.8em; margin-bottom: 1.8em; }
.small { font-size: 0.9em; line-height: 2em; }
li { margin-bottom: 0; }

h1 { font-size: 1.67em; line-height: 1.077em; margin: 0 0 1.077em 0; font-family: 'Droid Serif', Georgia, serif; font-weight: normal; }
h2 { font-size: 1.333em; line-height: 1.35em; margin: 0 0 1.35em 0; font-family: 'Droid Sans', Georgia, serif; font-weight: normal; }
h3 { font-size: 0.8em; line-height: 2.25em; margin-bottom: 2.25em; font-weight: bold; text-transform: uppercase; letter-spacing: 0.3em; }
h4 { font-size: 1.333em; line-height: 1.35em; margin: 0 0 1.35em 0; font-family: 'Droid Serif', Georgia, serif; font-weight: normal; }

/* 3. Grid
-------------------------------------- */

.holder { clear: both; }
.row { width: auto; position: relative; padding: 2.8em 1.5% 1em; overflow: hidden; }
.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { margin: 0 1.9%; position: relative; }

/* 4. Design
-------------------------------------- */

body:after { content: ""; display: block; position: fixed; top: -40px; left: 0; width: 100%; height: 45px; }

/* header */

#header {
	padding: 2em 1.5% 0;
	text-align: center;
}

#header h1 { margin: 0; }

.logo {
	display: block;
	margin: 0.6em -0.1em 0.6em 0;
	font-family: 'Six Caps', Arial, serif;
	font-size: 42px;
	letter-spacing: 0.4em;
	line-height: 0.6em;
}

	.logo:before, .logo:after {
		content: "b";
		font-family:"IconicStroke";
		font-size: 0.9em;
		margin-right: 15px;
		text-shadow: 0 2px 0 rgba(102,102,102,0.2);
	}

	.logo:after {
		margin-right: 0;
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: fliph; /*IE*/
	}

/* nav */

#navigation { padding-top: 0; }

	#navigation ul {
		width: auto;
		clear: both;
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style: none;
	}

		#navigation li {
			display: inline-block;
			margin: 0;
		}

		#navigation a {
			display: block;
			padding: 0 2em;
			font-size: 0.8em;
			font-weight: normal;
			letter-spacing: 0.3em;
			height: 5em;
			line-height: 5em;
			text-decoration: none;
			text-transform: uppercase;
		}

/* blog */

article { padding-bottom: 1.8em; }

#blogIndex article,
#blogRecentArticlesFullWidget article {
	margin-bottom: 1.8em;
}

#blogIndex article.lastChild,
#blogRecentArticlesFullWidget article.lastChild {
	margin-bottom: 0;
}

#blogIndex article header h2,
#blogRecentArticlesFullWidget article header h2 {
	font-size: 1.67em;
	line-height: 1.077em;
	margin-bottom: 1.077em;
	font-family: 'Droid Serif', Georgia, serif;
	font-weight: normal;
}

.meta {
	font-size: 0.8em;
	line-height: 2.25em;
	margin-bottom: 2.25em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: #999;
}

#paginationHolder { border-top: 1px solid rgba(102,102,102,0.2); }

.pagination ul {
	list-style: none;
	font-size: 0.8em;
	line-height: 2.25em;
	margin-bottom: 2.25em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

	.pagination li { display: inline; }
	.pagination li.new { float: right; }

	.pagination li a:before,
	.pagination li a:after {
		padding: 1px 5px 3px 8px;
		font-size: 1.2em;
		font-weight: bold;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.pagination li.new a:after { content: "›"; margin-left: 2em; }
	.pagination li.old a:before { content: "‹"; margin-right: 2em; }

/* aside */

aside {
	padding-top: 2.8em;
	border-top: 1px solid rgba(102,102,102,0.2);
}

aside h3 {
	font-size: 0.8em;
	line-height: 2.25em;
	margin-bottom: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

aside ul {
	list-style: lower-roman inside none;
}

/* footer */

#doormat .date {
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 0.8em;
}

#about img {
	float: left;
	margin: 0.5em 1.2em 0 0;
	border: 5px solid #fff;
}

#footerHolder { border-top: 1px solid rgba(102,102,102,0.2); }

footer p {
	font-size: 0.9em;
	line-height: 2em;
	margin-bottom: 2em;
}

.social {
	list-style: none;
	float: left;
}

	.social li {
		float: left;
		display: inline;
	}

		.social li a {
			display: block;
			width: 24px;
			height: 24px;
			background: #333;
			margin: 0 2em 0 0;
			text-indent: -9999px;
			opacity: 0.5;
		}

			.social li a:hover { opacity: 0.8; }

			.social li.t a { background: url(../images/picons35.png) no-repeat; }
			.social li.d a { background: url(../images/picons32.png) no-repeat; }
			.social li.f a { background: url(../images/picons36.png) no-repeat; }

/* icons using iconic webfont */

@font-face {
	font-family: 'IconicStroke';
	src: url("../fonts/iconic/iconic_stroke.eot");
	src: local('IconicStroke'), url("../fonts/iconic/iconic_stroke.svg#iconic") format('svg'), url("../fonts/iconic/iconic_stroke.otf") format('opentype');
}

.iconic:before {
	font-family: "IconicStroke";
	margin-right: 10px;
	font-weight: normal;
}

	.iconic.home:before { content: '!'; }
	.iconic.at:before { content: "@"; }
	.iconic.quote:before { content: '"'; }
	.iconic.quote-alt:before { content: "'"; }
	.iconic.arrow-up:before { content: "3"; }
	.iconic.arrow-right:before { content: "4"; }
	.iconic.arrow-bottom:before { content: "5"; }
	.iconic.arrow-left:before { content: "6"; }
	.iconic.arrow-up-alt:before { content: "#"; }
	.iconic.arrow-right-alt:before { content: "$"; }
	.iconic.arrow-bottom-alt:before { content: "%"; }
	.iconic.arrow-left-alt:before { content: "^"; }
	.iconic.move:before { content: "9"; }
	.iconic.move-vertical:before { content: "8"; }
	.iconic.move-horizontal:before { content: "7"; }
	.iconic.move-alt:before { content: "("; }
	.iconic.move-vertical-alt:before { content: "*"; }
	.iconic.move-horizontal-alt:before { content: "&"; }
	.iconic.cursor:before { content: ")"; }
	.iconic.plus:before { content: "+"; }
	.iconic.plus-alt:before { content: "="; }
	.iconic.minus:before { content: "-"; }
	.iconic.minus-alt:before { content: "_"; }
	.iconic.new-window:before { content: "1"; }
	.iconic.dial:before { content: "2"; }
	.iconic.lightbulb:before { content: "0"; }
	.iconic.link:before { content: "/"; }
	.iconic.image:before { content: "?"; }
	.iconic.article:before { content: ">"; }
	.iconic.read-more:before { content: "."; }
	.iconic.headphones:before { content: ","; }
	.iconic.equalizer:before { content: "<"; }
	.iconic.fullscreen:before { content: ":"; }
	.iconic.exit-fullscreen:before { content: ";"; }
	.iconic.spin:before { content: "["; }
	.iconic.spin-alt:before { content: "{"; }
	.iconic.moon:before { content: "]"; }
	.iconic.sun:before { content: "}"; }
	.iconic.map-pin:before { content: "\\"; }
	.iconic.pin:before { content: "|"; }
	.iconic.eyedropper:before { content: "~"; }
	.iconic.denied:before { content: "`"; }
	.iconic.calendar:before { content: "a"; }
	.iconic.calendar-alt:before { content: "A"; }
	.iconic.bolt:before { content: "b"; }
	.iconic.clock:before { content: "c"; }
	.iconic.document:before { content: "d"; }
	.iconic.book:before { content: "e"; }
	.iconic.book-alt:before { content: "E"; }
	.iconic.magnifying-glass:before { content: "f"; }
	.iconic.tag:before { content: "g"; }
	.iconic.heart:before { content: "h"; }
	.iconic.info:before { content: "i"; }
	.iconic.chat:before { content: "j"; }
	.iconic.chat-alt:before { content: "J"; }
	.iconic.key:before { content: "k"; }
	.iconic.unlocked:before { content: "l"; }
	.iconic.locked:before { content: "L"; }
	.iconic.mail:before { content: "m"; }
	.iconic.mail-alt:before { content: "M"; }
	.iconic.phone:before { content: "n"; }
	.iconic.box:before { content: "o"; }
	.iconic.pencil:before { content: "p"; }
	.iconic.pencil-alt:before { content: "P"; }
	.iconic.comment:before { content: "q"; }
	.iconic.comment-alt:before { content: "Q"; }
	.iconic.rss:before { content: "r"; }
	.iconic.star:before { content: "s"; }
	.iconic.trash:before { content: "t"; }
	.iconic.user:before { content: "u"; }
	.iconic.volume:before { content: "v"; }
	.iconic.mute:before { content: "V"; }
	.iconic.cog:before { content: "w"; }
	.iconic.cog-alt:before { content: "W"; }
	.iconic.x:before { content: "x"; }
	.iconic.x-alt:before { content: "X"; }
	.iconic.check:before { content: "y"; }
	.iconic.check-alt:before { content: "Y"; }
	.iconic.beaker:before { content: "z"; }
	.iconic.beaker-alt:before { content: "Z"; }

/* 5. Colors
-------------------------------------- */

html { background: #080808; }

body {
	background-color: #f8f7f4;
	border-top: 5px solid #9c6;
	color: #666;
}

body:after {
	background: #9c6;
}

a:link,
a:visited {
	color: #9c6;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

a:hover,
a:active,
a:focus {
	color: #693;
}

h1,
h2,
h3,
h2 a:link,
h2 a:visited {
	color: #111;
}

	h2 a:hover,
	h2 a:active,
	h2 a:focus {
		color: #666;
	}


/* logo */

.logo:link,
.logo:visited {
	color: #080808;
}

	.logo:before, .logo:after { color: #333; }
	.logo:hover:before, .logo:hover:after { color: #080808; }


/* nav */

#navigation a { color: #666; }

#navigation a:hover,
#navigation a:active,
#navigation a:focus,
#navigation .selected a { color: #080808; }


/* intro */

#intro {
	background: #080808;
	color: #666;
}

#intro h2 { color: #9c6; }

/* blog */

.meta a:link,
.meta a:visited { color: #111; }

.meta a:hover,
.meta a:active,
.meta a:focus { color: #666; }

.pagination li a { color: #999; }
.pagination li a:hover { color: #666; }

.pagination li a:before,
.pagination li a:after {
	background: #333;
	color: #FFF;
}

.pagination li a:hover:before,
.pagination li a:hover:after {
	background: #080808;
	color: #FFF;
}

/* comments */

.comment:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; line-height: 0; }
.comment { zoom: 1; }

.comment {
	padding-bottom: 1.8em;
}

	.comment .imageHolder {
		width: 48px;
		height: 48px;
		margin: 2px 12px 0 0;
		float: left;
	}

	.comment .commentContent {
		width: 80%;
		float: left;
	}

		.comment .commentContent .commentAuthor {
			font-size: 0.85em;
			margin-bottom: 0;
		}

/* aside */

aside { color: #999; }
aside h3 { color: #666; }

/* footer */

#footerHolder,
#footer,
#doormatHolder { background: #080808; }

#doormat h4 { color: #fff; }
#doormat .date { color: #ccc; }

footer a:link,
footer a:visited { color: #999; }
footer a:hover { color: #9c6; }

/* 6. Media Queries
-------------------------------------- */

/* breakpoint: 480px
-------------------------------------- */

@media only screen and (min-width: 480px) {

	/* Grid */

	.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; }
	.col-3 { width: 46.2%; }
	.col-4, .col-6, .col-8, .col-9, .col-10, .col-12 { width: 96.2%; }

	/* nav */

	#navigation ul { text-align: center; }
}

/* breakpoint: 768px
-------------------------------------- */

@media only screen and (min-width: 768px) {

	/* font-size */

	body { font-size: 14px; }

	/* aside */

	aside p {
		font-size: 0.9em;
		line-height: 2em;
		margin-bottom: 2em;
	}

	aside ul li {
		font-size: 0.9em;
		line-height: 2em;
	}
}

/* breakpoint: 992px -------------------------------------- */

@media only screen and (min-width: 992px) {

	body:after {
		background: #9c6;
		box-shadow: 0 30px 40px 20px rgba(248,247,244,1);
	}

	/* grid */

	.row { max-width: 1200px; margin: 0 auto; }

	.col-3 	{ width: 21.2%; }
	.col-4 	{ width: 29.52%; }
	.col-6 	{ width: 46.2%; }
	.col-8 	{ width: 62.84%; }
	.col-9 	{ width: 71.2%; }
	.col-12 { width: 96.2%; }

	/* aside */

	aside {
		padding-top: 0;
		border: none;
	}

	/* footer */

	footer p {
		float: right;
		text-align: right;
	}
}

/* breakpoint: 1252px
-------------------------------------- */

@media only screen and (min-width: 1252px) {

	/* grid */

	.holder { padding: 0 2%; }

	/* intro */

	#intro {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}

/* 2x
-------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}

/*
	Forms
	Media: screen, projection
	Author: Yoni De Beule
	        Johan Ronsse
*/

/* General fields and textareas */

input.inputText,
input.inputPassword,
input.inputSearch,
input.inputDate,
textarea {
	color: #666;
	border-color: #999 #bbb #bbb #bbb;
	border-style: solid;
	border-width: 1px;
	padding: 3px 4px;
	margin: 0;
	background-color: #fff;
	background-image: none;
	background-image: -moz-linear-gradient(0% 3px 90deg,#fff, #cecece);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 3, from(#cecece), to(#fff));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	line-height: 1.5;
}

input.inputText:focus,
input.inputPassword:focus,
input.inputSearch:focus,
input.inputDate:focus,
textarea:focus {
	background-color: #fff;
	background-image: none;
	background-image: -moz-linear-gradient(0% 3px 90deg,#fff, #dedede);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 3, from(#dedede), to(#fff));
	-webkit-box-shadow: 0 0 3px #c2deff;
	-moz-box-shadow: 0 0 3px #c2deff;
	box-shadow: 0 0 3px #c2deff;
	border-color: #82a7d4;
	color: #000;
	outline: none
}

input.inputText[disabled],
input.inputPassword[disabled],
input.inputSearch[disabled],
input.inputDate[disabled],
textarea[disabled] {
	color: #999;
	background-color: #f4f4f4;
	background-image: none;
	background-image: -moz-linear-gradient(0% 3px 90deg,#f4f4f4, #c4c4c4);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 3, from(#c4c4c4), to(#f4f4f4));
}

/* Selects */

select {
	margin-top: 2px;
}

	option {
		width: auto;
	}

/* Input lists */

.inputList {
	padding-bottom: 6px;
}

	.inputList li {
		padding-left: 24px;
		position: relative;
		padding-bottom: 6px;
		list-style-type: none;
	}

		.inputList input {
			position: absolute;
			top: 0;
			left: 0;
		}

		.ie6 .inputList input {
			left: -24px;
		}

		.inputList label {
			overflow: visible;
			height: auto;
			padding: 0;
		}

/* Fieldsets and legends */

.visibleFieldset {
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 12px 12px 0 12px;
	margin-bottom: 12px;
}

.visibleFieldset:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .visibleFieldset, .ie7 .visibleFieldset { zoom: 1; }

	legend {
		font-weight: 700;
		color: #999;
	}
	
		.ie6 legend {
			margin-bottom: 10px;
		}

/* Paragraph */

form p { padding: 0 0 12px 0; margin-bottom: 0; }
form p:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 form p, .ie7 form p { zoom: 1; }

/* Labels */

label,
.label {
	display: block;
	padding-bottom: 2px;
	height: 18px;
	overflow: hidden;
}

/* Inline errors */

.errorArea input.inputText,
.errorArea input.inputPassword,
.errorArea input.inputSearch,
.errorArea input.inputDate,
.errorArea textarea {
	border: 1px solid #d00c00;
}

.errorArea label,
.errorArea .label {
	color: #d00c00;
}

.errorArea input.inputText:focus,
.errorArea input.inputPassword:focus,
.errorArea input.inputSearch:focus,
.errorArea input.inputDate:focus {
	-webkit-box-shadow: 0 0 3px #d00c00;
	-moz-box-shadow: 0 0 3px #d00c00;
	box-shadow: 0 0 3px #d00c00;
}

.errorArea .inlineError,
.errorArea .formError {
	font-size: 11px;
	line-height: 1.636;
	color: #d00c00;
	display: block;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	clear: left;
	text-overflow: ellipsis;
}

/* Help texts */

.helpTxt {
	font-size: 11px;
	line-height: 1.636;
	color: #999;
	display: block;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	clear: left;
	text-overflow: ellipsis;
}

/* Form grid control */

	/* One-fourth width */

	.tinyInput input.inputText,
	.tinyInput input.inputPassword,
	.tinyInput input.tinyInput,
	.tinyInput input.inputDate {
		width: 16px;
	}

	.tinyInput select,
	.alignBlocks p.tinyInput,
	.alignFields p.tinyInput,
	.alignFields .tinyInput .helpTxt {
		width: 26px;
	}

	/* Half width */

	.smallInput input.inputText,
	.smallInput input.inputPassword,
	.smallInput input.inputSearch,
	.smallInput input.inputDate {
		width: 52px;
	}

	.smallInput select,
	.alignBlocks p.smallInput,
	.alignFields p.smallInput,
	.alignFields .smallInput .helpTxt {
		width: 62px;
	}

	/* Normal width */

	input.inputText,
	input.inputPassword,
	input.inputSearch,
	input.inputDate {
		width: 124px;
	}

	select,
	.alignBlocks p,
	.alignFields p,
	.alignFields p .helpTxt,
	.horizontal label,
	.horizontal .label,
	.horizontal .oneLiner :first-child label,
	.horizontal .oneLiner :first-child .label,
	.horizontal .oneLiner .firstChild label,
	.horizontal .oneLiner .firstChild .label {
		width: 134px;
	}

	/* Two-third width */

	.mediumInput input.inputText,
	.mediumInput input.inputPassword,
	.mediumInput input.inputSearch,
	.mediumInput input.inputDate {
		width: 196px;
	}

	.mediumInput select,
	.alignBlocks p.mediumInput,
	.alignFields p.mediumInput,
	.alignFields .mediumInput .helpTxt {
		width: 206px;
	}

	/* Double width */

	.bigInput input.inputText,
	.bigInput input.inputPassword,
	.bigInput input.inputSearch,
	.bigInput input.inputDate,
	textarea {
		width: 268px;
	}

	.bigInput select,
	.alignBlocks p.bigInput,
	.alignFields p.bigInput,
	.alignFields .bigInput .helpTxt {
		width: 278px;
	}

	/* Left padding (horizontal) */

	.horizontal .alignBlocks,
	.horizontal .alignFields,
	.horizontal .alignButtons,
	.horizontal .helpTxt,
	.horizontal .inlineError,
	.horizontal .formError {
		padding-left: 134px; /* This value should be the same as the width value in "Normal width" */
	}

	/* Left margin (horizontal) */

	.horizontal input.inputSubmit,
	.horizontal input.inputButton,
	.horizontal button,
	.horizontal a.button {
		margin-left: 134px; /* This value should be the same as the width value in "Normal width" */
	}

	/* Maximum width for inputlist (horizontal) */

	.horizontal .inputList li label {
		width: 278px; /* This value should be the same as the width value in "Double width" */
	}

/* Floating elements */

	/* Floating blocks */

	.alignBlocks {
		position: relative;
		left: -5px;
		padding-bottom: 12px;
	}

	.alignBlocks:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .alignBlocks, .ie7 .alignBlocks { zoom: 1; }

		.alignBlocks p {
			padding: 0 5px;
			overflow: hidden;
			float: left;
		}

	/* Floating fields */

	.alignFields {
		position: relative;
		padding-bottom: 12px;
	}

	.alignFields:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .alignFields, .ie7 .alignFields { zoom: 1; }

		.alignFields label {
			position: absolute;
			top: 0;
			left: 0;
		}

		.alignFields input,
		.alignFields select {
			float: left;
		}

		.ie6 .alignFields input,
		.ie6 .alignFields select,
		.ie7 .alignFields input,
		.ie7 .alignFields select {
			float: none;
		}

		.alignFields p {
			padding: 20px 12px 0 0;
			float: left;
		}

	/* Floating buttons */

	.alignButtons {
		padding-bottom: 12px;
	}

	.alignButtons:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .alignButtons, .ie7 .alignButtons { zoom: 1; }

		.alignButtons p {
			float: left;
			padding-right: 4px;
			padding-bottom: 0;
		}

/* Oneliners */

.oneLiner {
	padding-bottom: 12px;
}

.oneLiner:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .oneLiner, .ie7 .oneLiner { zoom: 1; }

	.oneLiner p {
		float: left;
		padding: 0 6px 0 0;
	}

		.oneLiner label {
			float: left;
			padding-right: 6px;
		}

		.oneLiner input,
		.oneLiner select {
			float: left;
		}

	.oneLiner .inputList {
		padding-bottom: 0;
	}

	.ie6 .oneLiner .inputList input {
		left: 0;
	}

		.oneLiner .inputList li {
			float: left;
			padding-bottom: 0;
		}

/* Horizontal */

.horizontal label,
.horizontal .label {
	float: left;
}

	/* Floating blocks */

	.horizontal .alignBlocks .helpTxt,
	.horizontal .alignBlocks .inlineError,
	.horizontal .alignBlocks .formError {
		padding-left: 0;
	}

	/* Floating fields */

	.horizontal .alignFields .helpTxt,
	.horizontal .alignFields .inlineError,
	.horizontal .alignFields .formError {
		padding-left: 0;
	}

	.horizontal .alignFields p {
		padding-top: 0;
	}

		.horizontal .alignFields label {
			top: 2px;
		}

	/* Floating buttons */

	.horizontal .alignButtons input.inputSubmit,
	.horizontal .alignButtons input.inputButton,
	.horizontal .alignButtons button,
	.horizontal .alignButtons a.button,
	.horizontal .alignFields input.inputSubmit,
	.horizontal .alignFields input.inputButton,
	.horizontal .alignFields button,
	.horizontal .alignFields a.button,
	.horizontal .alignBlocks input.inputSubmit,
	.horizontal .alignBlocks input.inputButton,
	.horizontal .alignBlocks button,
	.horizontal .alignBlocks a.button {
		margin-left: 0;
	}

	/* Inputlists */

	.horizontal .inputList:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .horizontal .inputList, .ie7 .horizontal .inputList { zoom: 1; }

	.horizontal .inputList ul {
		float: left;
	}

		.horizontal .inputList li label {
			float: none;
		}

	/* Oneliners */

	.horizontal .oneLiner label,
	.horizontal .oneLiner .label {
		width: auto;
		padding: 2px 6px 2px 0;
	}

		.horizontal .oneLiner :first-child label,
		.horizontal .oneLiner :first-child .label,
		.horizontal .oneLiner .firstChild label,
		.horizontal .oneLiner .firstChild .label {
			padding: 2px 0;
		}

		.horizontal .formSectionContent .oneLiner :first-child label,
		.horizontal .formSectionContent .oneLiner :first-child .label,
		.horizontal .formSectionContent .oneLiner .firstChild label,
		.horizontal .formSectionContent .oneLiner .firstChild .label {
			width: auto;
			padding: 2px 6px 2px 0;
		}

	.horizontal .oneLiner input.inputSubmit,
	.horizontal .oneLiner input.inputButton,
	.horizontal .oneLiner button,
	.horizontal .oneLiner a.button {
		margin-left: 0;
	}

	.horizontal .oneLiner .inputList {
		float: left;
	}

		.horizontal .oneLiner .inputList li label {
			width: auto;
		}

	/* Form sections */

	.formSection {
		padding: 0 0 8px 0;
	}

	.formSection:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .formSection, .ie7 .formSection { zoom: 1; }

		.formSection p {
			padding-bottom: 2px;
		}

		.formSection .oneLiner p {
			padding-bottom: 0;
		}

	.horizontal .formSectionContent {
		padding-bottom: 4px;
		float: left;
	}

	.horizontal .formSectionContent .alignBlocks,
	.horizontal .formSectionContent .alignFields,
	.horizontal .formSectionContent .alignButtons,
	.horizontal .formSectionContent .helpTxt,
	.horizontal .formSectionContent .inlineError,
	.horizontal .formSectionContent .formError {
		padding-left: 0;
	}

/* Messages */

.message {
	padding: 12px 12px 0 12px;
	border: 1px solid #ddd;
	margin-bottom: 24px;
	border-color: #ddd;
	color: #333;
	background-color: #fff;
	background-image: none;
	background-image: -moz-linear-gradient(0% 100% 90deg,#fff, #f8f8f8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#fff));
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

	.message .close:link,
	.message .close:visited {
		display: block;
		position: absolute;
		overflow: hidden;
		padding: 4px;
		top: 4px;
		right: 4px;
		height: 8px;
		width: 8px;
		border: 0;
		text-indent: -9999px;
		background: url(../images/close.png) no-repeat 4px 4px;

		opacity: .50;
		filter: alpha(opacity=50);
		-ms-filter: "alpha(opacity=50)";
		-khtml-opacity: .50;
		-moz-opacity: .50;
	}

	.message .close:hover,
	.message .close:active,
	.message .close:focus {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter: "alpha(opacity=100)";
		-khtml-opacity: 1;
		-moz-opacity: 1;
	}

	/* Error messages */

	.error {
		border-color: #8b0800;
		color: #fae7e6;
		background-color: #d00c00;
		background-image: none;
		background-image: -moz-linear-gradient(0% 100% 90deg,#d00c00, #b80900);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b80900), to(#d00c00));
	}

	.error h1,
	.error h2,
	.error h3,
	.error h4 {
		color: #fff;
	}

		.error a {
			color: #fff;
			border-color: #df5c54;
		}

		.error a:link,
		.error a:visited {
			color: #fff;
			border-color: #df5c54;
		}

		.error a:hover,
		.error a:active,
		.error a:focus {
			color: #fff;
			border-color: #fff;
		}

	/* Success messages */

	.success {
		border-color: #4c721f;
		color: #f1f7eb;
		background-color: #72aa2e;
		background-image: none;
		background-image: -moz-linear-gradient(0% 100% 90deg,#72aa2e, #65a01c);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65a01c), to(#72aa2e));
	}

	.success h1,
	.success h2,
	.success h3,
	.success h4 {
		color: #fff;
	}

		.success a {
			color: #fff;
			border-color: #a0c673;
		}

		.success a:link,
		.success a:visited {
			color: #fff;
			border-color: #a0c673;
		}

		.success a:hover,
		.success a:active,
		.success a:focus {
			color: #fff;
			border-color: #fff;
		}

	/* Notice messages */

	.notice {
		border-color: #e6901e;
		color: #332d1c;
		background-color: #ffe38a;
		background-image: none;
		background-image: -moz-linear-gradient(0% 100% 90deg,#ffe38a, #ffce58);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffce58), to(#ffe38a));
	}

	.notice h1,
	.notice h2,
	.notice h3,
	.notice h4 {
		color: #000;
	}

		.notice a {
			color: #000;
			border-color: #ab985d;
		}

		.notice a:link,
		.notice a:visited {
			color: #000;
			border-color: #ab985d;
		}

		.notice a:hover,
		.notice a:active,
		.notice a:focus {
			color: #000;
			border-color: #000;
		}

/* Buttons */

input.inputSubmit,
input.inputButton,
button,
a.button,
a.button:link,
a.button:visited {
	font: 700 11px/1.636 Arial, sans-serif;
	color: #fff;
	background: #366eac;
	background: -moz-linear-gradient(top, #6facf1 0%, #366eac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6facf1), color-stop(100%,#366eac));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6FACF1', endColorstr='#366EAC',GradientType=0 )chroma(color=#000000);
	border: 1px solid #366eac;
	padding: 3px;
	cursor: pointer;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0;
}

button::-moz-focus-inner{ padding: 0; border: 0 }

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input.inputSubmit,
	input.inputButton,
	button {
		padding: 2px 3px;
	}
}

.ie6 input.inputSubmit,
.ie6 input.inputButton,
.ie6 button {
	margin-top: -1px;
	padding: 1px 3px;
}

.ie7 input.inputSubmit,
.ie7 input.inputButton,
.ie7 button {
	padding: 1px 3px 0 3px;
}

.ie8 input.inputSubmit,
.ie8 input.inputButton,
.ie8 button {
	padding: 2px 3px;
}

input.inputSubmit:hover,
input.inputButton:hover,
input.buttonHover,
button:hover,
button.buttonHover,
a.button:hover,
a.button:active,
a.button:focus {
	background: #2d5c91;
	background: -moz-linear-gradient(top, #366eac 0%, #6facf1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#366eac), color-stop(100%,#6facf1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366EAC', endColorstr='#6FACF1',GradientType=0 )chroma(color=#000000);
}

input.inputSubmit[disabled="disabled"],
input.inputButton[disabled="disabled"],
button[disabled="disabled"],
a.disabledButton {
	cursor: default;
	opacity: .50;
	filter: alpha(opacity=50);
	-ms-filter: "alpha(opacity=50)";
	-khtml-opacity: .50;
	-moz-opacity: .50;
}

a.button,
a.button:link,
a.button:visited {
	float: left;
	text-decoration: none;
	padding: 2px 6px;
}

/* Print
------------------------------------- */

@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: .5cm;
	}

	p, h2, h3 {
		orphans : 3;
		widows : 3;
	}

	h2, h3 {
		page-break-after : avoid;
	}
}