{% extends '@Backend/base/crud/index.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}
{% set crudActionName = 'PageAdd' %}

{% block sidebarSubNavigation %}
  {% include '@Pages/Backend/NavigationTree.html.twig' with {'overview': true} %}
{% endblock %}

{% block content %}
  {% if draftDataGrid.paginator.count > 0 %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>{{ 'lbl.Drafts'|trans|ucfirst }}</h2>
      </div>
      {{ pageon_datagrid(draftDataGrid) }}
    </div>
  {% endif %}
  <div class="content-block content-block-pb">
    <div class="content-title">
      <h2>{{ 'lbl.RecentlyEdited'|trans|ucfirst }}</h2>
    </div>
    {{ pageon_datagrid(lastEditedDataGrid) }}
  </div>
{% endblock %}
