/*

    Tree layout
    Based on basic tree skin

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

.tree ul {
	margin: 0;
	padding: 0;
	list-style-type:none;
	background: url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==);
	:background: url(separate/decoded_base64.gif);
	background-position: 10px 1px;
	background-repeat: repeat-y;
	min-height: 16px;
}
.tree li {
	display: block;
	min-height: 16px;
	line-height: 16px; 
	padding: 0 0 0 21px;
	/* Background fix */
	clear: both;
}

.tree li ul {
	display: none;
}

.tree li a:link,
.tree li a:visited,
.tree li span {
	display: inline-block;
	line-height: 16px;
	height: 16px;
	padding: 1px 2px;
	color: #000;
	white-space: nowrap;
	text-decoration: none;
	margin: 0;
	border: none !important;
	outline: 0 !important;
}

.tree li a:focus {
	outline: none;
}

.tree li a input:not([class="xxx"]),
.tree li span input:not([class="xxx"]) {
	padding: 1px 0;
}

/* FOR DOTS */
.tree .ltr li.last {
	float:left;
}

.tree > ul li.last {
	overflow:visible;
} 

/* OPEN OR CLOSE */
.tree li.open ul {
	display: block;
}

.tree li.closed ul {
	display:none !important;
}

/* FOR DRAGGING */
#jstree-dragged {
	position: absolute;
	top: -10px;
	left: -10px;
	margin: 0;
	padding: 0;
}

#jstree-marker {
	padding: 0;
	margin: 0;
	line-height: 5px;
	font-size: 1px;
	display: block;
	position: absolute;
	z-index: 2147483647;
	width: 16px;
	height: 16px;
	background: url(/backend/core/layout/images/sprites/fork_icons.png) 0 -653px no-repeat;
}

#jstree-marker.marker_plus {
	background: url(/backend/core/layout/images/sprites/fork_icons.png) 0 -3px no-repeat;
}

/* BACKGROUND DOTS */ 
.tree li li { overflow: hidden; }
.tree > .ltr > li { display:table; } 

/* ICONS */ 
.tree ul ins {
	display:inline-block;
	text-decoration:none;
	width: 16px;
	height: 16px;
}

.tree .ltr ins {
	margin: 0;
} 

/* DOTS */
.tree-fork li {
	display: block !important;
	font-size: 11px;
}

.tree-fork li {
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* OPEN or CLOSED */

.tree-fork li.leaf {        background: url(separate/leaf.gif) no-repeat 0 0; }
.tree-fork li.closed {      background: url(separate/closed.gif) no-repeat 0 0; }
.tree-fork li.open {        background: url(separate/open.gif) no-repeat 0 0; }
.tree-fork li.closed.last { background: url(separate/closed_last.gif) no-repeat 0 0; }
.tree-fork li.open.last {   background: url(separate/open_last.gif) no-repeat 0 0; }
.tree-fork li.last {        background: url(separate/last.gif) no-repeat 0 0; }

.tree-fork li[rel="hidden"],
.tree-fork li.treeHidden {
	opacity: .5; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=50); /* IE lt 8 */
	-ms-filter: "alpha(opacity=50)"; /* IE 8 */
	-khtml-opacity: .50; /* Safari 1.x */
	-moz-opacity: .50; /* FF lt 1.5, Netscape */
}

.tree-fork li.dragged {
	outline: none;
}

#jstree-dragged.tree-fork li li.open {
	background-position: 0 -16px;
}

.tree-fork li a { width: 200px; }

/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-fork li a:hover,
.tree-fork li a.active,
.tree-fork li a.focus {
	background: #eee;
	/* @inc .rc */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}


.tree-fork li span,
.tree-fork li.selected > a {
	/* @inc .selectedBlue */
	background: #1a57ad;
	background: -webkit-gradient(linear, left top, left bottom, from(#5c93d5), to(#1a57ad));
	background: -moz-linear-gradient(top, #5c93d5, #1a57ad);

	/* @inc .rc */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	color: #FFF;
}

.tree-fork li a.clicked,
.tree-fork li a.clicked:hover,
.tree-fork li span.clicked {
	background: #AAA;
	
	/* @inc .rc */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	color: #FFF;
}

/*
	Icons
*/

/* Basic page */
.tree-fork ins {
	background: transparent url(icons.gif) no-repeat 0 -80px;
	padding-right: 2px;
}

.tree-fork ul li a.loading ins {
	background-image: url('throbber.gif') !important;
	background-position: 0 0 !important;
}

.tree-fork li a ins.forbidden {
	background-position: -16px -16px;
}

.tree-fork .locked li a ins {
	background-position: 0 -48px;
}

.tree-fork li span ins {
	background-position: -16px 0;
}

/*
	Dragged item
*/

#jstree-dragged {
	border: 1px dotted #000;
	background-color: #CCC;
}

#jstree-dragged.tree-fork ins {
	background: url(/backend/core/layout/images/sprites/fork_icons.png) 0 -610px no-repeat;
}

#jstree-dragged.tree-fork ins.forbidden {
	background: url(/backend/core/layout/images/sprites/fork_icons.png) 0 -631px no-repeat;
}

/* LOCKED */
/*
.tree-fork .locked li a {
	color: gray;
}
*/