{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% if dataGrid %}
    <div class="table-responsive">
      {{ dataGrid|raw }}
    </div>
  {% endif %}
  {% if not dataGrid %}
    <p>{{ 'msg.NoStatistics'|trans }}</p>
  {% endif %}
{% endblock %}

