{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% if dataGrid %}
    <div class="table-responsive">
      {{ dataGrid|raw }}
    </div>
  {% else %}
    {{ macro.emptyState(null, null, 'msg.NoStatistics'|trans|ucfirst) }}
  {% endif %}
{% endblock %}

