{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if dataGrid %}
        <div class="table-responsive">
          {{ dataGrid|raw }}
        </div>
      {% endif %}
      {% if not dataGrid %}
        <p>{{ 'msg.NoStatistics'|trans }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

