{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% if showSearchAddSynonym %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('add_synonym'), 'plus-square', 'lbl.AddSynonym'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if dataGrid %}
    <div class="table-responsive">
      {{ dataGrid|raw }}
    </div>
  {% else %}
    {{ macro.emptyState(geturl('add_synonym'), 'msg.AddASynonyms'|trans|ucfirst, 'msg.NoSynonyms'|trans) }}
  {% endif %}
{% endblock %}
