#fieldsHolder h3 {
    margin: 0;
    line-height: 1.42;
}

#formElements li a {
    display: block;
    line-height: 18px;
    padding: 6px 12px 6px 36px;
    background-image: url(../images/fork_icons.png);
    background-repeat: no-repeat;
}

#formElements li#textboxSelector a {
    background-position: 10px -40px;
}

#formElements li#textareaSelector a {
    background-position: 10px -70px;
}

#formElements li#datetimeSelector a {
    background-position: 10px -249px;
}

#formElements li#dropdownSelector a {
    background-position: 10px -100px;
}

#formElements li#checkboxSelector a {
    background-position: 10px -130px;
}

#formElements li#radiobuttonSelector a {
    background-position: 10px -160px;
}

#formElements li#headingSelector a {
    background-position: 10px -192px;
}

#formElements li#paragraphSelector a {
    background-position: 10px -220px;
}
