#fieldsHolder h3 {
    margin: 0;
    line-height: 1.42;
}

#formElements li a {
    display: block;
    line-height: 18px;
    padding: 6px 12px 6px 36px;
    background-image: url(../images/fork_icons.png);
    background-repeat: no-repeat;
}

#formElements li#textboxSelector a {
    background-position: 10px -40px;
}

<<<<<<< HEAD
	#formElements .options {
		padding: 0;
	}

		#formElements .options h3 {
			position: relative;
			padding: 6px 12px;
			color: #999;
			border-bottom: 1px solid #ddd;
			background: #f4f4f4;
		}

		#formElements .options li a {
			display: block;
			font-size: 12px;
			line-height: 18px;
			padding: 6px 12px 6px 36px;
			border-bottom: 1px solid #ddd;
			background-image: url(../images/fork_icons.png);
			background-repeat: no-repeat;
		}

		#formElements .options li:last-child a {
			border: 0;
		}

		#formElements .options li#textboxSelector a {
			background-position: 10px -40px;
		}

		#formElements .options li#textareaSelector a {
			background-position: 10px -70px;
		}

		#formElements .options li#datetimeSelector a {
			background-position: 10px -249px;
		}

		#formElements .options li#dropdownSelector a {
			background-position: 10px -100px;
		}

		#formElements .options li#checkboxSelector a {
			background-position: 10px -130px;
		}

		#formElements .options li#radiobuttonSelector a {
			background-position: 10px -160px;
		}

		#formElements .options li#headingSelector a {
			background-position: 10px -192px;
		}

		#formElements .options li#paragraphSelector a {
			background-position: 10px -220px;
		}

			.box .content {
				background: none ;
				border: 0;
				padding: 0;
			}

				.box .content ul, .box .content p {
					padding-bottom: 12px;
				}

			.box .ui-sortable-helper {
				border-top: 1px solid #ddd !important;
				background: rgba(255, 255, 255, 0.75);
			}

	/* Extra tab */

	#tabExtra {
		padding: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}

	/* Confirmation Mail */

	#mailSubject {
		width: 80%;
	}

	/* Pop-ups */

	#tabTextboxBasic, #tabTextboxProperties, #tabTextareaBasic, #tabTextareaProperties, #tabDropdownBasic, #tabDropdownProperties, #tabRadiobuttonBasic, #tabRadiobuttonProperties, #tabCheckboxBasic, #tabCheckboxProperties, #tabDatetimeBasic, #tabDatetimeProperties {
		padding: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}
=======
#formElements li#textareaSelector a {
    background-position: 10px -70px;
}
>>>>>>> 3.10

#formElements li#datetimeSelector a {
    background-position: 10px -249px;
}

#formElements li#dropdownSelector a {
    background-position: 10px -100px;
}

#formElements li#checkboxSelector a {
    background-position: 10px -130px;
}

#formElements li#radiobuttonSelector a {
    background-position: 10px -160px;
}

#formElements li#headingSelector a {
    background-position: 10px -192px;
}

#formElements li#paragraphSelector a {
    background-position: 10px -220px;
}
