#tabFields span.dragAndDropHandle {
    width: 22px;
    height: 22px;
    float: right;
    border: 1px solid #ddd;
    margin-left: 12px;
    background: #fafafa url(../images/fork_icons.png) no-repeat 4px -22px;
    cursor: move;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#fieldsHolder input.inputText[disabled="disabled"], #fieldsHolder input.inputPassword[disabled="disabled"] {
    background: url(../../../../Core/Layout/images/ds.png) repeat-x #fff;
    color: #666;
}

#formElements li a {
    display: block;
    line-height: 18px;
    padding: 6px 12px 6px 36px;
    background-image: url(../images/fork_icons.png);
    background-repeat: no-repeat;
}

#formElements li#textboxSelector a {
    background-position: 10px -40px;
}

#formElements li#textareaSelector a {
    background-position: 10px -70px;
}

#formElements li#dropdownSelector a {
    background-position: 10px -100px;
}

#formElements li#checkboxSelector a {
    background-position: 10px -130px;
}

#formElements li#radiobuttonSelector a {
    background-position: 10px -160px;
}

#formElements li#headingSelector a {
    background-position: 10px -192px;
}

#formElements li#paragraphSelector a {
    background-position: 10px -220px;
}
