/*

    Installer CSS
    
    @package      backend
    @subpackage   installer
    
    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

#apiHolder { width: 800px; margin: 20px auto; padding: 20px; border: 1px solid #DDD; }
body#api{ background: #FFF; height: auto; }
#installerHolder { width: 100%; height: 100%; }

h3 { margin-top: 20px; }
dl { margin-bottom: 20px; }
dl dt { font-weight: 900; }
dl dd { margin-left: 20px; }