html {
  min-height: 100%;
}

.sidebar {
  background: $brand-primary-dark;
  width: 100%;
}

.main-wrapper {
  position: relative;
  width: 100%;
}

.content-wrapper {
  position: relative;
}


@media screen and (min-width: $screen-sm) {

  .sidebar {
    bottom: 0;
    height: auto;
    left: 0;
    overflow-y: hidden;
    position: absolute;
    top: 82px;
    width: 50px;
    z-index: 2;
  }

  .sidebar-bg {
    background: $brand-primary-dark;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 50px;
    z-index: -1;
  }

  .main-wrapper {
    height: 100%;
    padding-left: 50px;
    margin-top: -82px;
    padding-top: 82px;
  }

  .content-sidebar {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 190px;
  }

  .content-main {
    padding-left: 190px;
    width: 100%;

    &.content-main-dashboard {
      padding-left: 0;
    }
  }
}

@media screen and (min-width: $screen-md) {

  .sidebar {
    width: 240px;
  }

  .sidebar-bg {
    width: 240px;
  }

  .main-wrapper {
    padding-left: 240px;
  }
}
