{% if editorBlock.style == 'ordered' %}
  {% set list_element = 'ol' %}
{% else %}
  {% set list_element = 'ul' %}
{% endif %}
<{{ list_element }}>
{% for item in editorBlock.items %}
  <li>{{ item|raw }}</li>
{% endfor %}
</{{ list_element }}>
