{% set alignment = tunes.alignmentBlockTune.alignment %}

<div class="row g-3 {% if alignment == 'center' %} text-center{% elseif alignment == 'right' %} text-end{% endif %}">
  <div class="col-lg-6{% if editorBlock.imagePosition == 'right' %} order-lg-2{% endif %}">
    <img src="https://via.placeholder.com/400x400" alt="">
  </div>
  <div class="col-lg-6{% if editorBlock.imagePosition == 'right' %} order-lg-1{% endif %}">
    {% if editorBlock.title %}
      <h2>{{ editorBlock.title|nl2br }}</h2>
    {% endif %}
    <p>{{ editorBlock.text|nl2br }}</p>
    <a href="{{ editorBlock.buttonUrl }}" class="btn btn-primary">{{ editorBlock.buttonText }}</a>
  </div>
</div>
