{% extends 'Core/Layout/Templates/Base.html.twig' %}

{% block main %}

  <div class="container">
    {% include 'Core/Layout/Templates/Breadcrumb.html.twig' %}
  </div>

  <div class="container">
    <div class="row">
      <div id="errorIcon">
        <img src="{{ THEME_URL }}/apple-touch-icon.png" class="img-circle">
      </div>
    </div>
    {% for main in positions.main %}
      {% if main.html %}
        {{ main.html|raw }}
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}

