<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-4" role="navigation">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="/" class="navbar-brand">
      {{ siteTitle }}
    </a>

    <div id="navbar-collapse" class="collapse navbar-collapse">
      {{ getnavigation('page', 0, 1) }}

      {% for top in positions.top %}
        {% if top.html %}
          {{ top.html|raw }}
        {% endif %}
      {% endfor %}

      {% include 'Core/Layout/Templates/Languages.html.twig' %}
    </div>
  </div>
</nav>
