{%- if backend_form is defined %}{% form_theme backend_form '@Backend/base/form_theme.html.twig' %}{% endif -%}
<!DOCTYPE html>
<html lang="{{ app.user is not null ? app.user.setting('locale') : app.request.locale }}">
{% include "@Backend/base/head.html.twig" %}
<body {%- block bodyAttributes -%}{%- endblock -%}>
{% block content %}

{% endblock %}

{% include "@Backend/base/messaging.html.twig" %}

<div class="footer-login">
  {% include "@Backend/base/footer.html.twig" %}
</div>
</body>
</html>
