<footer id="footer">
  <div class="container-fluid">
    <div class="footer-inner" lang="en">
      <p class="text-center text-muted"><small><i>Powered by</i></small></p>
      <a href="https://www.fork-cms.com" target="_blank" rel="noopener noreferrer" class="d-inline-block">
        <img src="{{ asset('assets/modules/Backend/Backend/images/logo_footer.svg') }}" alt="Fork CMS" class="logo-footer img-fluid">
      </a>
    </div>
  </div>
</footer>
