{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('Add') %}
        {{ macro.buttonIcon( geturl('add'), 'plus-square', 'lbl.AddForm'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ macro.dataGrid(dataGrid, geturl('add'), 'msg.AddAForm'|trans, 'msg.NoItems'|trans) }}
{% endblock %}

