/*

	Stylesheet for <Default theme>

	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>
	author:     Johan Ronsse <johan@netlash.com>

*/

/*
	Reset
*/

body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border:0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

/*
	Clearfix
*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
	Typography and text styles
*/

body {
	font-family: Georgia, serif;
	font-size: 13px;
	line-height: 1.5;
	color: #333;
	background: #F4F4F4;
}

/* Headings */
h1, h2, h3, h4 {
	font-weight: 700;
	line-height: 1.2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

h1, h2 {
	font-size: 19px;
	padding: 0 0 19px;
}

h3 {
	font-size: 16px;
	padding: 0 0 14px 0;
}

h4 {
	font-size: 13px;
	padding: 7px 0 7px 0;
	font-weight: 700;
}

p {
	padding: 0 0 14px 0;
}

	p.intro {
		font-size: 18px;
	}

abbr, acronym {
	cursor: help;
}

.content ul,
.content ol {
	padding: 0 0 12px 24px;
}

.content ul {
	list-style: disc;
}

.content ol {
	list-style-type: decimal;
	padding: 0 0 12px 24px;
}

	.content ul ul,
	.content ol ul {
		padding-bottom: 0;
	}

	.content ol ol {
		padding-bottom: 0;
	}

	.content ul ol {
		padding: 0 0 0 28px;
	}

code {
	font-family: Monaco, "Courier New", monospace;
	font-size: 12px;
	line-height: 1.15;
}

pre {
	padding: 7px 14px;
	background: #F5F5F5;
	margin: 0 0 14px;
}

blockquote, q {
	font-style: italic;
	color: #666;
}

blockquote {
	padding: 0 0 0 14px;
}

cite {
	font-size: 11px;
	text-align: right;
	display: block;
	position: relative;
	top: -14px;
	height: 0;
	/* Dismisses height to correctly align next element */
}

/*
	Default styling for data tables
*/
.content table {
	font-family: Arial, sans-serif;
	margin: 0 0 14px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

.content td,
.content th {
	padding: 7px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-size: 11px;
}

.content th {
	font-weight: 700;
	background: #F5F7F9;
	color: black;
	line-height: 1.2;
	text-align: left;
}

.content tr.rowOdd { background: #FFF; }
.content tr.rowEven { background: #FCFCFC; }

/*
	Links
*/

a {
	text-decoration: none;
}

a:link {
	color: blue;
	border-bottom: 1px solid lightblue
}

a:visited {
	color: purple;
	border-bottom: 1px solid purple;
}

a:hover,
a:active {
	color: black;
	border-bottom: 1px solid silver;
}

/*
	Home
*/

#homeCTA {
	background: #EEE;
	padding: 20px;
	font-size: 11px;
	font-family: Arial, sans-serif;
}

/*
	Browse
*/

#news.browse h2 {
	padding-bottom: 0;
}

/*
	Detail
*/

#news.detail h1 {
	font-size: 18px;
	padding: 0;
}

/*
	MODULE: Blog
*/

/*
	General
*/


#blog p.date {
	font-size: 11px;
	line-height: 1.5;
	padding: 0 0 9px 0;
	color: #666;
}

	#blog .meta ul {
		padding: 0;
		list-style: none;
	}

		#blog .meta ul li {
			font-size: 11px;
			float: left;
			line-height: 1.8;
			padding: 0 8px 0 0;
		}

/*
	Home
*/

#blog.home {

}

/*
	Browse
*/

#blog.browse h2 {
	padding-bottom: 0;
}

/*
	Detail
*/



/*
	Category
*/

#blogArchiveMini {
	width: 130px;
	float: right;
	border: 1px solid #D9D9D9;
	background: #FFF;
	padding: 10px;
}

/*
	MODULE: Contact
*/

/*
	Form
*/

input, textarea {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

textarea.textarea {
	padding: 3px 2px;
}

.formError {
	color: red;
	display: block;
	padding: 0 0 2px 0;
}

.formSuccess {
	color: green;
	display: block;
	background: #CFC;
	padding: 8px;
	border: 1px solid green;
	margin: 0 0 10px;
}

input.inputTextError,
input.inputPasswordError,
textarea.textareaError {
	border: 1px solid red;
	padding: 3px 2px;
}

form dl dd {
	padding: 0 0 8px 0;
}

#name,
#email,
#website,
#subject {
	width: 210px;
}

#message {
	width: 350px;
	height: 10em;
}

/*
	MODULE: FAQ
*/

/*
	Category
*/

#faq.category dt {
	padding: 0;
}

#faq.category dt p {
	font-weight: 700;
	padding: 0 0 5px 0;
}

#faq.category dd {
	border-bottom: 1px solid #CCC;
	margin: 0 0 10px 0;
}

/*
	MODULE: Newsletter
*/

/*
	Subscribe
*/

#newsletterSubscribeForm ul {
	padding: 0;
}

#newsletterSubscribeForm ul li {
	list-style: none;
}

/*
	MODULE: Guestbook
*/

/*
	Browse
*/

#guestbook.browse .gravatar {
	float: right;
}

#guestbook.browse .guestbookComment {
	margin: 0 0 26px;
	min-height: 45px;
	height: auto !important;
	height: 45px;
}

/*
	Fork defaults: image classes
*/

img.alignLeft {
	float: left;
	padding: 0 10px 10px 0;
}

img.alignRight {
	float: right;
	padding: 0 0 10px 10px;
}

/*
 	Pattern: pagination
*/

.paginationWrap {
	width: 100%;
	overflow: hidden;
}

.pagination {
	float: left;
	position: relative;
	left: 50%;
}

.pagination ul {
	padding: 18px 0;
	z-index: 2;
	overflow: hidden;
	position: relative;
	left: -50%;
}

.pagination li {
	float: left;
	list-style: none;
	margin: 0 5px 0 0;
	text-decoration: none;
	padding: 0;
	line-height: 15px;
	font-size: 12px;
	text-align: center;
}

.pagination li span {
	float: left;
	display: block;
	padding: 4px 5px;
	color: #CCC;
	min-width: 12px;
}

.pagination li.currentPage span {
	font-weight: 700;
	color: black;
}

.pagination li.selected span {
	padding: 4px 5px;
	font-weight: 700;
	color: #000;
}

.pagination li a:link,
.pagination li a:visited {
	float: left;
	display: block;
	padding: 3px 4px;
	border: 1px solid #CCC;
	text-decoration: none;
	min-width: 12px;
}

li.ellipsis {
	margin: 0;
}

li.ellipsis span {
	color: black;
}

.pagination li a:hover,
.pagination li a:active {
	background: #EEE;
	border: 1px solid #AAA;
	color: black;
}

.nextPage, .previousPage { font-size: 11px !important; }
.pagination li.nextPage { margin-left: 10px; }
.pagination li.previousPage { margin-right: 15px; }






/*
	Delete from here whens starting a new project
*/

/*
	Site specific: Fork Cayenne demo
*/

#topbar:after,
#header:after,
#main:after,
#footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
	Header
*/

#header {
	padding: 12px;
}

#header h1 {
	font-size: 36px;
	font-weight: 700;
	float: left;
}

#header h1 a {
	text-decoration: none;
	letter-spacing: -1px;
	border: none;
	font-size: 36px;
	color: #000;
}

/*
	User
*/

#user {
	font-size: 11px;
	float: right;
}

#user input {
	font-size: 11px;
}

#user input.inputText {
	width: 110px;
}

#user input.inputPassword {
	width: 70px;
}

#user p {
	padding: 0 0 10px;
}

/*
	Breadcrumb
*/

#breadcrumb {
	font-size: 11px;
	font-family: Arial, sans-serif;
}

/*
	Page structure and layout
*/

/*
	Wrappers
*/

#container {
	width: 880px;
	margin: 20px auto;
	padding: 20px;
	background: #FFF;
	
	/* @inc .boxShadow */
	box-shadow: 2px 2px 6px #AAA;
	-webkit-box-shadow: 2px 2px 6px #AAA;
	-moz-box-shadow: #AAA 2px 2px 6px;
}

/*
	Language
*/

#language {
	font-family: Arial, sans-serif;
	float: right;
	width: 300px;
	padding-top: 20px;
	position: relative;
}

#language ul {
	float: right;
}

#language li {
	float: left;
	list-style: none;
	font-size: 11px;
	margin: 0 10px 0 0;
}

#language li a:link,
#language li a:visited {
	padding: 4px 5px;
	display: block;
	min-width: 15px;
	text-align: center;
	border: none;
}

#language li a:hover,
#language li a:active {
	background: #FFF;
	color: #000;
}

#language li.selected a {
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

/*
	Main
*/

#main {
	padding: 20px 0;
	background: #FFF;
	border-top: 1px solid #CCC;
}

	/* Layout within main */
	#sidebar {
		width: 240px;
		float: left;
		font-family: Arial, sans-serif;
	}

	#content {
		border-left: 1px solid #CCC;
		width: 550px;
		float: left;
		padding: 0 0 0 40px;
		min-height: 400px;
		height: auto !important;
		height: 400px;
	}

/*
	Navigation
*/

#navigation {
	font-family: Arial, sans-serif;
	margin: 0 0 40px;
}

#navigation li {
	padding-left: 0;
}

	#navigation li.selected {
		font-weight: 700;
	}

#navigation li a {
	border-bottom: 1px solid #CCC;
	display: block;
	font-weight: 700;
	padding: 4px 12px;
	color: #000;
	background: #EEE;
}

	#navigation li li a {
		padding-left: 24px;
		font-weight: 400;
	}

/* Footer */

#footer {
	border-top: 1px solid #CCC;
}

#footer ul {
	float: right;
	padding: 12px;
	font-family: Arial, sans-serif;
}

#footer li {
	float: left;
	padding: 0 12px 0 0;
	list-style: none;
	font-size: 11px;
}

#footer li a {
	color: #666;
}

/*
	By module
*/

	/*
		Blog
	*/

	#blog .article {
		margin: 0 0 40px;
	}

	#blog .article .heading h1,
	#blog .article .heading h2 {
		padding: 0 0 4px;
	}

		#blog .article .heading h1 a,
		#blog .article .heading h2 a {
			border: none;
			font-size: 24px;
		}

	#blog .article .heading p {
		font-family: Arial, sans-serif;
	}

	#blog .article .meta {
		font-family: Arial, sans-serif;
	}

	#commentForm label {
		display: block;
	}

	#blog .meta {
		margin: 0 0 20px 0;
		color: #808080;
		padding: 6px;
		background: #EEE;
	}

	#blog .meta a {
		color: #666;
	}

	#blog .meta ul:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
	#blog .meta ul {
		zoom: 1;
	}
	
/*
	Messages
*/

.message {
	padding: 12px;
	margin: 0 0 12px;
	background: #FFF;
}

.message p {
	padding: 0;
}

	.notice {
		background: #FFC;
	}
	
	.success {
		background: green;
		color: #FFF;
	}
	
	.error {
		background: red;
		color: #FFF;
	}
	
/*
	Max width for images
*/

#content img {
	max-width: 100%;
	height: auto;
}

/*
	Contact
*/

#contactForm label {
	display: block;
	font-family: Arial, sans-serif;
}

h2.pageTitle {
	font-size: 30px;
}

#home h3 {
	line-height: 1.5;
}

