// a mixin to simplify our code
@mixin typeahead-form-control($border-color) {
  border-color: $border-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  &:focus {
    border-color: darken($border-color, 10%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($border-color, 20%);
  }
}

// coloring based on state
.has-warning .twitter-typeahead {
  .tt-input,
  .tt-hint {
    @include typeahead-form-control($warning);
  }
}

.has-error .twitter-typeahead {
  .tt-input,
  .tt-hint {
    @include typeahead-form-control($danger);
  }
}

.has-success .twitter-typeahead {
  .tt-input,
  .tt-hint {
    @include typeahead-form-control($success);
  }
}

// borders
.input-group .twitter-typeahead {
  &:first-child {
    .tt-input,
    .tt-hint {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
      width: 100%;
    }
  }

  &:last-child {
    .tt-input,
    .tt-hint {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
      width: 100%;
    }
  }
}

// sizing - small
.input-group.input-group-sm .twitter-typeahead {
  .tt-input,
  .tt-hint {
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;
    height: $input-height-sm;
    line-height: $line-height-sm;
    padding: $input-padding-x-sm $input-padding-y-sm;
  }

  &:not(:first-child):not(:last-child) {
    .tt-input,
    .tt-hint {
      border-radius: 0;
    }
  }

  &:first-child {
    .tt-input,
    .tt-hint {
      border-radius: $border-radius-sm 0 0 $border-radius-sm;
    }
  }

  &:last-child {
    .tt-input,
    .tt-hint {
      border-radius: 0 $border-radius-sm $border-radius-sm 0;
    }
  }
}

select.input-group.input-group-sm .twitter-typeahead {
  .tt-input,
  .tt-hint {
    line-height: $input-height-sm;
  }
}

textarea.input-group.input-group-sm .twitter-typeahead,
select[multiple].input-group.input-group-sm .twitter-typeahead {
  .tt-input,
  .tt-hint {
    height: auto;
  }
}

// sizing - large
.input-group.input-group-lg .twitter-typeahead {
  .tt-input,
  .tt-hint {
    border-radius: $border-radius-lg;
    font-size: $font-size-lg;
    height: $input-height-lg;
    line-height: $line-height-lg;
    padding: $input-padding-x-lg $input-padding-y-lg;
  }

  &:not(:first-child):not(:last-child) {
    .tt-input,
    .tt-hint {
      border-radius: 0;
    }
  }

  &:first-child {
    .tt-input,
    .tt-hint {
      border-radius: $border-radius-lg 0 0 $border-radius-lg;
    }
  }

  &:last-child {
    .tt-input,
    .tt-hint {
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
    }
  }
}

select.input-group.input-group-lg .twitter-typeahead {
  .tt-input,
  .tt-hint {
    line-height: $input-height-lg;
  }
}

textarea.input-group.input-group-lg .twitter-typeahead,
select[multiple].input-group.input-group-lg .twitter-typeahead {
  .tt-input,
  .tt-hint {
    height: auto;
  }
}

// wrapper
.twitter-typeahead {
  float: left;
  width: 100%;

  .tt-hint {
    color: $text-muted;
  }

  .tt-input {
    z-index: 2;
  }
}

.form-inline .twitter-typeahead {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  background-color: $input-disabled-bg !important;
  cursor: not-allowed;
}

// dropdown styles
.tt-dropdown-menu,
.tt-menu {
  background-clip: padding-box;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border-color;
  border: 1px solid $dropdown-border-color;
  border-radius: $border-radius;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  font-size: $font-size-base;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $zindex-dropdown;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
  clear: both;
  color: $dropdown-link-color;
  display: block;
  font-weight: normal;
  line-height: $line-height-base;
  padding: 3px 20px;

  &.tt-cursor,
  &:hover {
    background-color: $dropdown-link-hover-bg;
    color: $dropdown-link-hover-color;
    cursor: pointer;
    outline: 0;
    text-decoration: none;

    a {
      color: $dropdown-link-hover-color;
    }
  }

  p {
    margin: 0;
  }
}
