{% extends '@Backend/base/base.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}
{% set crud_action_module = null %}
{% set crud_action_parameters = [] %}
{% set crud_action_relative = false %}
{% set crud_action_locale = null %}

{% block actionbar %}
  {% if is_allowed(crud_action_name, crud_action_module) %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(action_path(crud_action_name, crud_action_module, crud_action_parameters, crud_action_relative, crud_action_locale), crudActionIcon|default('plus-square'), crustActionLabel|default('lbl.Add'|trans|ucfirst), 'btn-success') }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {{ pageon_datagrid(
    backend_data_grid,
    {
      dataGridEmptyAction: dataGridEmptyAction|default(null),
      dataGridEmptyModule: dataGridEmptyModule|default(null),
      dataGridEmptyParameters: dataGridEmptyParameters|default([]),
      dataGridEmptyRelative: dataGridEmptyRelative|default(false),
      dataGridEmptyLocale: dataGridEmptyLocale|default(null),
      dataGridEmptyLabel: dataGridEmptyLabel|default('lbl.Add'|trans|ucfirst),
    }
  ) }}
{% endblock %}
