.breadcrumb {
  margin-bottom: 0;
  padding: 9px 0;

  li + li {
    padding-left: 13px;
    position: relative;
  }

  li {
    font-size: $font-size-sm;

    span {
      display: inline-block;
    }

    a {
      display: inline-block;
      color: $gray-700;
      border-bottom: 1px solid transparent;

      &:hover,
      &:focus {
        border-bottom-color: $gray-550;
        text-decoration: none;
      }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .svg-inline--fa {
      color: $gray-550;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
