/**
 * Media library Helper
 *
 * Structure:
 *   #media-connected-items
 *    .media-connected-box
 *    .media-connected-items
 */

.media-library-media-library-media-group-helper-helper .media-group {
  margin-bottom: 0;
}

.media-group {
  .panel-body {
    padding: 0;
    border: none;

    .help-txt {
      padding: 20px 25px 25px;
      margin-bottom: 0;
    }
  }

  .media-connected-box {
    background-color: $white;
  }

  .media-group-type-errors {
    padding: 0 25px 5px;
  }
}

.panel-danger .media-connected-box .media-no-items {
  padding-bottom: 0;
}

#add-galleries-box a {
  float: right;
}

.media-connected-items {
  float: none;
  padding: 0;
  margin: 0;

  /* stylelint-disable */
  @extend .list-unstyled;
  /* stylelint-enable */

  .media-item {
    background-color: transparent;
    border: 0;
    box-shadow: 0 1px 9px 0 rgba($black, 0.2);
    display: inline-block;
    margin: 10px 20px 10px 0;
    vertical-align: top;

    &.fork-data-grid-sortable .media-holder {
      cursor: move;
    }
  }
}

.media-edit-box {
  ul {
    padding: 10px;
  }

  li {
    display: inline;
    float: left;
    padding-right: 10px;
  }
}

.media-settings-group {
  position: absolute;
  right: 10px;
}

.media-library-media-group-helper {
  .panel-body,
  .media-group {
    padding: 0 !important;
    margin: 0 !important;
  }

  .panel-body {
    .panel {
      border: none;
      width: 100%;
    }

    .media-settings-group {
      right: 0;
    }
  }
}

.media-holder {
  cursor: pointer;
  display: block;
  float: left;
  min-width: 186.66px;
  position: relative;

  .btn-block + .btn-block {
    margin-top: 0;
  }
}

.media-holder-file,
.media-holder-movie,
.media-holder-audio {
  position: relative;

  .icon {
    color: $black;
    font-size: 22px;
    margin-left: -9px;
    margin-top: -15px;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .url {
    bottom: 5px;
    font-size: 0.8em;
    color: $black;
    text-align: center;
    word-wrap: break-word;
    position: absolute;
    width: 100%;
  }
}

.media-holder-audio .icon {
  background-position: 0 -468px;
}

.media-holder-file .icon {
  background-position: 0 -443px;
}

.media-holder-movie {
  width: 200px;

  .icon {
    background-position: 0 -468px;
  }

  .url,
  .icon {
    color: $white;
    -webkit-font-smoothing: antialiased;
  }
}

.media-holder-image img {
  height: 120px;
  width: auto;
}

.add-uploaded-media-item {
  align-items: center;
  border-radius: 100px;
  background: rgba($gray-700, .9);
  border-color: $gray-700;
  display: flex;
  justify-content: center;
  height: 50px;
  outline: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  transform: translate(-50%, -50%);

  /* stylelint-disable-next-line selector-class-pattern */
  .svg-inline--fa {
    color: $white;
  }

  &:hover,
  &:focus {
    background: $gray-700;
    border: $gray-700;
  }
}

.delete-media-item {
  border-radius: 50px;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -15px;
  width: auto;
}

.edit-media-item {
  border-radius: 50px;
  bottom: 5px;
  padding: 5px 10px;
  position: absolute;
  right: 5px;
  width: auto;
}

/**
 * Media Dialog
 */

#add-media-dialog,
#cropper-media-dialog {
  .modal-body {
    padding: 0;
    background: none;
    border: none;
  }
}

#add-media-dialog #tab-library {
  .options {
    margin-bottom: 1em;
  }

  .tab-content {
    padding: 0;
    border: none;

    .table-striped {
      border-top: 0;
      padding: .5em 0 0;
    }
  }

  .table-responsive {
    max-height: 400px;
    overflow: auto;
  }
}

.media-table {
  .check {
    width: 30px;
  }

  .full-url {
    width: 90px;
    cursor: pointer;
  }

  .url {
    max-width: 156px;
  }

  title {
    max-width: 140px;
    color: #000;
  }

  .actions {
    max-width: 100px;

    a {
      float: right;
    }
  }
}

.input-list.no-padding,
.input-list.no-padding li {
  padding: 0;
}

#upload-media-type-box label {
  vertical-align: bottom;
}

/**
 * Uploaded media box
 */
#uploaded-media-box {
  .panel-body {
    padding: 20px;
  }
}

/**
 * Fine uploader
 */
.qq-uploader {
  border-radius: 0 !important;
  max-height: 560px;
}

.qq-upload-button-selector {
  margin-bottom: 1.5em;
}

.qq-progress-bar-container-selector {
  position: absolute;
  inset: 0;

  .qq-progress-bar {
    background: $gray-200;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}

#fine-uploader-gallery .qq-upload-list {
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;

  li {
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid $border-color;
    border-top: 0;
    margin: 0;
    min-height: 49px;
    position: relative;
    vertical-align: top;
    width: 100%;

    .qq-upload-cancel {
      /* stylelint-disable */
      @extend .btn-danger;
      /* stylelint-enable */

      border-radius: 50px;
      padding: 5px 10px;
      margin-right: 0;
    }

    .qq-upload-file {
      height: auto;
      max-width: 300px;
      width: auto;
    }

    .qq-upload-retry-selector {
      /* stylelint-disable */
      @extend .btn-primary;
      /* stylelint-enable */

      position: relative;

      .qq-btn {
        display: none;
      }
    }

    .qq-file-info {
      align-items: center;
      display: flex;
      font-size: $font-size-sm;
      position: relative;

      .qq-file-name {
        float: left;
      }

      .qq-btn {
        border: none;
        border-radius: 50px;
        box-shadow: none;
        margin-right: 7px;
        padding: 5px 9px;
        text-shadow: none;

        svg {
          margin: 0;
        }

        &.qq-upload-delete {
          /* stylelint-disable */
          @extend .btn-danger;
          /* stylelint-enable */
        }

        &.qq-upload-continue,
        &.qq-upload-pause {
          /* stylelint-disable */
          @extend .btn-primary;
          /* stylelint-enable */
        }
      }
    }

    &.qq-upload-fail .qq-upload-status-text {
      color: $danger;
    }

    .qq-upload-status-text {
      display: inline-block;
      margin-right: 20px;
      position: relative;
      z-index: 1;
    }

    .qq-upload-spinner {
      background: none;
      font-size: 5px;
      height: auto;
      margin-right: 10px;
      width: auto;
    }
  }
}
