@use 'sass:color';

.sortable-ghost {
  background: color.adjust($primary, $lightness: 45%);

  > td {
    background: color.adjust($primary, $lightness: 45%);
  }
}

.sortable-drag {
  background: $white;

  > td {
    background: $white;
  }
}
