.toast {
  box-shadow: none;
  max-width: none;
  width: 100%;

  .toast-logo {
    height: 20px;
  }

  .close {
    float: none;
    opacity: 1;
    position: absolute;
    right: 5px;
    text-shadow: none;
    top: 5px;

    /* stylelint-disable-next-line selector-class-pattern */
    .svg-inline--fa {
      color: $body-color;
      font-size: $font-size-base * 0.85;
    }
  }

  &[data-bs-autohide="false"] {
    .toast-progress {
      display: none;
    }
  }
}

.toast-body {
  padding: $toast-padding-x $toast-padding-x $toast-padding-x 2.2rem;
  position: relative;

  p {
    display: inline-block;
  }

  p,
  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
  }

  .toast-icon {
    position: absolute;
    left: $toast-padding-x;
    top: 1rem;
  }
}

.toast-progress {
  height: 5px;
  background-color: $gray-300;
  width: 100%;

  &--inner {
    width: 0;
    background-color: $gray-600;
    animation-name: progress;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 5s;
    height: 5px;
  }
}

.toast-xs .toast-body {
  padding: 0.3rem 0.5rem 0.3rem 2.2rem;

  .toast-icon {
    top: 0.5rem;
  }
}

@each $color, $value in $theme-colors {
  .toast-#{$color} {
    background: shift-color($value, $alert-bg-scale);
    border-left: 5px solid shift-color($value, $alert-border-scale);

    /* stylelint-disable-next-line selector-class-pattern */
    .svg-inline--fa {
      color: $value;
    }

    a {
      color: shift-color($value, $alert-color-scale);
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .toast-progress--inner {
      background-color: shift-color($value, $alert-border-scale);
    }
  }
}

.toast-messaging-wrapper {
  padding: ($grid-gutter-width / 2) ($grid-gutter-width / 2) 0;
  z-index: $zindex-modal-backdrop + 1;

  .toast {
    box-shadow: $toast-box-shadow;
    max-width: $toast-max-width;
  }
}


@include media-breakpoint-up(md) {
  .toast-messaging-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 65vw;
  }
}

@include media-breakpoint-up(lg) {
  .toast-messaging-wrapper {
    width: calc(#{$toast-max-width} - #{$grid-gutter-width});
  }
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
