.widget-media-library-lightbox {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  -moz-column-count: 5;
  -moz-column-gap: 0;
  column-count: 5;
  column-gap: 10px;

  img {
    max-width: 100%;
  }

  figcaption {
    display: none;
  }
}
