@charset 'UTF-8';

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";
@import 'bootstrap-variables';
@import 'bootstrap-imports';
@import 'overwrite-variables';

// Plugins

// Base
@import 'base/type';
@import 'base/base';

// Components
@import 'components/alerts';
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/button-share';
@import 'components/cookiebar';
@import 'components/privacy_dialog';
@import 'components/footer';
@import 'components/forms';
@import 'components/headers';
@import 'components/labels';
@import 'components/lightbox';
@import 'components/modules';
@import 'components/navbar';
@import 'components/sections';
@import 'components/slider';

// Custom page styling
// Insert custom page styling here. Put all page styles in the pages/ directory
// eg. @import 'pages/footer';
