/* Out of date, need to compile! */

/*

	Name:       IE7 conditional comments for
	            Winston general module [0.4]

*/

/* Clearfix */

.clearfix {
	zoom: 1;
}

/*

	Name:       IE7 conditional comments for
	            Winston layout module [0.4]

*/

/* Clearfix */

.cols,
.colsGrid {
	zoom: 1;
}