# fix ETags
FileETag MTime Size

# caching
<IfModule mod_expires.c>
	ExpiresActive On
	<FilesMatch "\.(ico|gif|jpe?g|png|js|css|swf)$">
		ExpiresDefault "access plus 1 month" 
	</FilesMatch>
</IfModule>

# options 
Options -Indexes
Options +FollowSymlinks

# nice urls
RewriteEngine On
RewriteCond %{REQUEST_URI} !^$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [NC,L]
