{% block body %}
{% form search %}
<div class="form-group">
	{% form_field q_widget %}{{ form.search.txt.QWidgetError|raw }}
</div>
<input type="submit" class="btn btn-success" name="submit" value="{{ lbl.Search|capitalize }}">
{% endform %}
{% endblock %}
