<section id="searchFormWidget" class="navbar-form pull-right navbar-left search" role="search">
  {% form search %}
    <label for="qWidget" class="hide">{{ 'lbl.SearchTerm'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
    <div class="form-group">
      {% form_field q_widget %}
    </div>
    <input id="submit" class="btn btn-default" type="submit" name="submit" value="{{ 'lbl.Search'|trans|capitalize }}" />
  {% endform %}
</section>
