<section id="sitemapIndex">
  {{ getnavigation('page', 0, null, null, '/Modules/Pages/Layout/Templates/Sitemap.html.twig')|raw }}
  {{ getnavigation('meta', 0, null, null, '/Modules/Pages/Layout/Templates/Sitemap.html.twig')|raw }}
</section>
