body { background-color:#fff; }
small {font-family: Arial, sans-serif; font-size: 11px; font-weight: normal; color: #a9a9a9; display: block; text-align: center;}
small a {color: #7f7f7f; border-color: #cdcdcd;}