{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form settings %}
  <div class="card card-default">
    <div class="card-heading">
      <h2 class="card-title">
        {{ 'lbl.MetaNavigation'|trans|ucfirst }}
      </h2>
    </div>
    <div class="card-body">
      <div class="form-group last">
        <div class="form-check">
          {% form_field meta_navigation %}
          <label for="metaNavigation" class="form-check-label">{{ 'msg.MetaNavigation'|trans|ucfirst }}</label>
        </div>
        <small class="form-text text-muted">{{ 'msg.HelpMetaNavigation'|trans }}</small>
      </div>
    </div>
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "id":"save", "type":"submit", "name":"save" }) }}
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
