<section class="module-profiles block-profiles-index">
  {% block blockBody %}
    <div class="row">
      <div class="col-xs-12">
        <p>
          You can use this as a dashboard.
        </p>
      </div>
    </div>
  {% endblock %}
</section>
