<section id="sitemapIndex" class="mod">
  <div class="inner">
    <div class="bd content">
      {{ getnavigation('page', 0, '/Modules/Pages/Layout/Templates/Sitemap.html.twig') }}
      {{ getnavigation('meta', 0, '/Modules/Pages/Layout/Templates/Sitemap.html.twig') }}
    </div>
  </div>
</section>
