{#
  variables that are available:
  - widgetSubpages: An array with all the subpages that should be shown as a block on the current page.

  How to make a new template:
  1. Create a new widget template in pages/layout/widgets (probably in your theme).
  2. Create a new extra (in the database, pages_extras table) based on the extra for module 'pages' and with action 'subpages':
    * Change the label. Also create the label in the translations module and make sure the description describes what info will be shown and how.
    * Change the template info in the data field of the extra. After 's:' has to be the length of the filename of the new template (eg. s:8:"test.html.twig";).
  3. The new template will now be used on pages where the new extra has been linked to a block.
#}

{% if widgetSubpages is not empty %}
  <aside class="module-pages widget-pages-subpages-default">
    {% block widget_body %}
      <div class="widget-body media">
        {% for subpage in widgetSubpages %}
          <div class="media-body">
            <h3>
              <a href="{{ subpage.full_url }}" title="{{ subpage.title }}">
                {{ subpage.title }}
              </a>
            </h3>
            {{ subpage.description|cleanupplaintext|raw }}
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  </aside>
{% endif %}
