body {background-color:#ebf3f9; font-family: 'Lucida Grande', Verdana, Arial, sans-serif;}
body.mceContentBody { background-color: #ffffff; }
h1, h2, h3, h4, p, table, ol, ul, dl {font-family: 'Lucida Grande', Verdana, Arial, sans-serif;text-align: left; color: #333333;padding: 0;line-height: 1.5;}
h1, h2, h3, h4 {font-weight: bold; line-height: 1.2;}
h2 {font-size: 18px; margin: 3px 0 8px 0;}
h3 {font-size: 15px; margin: 3px 0 8px 0;}
h4 {font-size: 12px; margin: 0 0 4px 0;}
p { font-size: 12px; margin: 0 0 14px 0;}
a {color: #2244bb; text-decoration: underline;}
h2 a, h3 a, h4 a {text-decoration: none;}
p.small, small {font-size: 11px; color: #666;}
img {border: 0; display: block;}

#header h2, #header p, #footer p, #unsubscribe p {margin: 0;}
#unsubscribe p {color: #6191b6; text-align: center;}