{% extends 'Layout/Templates/pages.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block pagesTree %}
  {% include 'MediaLibrary/Layout/Templates/MediaFolderTree.html.twig' %}
{% endblock %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('MediaItemIndex') %}
        {% if folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex', null, '&folder='~folderId), 'list', 'lbl.Overview'|trans|ucfirst) }}
        {% endif %}
        {% if not folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex'), 'list', 'lbl.Overview'|trans|ucfirst) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "MediaLibrary/Resources/views/BackendMediaLibraryUpload.html.twig" %}
{% endblock %}
