<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-page-collapse">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {% if page.id == 1 %}
      <h1>
        <a href="/" class="navbar-brand">
          {{ siteTitle }}
        </a>
      </h1>
    {% else %}
      <a href="/" class="navbar-brand">
        {{ siteTitle }}
      </a>
    {% endif %}
  </div>

  <div class="collapse navbar-collapse navbar-page-collapse">
    {{ getnavigation('page', 0, 1) }}

    {# Top positions #}
    {% for top in positions.top %}
      {% if top.html %}
        {{ top.html|raw }}
      {% endif %}
    {% endfor %}

    {% include 'Core/Layout/Templates/Languages.html.twig' %}
  </div>
</nav>

