{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

{% block widget_heading %}{% endblock %}

{% block widget_body %}
  {% form search %}
    <label for="qWidget" class="visually-hidden">
      {{ 'lbl.SearchTerm'|trans|ucfirst }}{{ macro.required }}
    </label>
    {% form_field q_widget %}
    <input id="submit" class="btn btn-outline-primary ml-2" type="submit" name="submit" value="{{ 'lbl.Search'|trans }}" />
  {% endform %}
{% endblock %}

{% block widget_footer %}{% endblock %}
