/*
	Stylesheet for the locations module

	@author: Jelmer Snoeck <jelmer.snoeck@netlash.com>
*/

.locationSearch {
	position: absolute;	
	padding-left: 50px; 
	padding-top: 10px;
	z-index: 3;
	display: none;
}

.locationSearch form {
	 background-color: #FFFFFF; 
	 padding: 10px;
	-webkit-box-shadow:	0 3px 10px rgba(0, 0, 0, 0.33);	
}