{% extends '@Backend/base/base.html.twig' %}
{% set hide_actionbar = true %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    {% for widget in widgets %}
      <div class="col">
        <div class="card card-primary">
          <div class="card-heading">
            <h4 class="card-title">{{ widget.moduleLabel|trans|ucfirst }}: {{ widget.widgetLabel|trans|ucfirst }}</h4>
          </div>
          <div class="card-body">
            {{ widget.content|raw }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
