/*

	Stylesheet for <Scratch theme>

	@package      frontend
	@author       Johan Ronsse <johan@netlash.com>
	@since        2.0
	@media        screen

*/


/*
	Reset
*/

body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border: 0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

/*
	Typography
*/

body {
	font-family: Georgia, "Times New Roman", serif;
	line-height: 1.5;
	color: #444;
	font-size: 14px;
}

/* Headings */
h1, h2, h3 {
	line-height: 1.1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

	h1, h2, h3, h4 { 
		font-weight: 700;
		color: #000;
		padding: 0 0 12px;
	}

h2 {
	font-size: 32px;
}

	h2.pageTitle {
		border-bottom: 1px solid #CCC;
		margin: 0 0 12px;
	}

h3 {
	font-size: 20px;
}

	#sidebar h3 {
		font-size: 16px;
	}

h4 {
	font-size: 14px;
	/* @inc .sansSerif */
	font-family: Arial, sans-serif;
}

p {
	padding: 0 0 12px;
}

strong {
	font-weight: 700;
	color: #000;
}

em {
	font-style: italic;
}

.content ol {
	padding: 0 0 12px 28px;
}

.content ul {
	list-style: disc;
	padding: 0 0 12px 24px;
}

.content ol {
	list-style-type: decimal;
}

	.content ul ul,
	.content ol ul,
	.content ol ol {
		padding-bottom: 0;
	}

	.content ul ol {
		padding: 0 0 0 24px;
	}

	.content ol ol {
		list-style: upper-roman;
	}

	.content ol ol ol {
		list-style: lower-roman;
	}

.content dl {
	padding: 0 0 0 12px;
}

.content dt {
	font-weight: 700;
	color: #000;
}

.content dd {
	padding: 0 0 12px;
}

blockquote, q {
	font-style: italic;
	font-family: Georgia, serif;
}

blockquote {
	padding: 0 0 0 12px;
}

/* Horizontal rules */

hr {
	height: 1px;
	background: #CCC;
	border: 0;
	font-size: 0;
	margin: 12px 0 24px;
	line-height: 0;
}

/* Links */

a {
	text-decoration: none;
}

a:link {
	color: #2244BB;
	text-decoration: none;
	border-bottom: 1px solid #ABABF9;
	-webkit-transition: color 0.28s linear;
}

a:visited {
	color: #551A8B;
	text-decoration: none;
	border-bottom: 1px solid #C7B4D9;
	-webkit-transition: color 0.28s linear; /* 33% of original visited color */
}

a:hover,
a:active {
	color: #000; border-bottom: 1px solid #ABABAB;
}

/*
	Structure
*/

html {
	height: 100%;
}

body {
	background: #F5F5F5;
}

#container {
	position: relative;
	background: #FFF;
	width: 880px;
	margin: 20px auto;

	/* @inc .rc */
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	/* @inc .boxShadow */
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: rgba(0,0,0,0.15) 0 1px 3px;
}

#header {
	padding: 20px;
	border-bottom: 1px solid #CCC;
	/* @inc .sansSerif */
	font-family: Arial, sans-serif;
}

	#header h1 {
		font-size: 42px;
		letter-spacing: -1px;
		padding: 0 0 20px;
	}
	
		#header h1 a {
			color: #000;
			text-decoration: none;
			border: none;
		}

/*
	Language
	Used when the site has multiple languages
*/

#language {
	position: absolute;
	right: 20px;
	top: 20px;
}

	/* Clearfix */
	#navigation { zoom: 1; }
	#navigation ul:after {
		/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
	}

	#language li {
		float: left;
		margin-right: 1px;
		font-size: 12px;
		text-align: center;
	}

	#language li a:link,
	#language li a:visited {
		display: block;
		background: #AAA;
		padding: 2px 0;
		width: 24px;
		color: #FFF;
		border: none;
	}

	#language li a:hover,
	#language li a:active,
	#language li a:focus,
	#language li.selected a {
		background: #444;
	}

#navigation {
	background: #444;
}

	/* Clearfix */
	#navigation { zoom: 1; }
	#navigation ul:after {
		/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
	}

	#navigation li {
		font-size: 14px;
		float: left;
		list-style: none;
		margin: 0 1px 0 0;
		font-weight: 700;
	}

		#navigation li a {
			display: block;
			padding: 0 12px;
			line-height: 32px;
			background: #444;
		}

		#navigation li.selected a {
			background: #000;
		}

		#navigation li a {
			color: #FFF;
			text-decoration: none;
			border: none;
		}

/*
	Main
*/

#main {
	padding: 20px;
}

#main:after {
	/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

	#breadcrumb {
		padding: 0 0 12px;
		color: #666;
		/* @inc .secondarycontent */
		font-size: 11px;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	}

#subnavigation {
	width: 200px;
	margin: 0 20px 0 0;
	float: left;
}

	#subnavigation {
		/* @inc .sansSerif */
		font-family: Arial, sans-serif;
	}
	
		#subnavigation a {
			display: block;
			background: #444;
			padding: 3px 6px;
			color: #FFF;
			text-decoration: none;
			border: none;
		}

		#subnavigation li.selected a {
			background: #000;
		}

#home #intro {
	border: 1px solid #DDD;
	padding: 40px 120px;
	text-align: center;
	margin: 0 0 20px;
}

#content {
	width: 620px;
	margin: 0 20px 0 0;
	float: left;
}

	#home #content {
		width: 100%;
		zoom: 1;

		font-size: 12px;
		/* @inc .sansSerif */
		font-family: Arial, sans-serif;
	}

		#home #content:after {
			/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
		}

		#home #content .content {
			width: 68%;
			float: left;
		}

		#home #content .widget {
			width: 30%;
			padding-left: 2%;
			float: left;
		}

	#default #content {
		width: 400px;
	}

#sidebar {
	width: 200px;
	float: left;
}

	#default #sidebar,
	#twocolumns #sidebar {
		padding-top: 60px;
		font-size: 12px;
		/* @inc .sansSerif */
		font-family: Arial, sans-serif;
	}


/*
	Blog styling
*/

#blog.index .article {
	padding: 0 0 12px;
	margin: 0 0 12px;
	border-bottom: 1px solid #CCC;
}

	#blog.index .article:last-child {
		border: none;
		margin: 0;
	}

#blog .heading {
	padding: 0 0 12px;
}

	#blog .heading h1,
	#blog .heading h2 {
		font-size: 19px;
		padding: 0 0 4px;
	}

	#blog .heading p {
		padding: 0;
		/* @inc .secondarycontent */
		font-size: 11px;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	}
	
	#blog .meta {
		color: #666;
		/* @inc .secondarycontent */
		font-size: 11px;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	}

/*
	Blog widgets
*/

.widget {
	padding: 0 0 12px;
	border-bottom: 1px solid #CCC;
	margin: 0 0 12px;
}

	.widget:last-child {
		border: none;
	}

.widget li {
	border-bottom: 1px solid #EEE;
	padding: 0 0 6px;
	margin: 0 0 6px;
}

	.widget li li {
		padding: 0 0 0 12px;
	}

.widget li:last-child {
	border: none;
}

/*
	Blog archive
*/

.datagrid {
	/* @inc .sansSerif */
	font-family: Arial, sans-serif;
	font-size: 12px;
}

	.datagrid td {
		border-bottom: 1px solid #DDD;
		padding: 4px 0;
	}


/*
	Footer
*/

#footer {
	padding: 20px;
	border-top: 1px solid #CCC;
}

	#footer ul {
		color: #666;
		/* @inc .secondarycontent */
		font-size: 11px;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	}
	
		#footer li {
			display: inline;
			margin-right: 5px;
		}

/*
	Blog detail
	Navigation between article detail pages
*/

#blog.detail .navigation {
	zoom: 1;
	padding: 0 0 12px;
	/* @inc .secondaryContent */
	font-size: 11px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

	#blog.detail .navigation:after {
		/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
	}

#blog.detail .navigation .previousLink {
	float: left;
	width: 48%;
	margin-right: 2%;
}

#blog.detail .navigation .nextLink {
	float: right;
	width: 48%;
	margin-left: 2%;
	padding-top: 2px;
	text-align: right;
}


/*
	Blog form
*/

#website {
	width: 240px;
}

#text {
	width: 320px;
	height: 12em;
}

/*
	Blog comments
*/

.comment {
	zoom: 1;
	border-bottom: 1px solid #DDD;
	padding: 0 0 6px;
	margin: 0 0 12px;

	/* @inc .sansSerif */
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.comment:after {
	/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

	.comment .imageHolder {
		float: left;
		width: 48px;
		padding-right: 10px;
	}

	.comment .commentText {
		float: left;
		width: 562px;
	}

		.comment .author {
			padding: 0;
			/* @inc .secondaryContent */
			font-size: 11px;
			font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
		}

/*
	Comment form
*/

#commentForm #message {
	width: 420px;
}

/*
    Forms
*/

/* Modify input[type="text"] and textareas */

.inputText,
.inputPassword,
textarea {
	font-family: Arial, sans-serif;
	font-size: 12px;
	border: 1px solid #9da6a5;
	color: #808080;

	/* @inc .rc */
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	/* Transition */
	-webkit-transition: background-color 0.28s linear;

}

/* Repeat font statement since IE6 does not "get" previous selector */
textarea {
	font-family: Arial, sans-serif;
	line-height: 1.3;
	background: #FFF;
}

/* Disabled fields */
input.inputText[disabled="disabled"],
input.inputPassword[disabled="disabled"],
input.disabled {
	background: #EEE;
	color: #666 !important;
}

.inputText,
.inputPassword {
	background: #FFF;
	padding: 3px 2px;
	color: #666;
}

	/* Fix alignment in Chrome/Saf */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.inputText,
		input[type="text"],
		.inputPassword,
		input[type="password"] {
			height: 14px;
		}
	}

	.inputText:focus,
	.inputPassword:focus,
	textarea.focus {
		color: #000;
		border-color: #6BA1CB;

		/* @inc .boxShadow */
		box-shadow: 0 0 3px #6BA1CB;
		-moz-box-shadow: #6BA1CB 0 0 3px;
	}

.inputSubmit {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	overflow: visible;
	font-size: 11px;
	font-weight: 700;
	color: #FFF;
	background: #333;
	padding: 2px 6px;
	border: 1px solid #000;
	cursor: pointer;
}

input.inputSubmit:hover,
input.inputSubmit:focus {
	background: #000;
}

/*
	Inputs with a .code class get a monospaced font
*/

input.code,
textarea.code {
	font-family: "Menlo", Monaco, "Courier New", Courier, monospace;
	font-size: 11px;
}

/* Selects should be left alone (not stylable without troubles) */
select {
	/* Nothing */
	font-family: Arial, sans-serif;
}

/* Input type file should be left alone */
.inputFile {
	font-size: 11px;
}

/* Input submit gets replaced by a button, yet some styles here for better buildup */
.inputSubmit {
	font-size: 11px;
}

	/*
		Focus outline; Mozilla specific since Safari implements this right
	*/
	@-moz-document url-prefix() {
		.inputText,
		.inputPassword {
			height: 14px;
			line-height: 14px;
		}
	}

form p {
	clear: both;
}

	/* Act as <p> e.g. for wrapping label+textarea */
	form div.section {
		margin: 0 0 12px 0;
		clear: both;
	}

.helpTxt {
	display: block;
	font-size: 11px;
	color: #808080;
}

	.helpTxt a {
		font-weight: 700;
	}

form label,
.fakeLabel {
	font-weight: 700;
	/* @inc .secondaryContent */
	font-size: 11px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

/* "Fake" label */
form p.label {
	padding-bottom: 0;
	border: none;
}

form p label {
	display: block;
}

form .horizontal textarea {
	width: auto;
}

form .horizontal p label {
	display: inline;
}

form .horizontal label,
form .horizontal p.label {
	float: left;
	width: 105px;
	line-height: 17px;
	padding: 2px 10px 2px 0;
}

form .formError {
	color: red;
	display: block;
	/* @inc .secondaryContent */
	font-size: 11px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

form .spacing,
form .horizontal .formError {
	padding-left: 115px;
}

form abbr {
	cursor: help;
}

/*
	Messaging system
	Styles for errors success warning and notices
*/

/* Form messages */

.formMessage {
	/* @inc .sansSerif */
	font-family: Arial, sans-serif;
	font-size: 12px;

	position: relative;
	border: 1px solid #AAA;
	margin: 0 0 12px;
	background: #FFF;

	/* @inc .boxShadow */
	box-shadow: 0 2px 6px #AAA;
	-webkit-box-shadow: 0 2px 6px #AAA;
	-moz-box-shadow: #AAA 0 2px 6px;
}

	.formMessage p {
		padding: 6px 24px;
	}

.errorMessage {
	/* @inc .errorColors */
	color: #ffeaea;
	background: #6c0000;
	border: 1px solid #910000;
}

	.errorMessage p {
		background: url(../images/icons/exclamation.gif) no-repeat 12px 50%;
		padding-left: 32px;
	}

	.errorMessage a {
		color: #FFF;
		font-weight: 700;
		border-bottom: 1px solid #f5abb4;
	}

.successMessage {
	color: #edffd6;
	border-color: #171914;
	background: #435031;
}

	.successMessage p {
		background: url(../images/icons/checkmark.gif) no-repeat 12px 50%;
		padding-left: 32px;
	}

	.successMessage a:link,
	.successMessage a:visited {
		color: #FFF;
		border-color: #a3c776;
	}

	.successMessage a:hover,
	.successMessage a:active,
	.successMessage a:focus {
		color: #FFF;
		border-color: #FFF;
	}

.generalMessage {
	background: #DEE6E5;
}

	.generalMessage p {
		background: url(../images/icons/info.gif) no-repeat 12px 50%;
		padding-left: 32px;
	}

/*
	Image alignment classes
*/

img.alignLeft {
	float: left;
	padding: 0 12px 12px 0;
}

img.alignRight {
	float: right;
	padding: 0 0 12px 12px;
}

/*
 	Pattern: pagination
*/

.paginationWrap {
	width: 100%;
	overflow: hidden;
}

.pagination {
	float: left;
	position: relative;
	left: 50%;
}

.pagination ul {
	padding: 18px 0;
	z-index: 2;
	overflow: hidden;
	position: relative;
	left: -50%;
}

.pagination li {
	float: left;
	list-style: none;
	margin: 0 5px 0 0;
	text-decoration: none;
	padding: 0;
	line-height: 15px;
	font-size: 12px;
	text-align: center;
}

.pagination li span {
	float: left;
	display: block;
	padding: 4px 5px;
	color: #CCC;
	min-width: 12px;
}

.pagination li.currentPage span {
	font-weight: 700;
	color: #000;
}

.pagination li.selected span {
	padding: 4px 5px;
	font-weight: 700;
	color: #000;
}

.pagination li a:link,
.pagination li a:visited {
	float: left;
	display: block;
	padding: 3px 4px;
	border: 1px solid #CCC;
	text-decoration: none;
	min-width: 12px;
}

li.ellipsis {
	margin: 0;
}

li.ellipsis span {
	color: black;
}

.pagination li a:hover,
.pagination li a:active {
	background: #EEE;
	border: 1px solid #AAA;
	color: black;
}

.nextPage, .previousPage { font-size: 11px !important; }
.pagination li.nextPage { margin-left: 10px; }
.pagination li.previousPage { margin-right: 15px; }

/*
	Contact form
*/

#message {
	width: 280px;
}