/*

    Groups CSS

    @package      backend
    @subpackage   groups

    @author       Jeroen Van den Bossche <jeroenvandendenbossche@netlash.com>
    @since        2.0

*/


ul#moduleList, ul#widgetList {
	margin-left: 150px;
}

div.groupHolder {
	margin-left: 155px;
}

ul.dataGridHolder {
	margin: 5px 0;
	clear: left;
}

ul.dataGridHolder .inputCheckbox { 
	position: relative !important;
}

a.container {
	position: relative !important;
}

input.selectAll {
	margin-top: 5px;
}