parameters:
    media_library.image_extensions: [gif, jpeg, jpg, png, tiff]
    media_library.image_mime_types: [image/gif, image/jpeg, image/pjpeg, image/png, image/tiff, image/x-tiff]

    media_library.file_extensions: [doc, docx, pdf]
    media_library.file_mime_types: [application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf]

    media_library.movie_extensions: [avi, mp4]
    media_library.movie_mime_types: [video/x-msvideo, video/mp4, application/mp4]

    media_library.audio_extensions: [mp3, mp4a, wav]
    media_library.audio_mime_types: [audio/mpeg3, video/mpeg, video/x-mpeg, audio/x-mpeg-3, audio/mp4, audio/wav, audio/x-wav, audio/mpeg]

imports:
  - { resource: repositories.yml }
  - { resource: commands.yml }
  - { resource: cache_builder.yml }
  - { resource: events.yml }
  - { resource: storage_providers.yml }
  - { resource: managers.yml }
  - { resource: helpers.yml }
  - { resource: console.yml }
  - { resource: form.yml }

services:
    media_library.twig_extension:
        class: Frontend\Modules\MediaLibrary\Twig\Extensions\FrontendHelperExtensions
        public: false
        arguments:
            - "@media_library.helper.frontend"
        tags:
            - { name: twig.extension }
