/* General */
.fork-module-heading,
.fork-module-messages,
.fork-module-content {
  margin-bottom: 20px;
}

.fork-module-actions {
  margin-bottom: 40px;
}

.fork-tabs .nav-tabs {
  margin-bottom: 15px;
}

.fork-dashboard-column {
  min-height: 200px;
  line-height: 0;
}

.fork-widget {
  position: relative;
  line-height: normal;
}

.fork-widget > .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.fork-modal-ckeditor > .modal-dialog {
  width: 95%;
}

/* Navigation */
.fork-nav-sidebar li li.active > a {
  text-decoration: none;
  background-color: #EEE;
}

.fork-nav-sidebar li li {
  margin-top: 2px;
  margin-left: 0px;
}

.fork-nav-sidebar li > ul {
  padding-bottom: 2px;
  padding-left: 15px;
}


/* Data grid */
.fork-data-grid {

}

.fork-data-grid-sortable {
  text-align: center;
  cursor: move;
}

.fork-data-grid-avatar {
  display: inline-block;
  line-height: 0px;
  padding: 0px 5px 0px 5px;
}

.fork-data-grid-avatar > a {
  display: block;
  height: 24px;
}

.fork-data-grid-avatar > a > img {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.fork-data-grid-avatar > a > span {
  display: inline-block;
  line-height: 24px;
}

/* Loader */
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.fork-loader {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.fork-loader.xs {
  font-size: 3px;
}

.fork-loader.sm {
  font-size: 6px;
}

.fork-loader.md {
  font-size: 12px;
}

.fork-loader.lg {
  font-size: 24px;
}

.fork-loader:before,
.fork-loader:after,
.fork-loader > div:before,
.fork-loader > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em;
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee;
  transform-origin: 50% 2.5em;
}

.fork-loader:before {
  background: #555;
}

.fork-loader:after {
  transform: rotate(-45deg);
  background: #777;
}

.fork-loader > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.fork-loader > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}

.fork-choice-list {
  > li {
    cursor: pointer;

    &.active {
      .panel-default {
        @extend .panel-primary;
      }
    }

    .panel-title {
      input[type="radio"],
      input[type="checkbox"] {
        @extend .hidden;
      }
    }
  }
}
