<blockquote class="blockquote{% if editorBlock.alignment == 'center' %} text-center{% endif %}">
  <p class="mb-0">{{ editorBlock.text }}</p>
  <footer class="blockquote-footer">{{ editorBlock.author }}</footer>
</blockquote>
