{#
  variables that are available:
  - {{ widgetFaqMostRead }}: contains an array with all posts, each element contains data about the post
#}

{% if widgetFaqMostRead %}
  <section id="faqMostReadWidget" class="faq faq-widget card">
    <header class="card-header">
      <h3 class="mb-0">{{ 'lbl.MostReadQuestions'|trans|ucfirst }}</h3>
    </header>
    <div class="list-group list-group-flush">
      {% for question in widgetFaqMostRead %}
        <a class="list-group-item list-group-item-action" href="{{ question.full_url }}">{{ question.question }}</a>
      {% endfor %}
    </div>
  </section>
{% endif %}
