{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
<div id="mailmotorIndex">
  {# @todo  this shouldn't be a datagrid, this sucks #}
  {% if dataGrid %}
    {{ dataGrid }}
  {% else %}
    <div class="alert" role="alert">{{ 'msg.NoSentMailings'|trans }}</div>
    {{ alerts.alert('info', 'msg.NoSentMailings'|trans) }}
  {% endif %}
</div>
