{% macro navigation(step) %}
  <div class="installer-navigation">
    <ul class="d-none d-lg-flex">
      <li  class="col {% if step == 'step-1' %} active{% endif %}">
        Step 1
      </li>
      <li  class="col {% if step == 'step-2' %} active{% endif %}">
        Step 2
      </li>
      <li  class="col {% if step == 'step-3' %} active{% endif %}">
        Step 3
      </li>
      <li  class="col {% if step == 'step-4' %} active{% endif %}">
        Step 4
      </li>
      <li  class="col {% if step == 'step-5' %} active{% endif %}">
        Step 5
      </li>
      <li  class="col {% if step == 'step-6' %} active{% endif %}">
        Step 6
      </li>
    </ul>
    <p class="d-md-none d-block">Step {{ step|replace({'step-': ''}) }} of 6</p>
  </div>
{% endmacro %}
