{#
  Media Listing
  Variables that are available:
  - {{ mediaItems }}: Contains full urls to MediaItem items, f.e.: {{ items.source }}
  - {{ title }}: A custom optional title that you can give when parsing from Custom module.
#}

{% if mediaItems %}
<section class="widgetMediaListing">
  <ul>
    {% for mediaItem in mediaItems %}
    <li>{{ mediaItem.getLinkHTML|raw }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
