/*

    Installer CSS

    @package      backend
    @subpackage   installer

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

#installer {
	height: auto;
}

/*
	Make sure inputs are wide enough
*/

#installer .inputText,
#installer .inputPassword {
	width: 200px;
}

/*
	Step 2: requirements
*/

span.ok {
	padding: 3px;
	color: #4f6d2c;
	background: #d6efb8;
}

span.nok {
	color: #FFF;
	padding: 3px;
	font-weight: 700;
	background: #DE3636;
	background: -webkit-gradient(linear, left top, left bottom, from(#DE3636), to(#FF2626));
	background: -moz-linear-gradient(top, #DE3636, #FF2626);
}

/*
	Step 3: DB
*/

#installer input#hostname { width: 140px; }
#installer input#port { width: 40px; }

/*
	Step 4: modules
*/

ul#moduleList {
	-moz-column-count: 3;
	/* No webkit since support is buggy */
}

/*
	Step 6
*/

.infoGrid {
	margin: 0 0 12px;
}

.infoGrid td,
.infoGrid th {
	font-size: 12px;
}

	.infoGrid td {
		width: auto;
		padding-left: 12px;
		border-bottom: 1px solid #CCC;
	}
	
	.infoGrid th {
		width: 100px;
		border: none;
	}