/*

	Stylesheet for <Fork dev blog>

	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>
	author:     Johan Ronsse <johan@netlash.com>

*/

/*
	Reset
*/

body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border:0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

/*
	Clearfix
*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
	Typography and text styles
*/

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #555;
	background: #F6F6F6;
}

/* Headings */
h1, h2, h3, h4 {
	font-weight: 700;
	line-height: 1.2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	color: #000;
}

h1, h2 {
	font-size: 31px;
	letter-spacing: -0.5px;
	padding: 0 0 19px;
}

h3 {
	font-size: 14px;
	padding: 0 0 14px 0;
}

h4 {
	font-size: 14px;
	padding: 0 0 14px;
}

p {
	padding: 0 0 14px 0;
}

	p.intro {
		font-size: 18px;
	}

abbr, acronym {
	cursor: help;
}

.content ul,
.content ol {
	padding: 0 0 12px 24px;
}

.content ul {
	list-style: disc;
}

.content ol {
	list-style-type: decimal;
	padding: 0 0 12px 24px;
}

	.content ul ul,
	.content ol ul {
		padding-bottom: 0;
	}

	.content ol ol {
		padding-bottom: 0;
	}

	.content ul ol {
		padding: 0 0 0 28px;
	}

code {
	font-family: Monaco, "Courier New", monospace;
	font-size: 12px;
	line-height: 1.15;
}

pre {
	padding: 7px 14px;
	background: #F5F5F5;
	margin: 0 0 14px;
}

blockquote, q {
	font-style: italic;
	color: #666;
}

blockquote {
	padding: 0 0 0 14px;
}

cite {
	font-size: 11px;
	text-align: right;
	display: block;
	position: relative;
	top: -14px;
	height: 0;
	/* Dismisses height to correctly align next element */
}

/*
	Default styling for data tables
*/
.content table {
	font-family: Arial, sans-serif;
	margin: 0 0 14px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

.content td,
.content th {
	padding: 7px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-size: 11px;
}

.content th {
	font-weight: 700;
	background: #F5F7F9;
	color: black;
	line-height: 1.2;
	text-align: left;
}

.content tr.rowOdd { background: #FFF; }
.content tr.rowEven { background: #FCFCFC; }

/*
	Links
*/

a {
	text-decoration: none;
}

a:link {
	color: blue;
	border-bottom: 1px solid lightblue
}

a:visited {
	color: purple;
	border-bottom: 1px solid purple;
}

a:hover,
a:active {
	color: black;
	border-bottom: 1px solid silver;
}

/*
	Page structure and layout
*/

/*
	Wrappers
*/

#container {
	width: 960px;
	margin: 0 auto;
}

	#sidebar {
		width: 214px;
		padding: 0 24px;
		float: left;
	}
	
		#sidebar h1 {
			background: url(../images/logo.gif);
			width: 109px;
			height: 242px;
			text-indent: -9000px;
			padding: 0;
			margin: 0 0 48px;
		}
		
		#sidebar h1 a {
			display: block;
			height: 100%;
			width: 100%;
			overflow: hidden;
			border: none;
		}
		
		#newsletterSubscribeForm {
			padding: 0 0 12px;
		}
		
		#newsletterSubscribeForm p {
			padding: 0 0 4px;
		}

		/*
			Typography
		*/
		
		#sidebar {
			/* @inc .secondaryContent */
			font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
			font-size: 11px;
		}
		
			#sidebar h3 {
				font-size: 14px;
			}
	
	#content {
		border: 1px solid #DEDEDE;
		border-width: 0 1px 1px;
		width: 600px;
		float: left;
		background: white;
		padding: 48px;
	}
	
		#content .article {
			padding: 0 0 48px;
		}
		
		.figure img {
			border: 1px solid #b9b9b9;
			display: block;
			padding: 6px;
			max-width: 586px;
			margin: 0 0 6px;

			/* @inc .boxShadow */
			box-shadow: 0 2px 6px #AAA;
			-webkit-box-shadow: 0 2px 6px #AAA;
			-moz-box-shadow: #AAA 0 2px 6px;

		}

			.figure .caption {
				text-align: center;
				/* @inc .secondaryContent */
				font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
				font-size: 11px;
			}
	
	/*
		Blog
	*/
	
	#blog .heading {
		padding: 0 0 24px;
	}
	
	#blog .heading h1,
	#blog .heading h2 {
		padding: 0;
	}
	
		#blog .heading h2 a:link,
		#blog .heading h2 a:visited {
			color: #000;
			border: none;
		}

		#blog .heading h2 a:hover,
		#blog .heading h2 a:active,
		#blog .heading h2 a:focus {
			color: red;
			border: none;
		}

	#blog .heading li,
	#blog .meta li {
		display: inline;
		border-right: 1px solid #919191;
		padding-right: 6px;
		margin-right: 6px;
		/* @inc .secondaryContent */
		font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
		font-size: 11px;
	}
	
	#blog .heading .lastChild,
	#blog .meta .lastChild {
		border: none;
	}
	
/*
	Links (based on Netlash website)
*/

a { text-decoration: none; }
a:link { color: #FF1000; border-bottom: 1px solid #FFB0AB;}
a:visited { color: #CB0D00; border-bottom: 1px solid #EEAFAB; }
a:hover { color: #F00; border-bottom: 1px solid #F00; }
a:active, a:focus { color: #000; border-bottom: 1px solid #000; }

a.external {
	background: url(../images/external.gif) no-repeat right 2px;
	padding-right: 5px;
}


/*

    Forms

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

/* Modify input[type="text"] and textareas */

.inputText, .inputPassword,
input[type="text"], input[type="password"],
textarea {
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;

	background: #FFF url(/backend/core/layout/images/ds.png) repeat-x;
	border: 1px solid #BBB;
	border-color: #888 #BABABA #BABABA #CDCDCD;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	-webkit-transition: background-color 0.28s linear;

}

	textarea.inputEditor {
		/* Reset border-radius for tinyMCE textareas */
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}

/* Disabled fields */
input.inputText[disabled="disabled"],
input.inputPassword[disabled="disabled"],
input.disabled {
	background: #EEE;
	color: #666 !important;
}

.inputText, input[type="text"],
.inputPassword, input[type="password"] {
	padding: 3px 2px;
	color: #333;
}

	/* Fix alignment in Chrome/Saf */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		input[type="text"],
		input[type="password"] {
			height: 14px;
		}
	}

.inputText:focus, input[type="text"]:focus, .inputText.focus, input[type="text"].focus,
.inputPassword:focus, input[type="password"]:focus, .inputPassword.focus, input[type="password"].focus,
textarea:focus, textarea.focus {
	color: #000;
	border-color: #666 #999 #999 #AAA;
}

/*
	Inputs with a .code class get a monospaced font
*/

input.code,
textarea.code {
	font-family: "Menlo", "Monaco", "Courier New", monospace;
	font-size: 11px;
}

/* Selects should be left alone (not stylable without troubles) */
select {
	/* Nothing */
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

/* Input type file should be left alone */
.inputFile {
	font-size: 11px;
}

/* Input submit gets replaced by a button, yet some styles here for better buildup */

input[type="submit"] {
	font-size: 11px;
	font-family: Arial, sans-serif;
	font-weight: 700;
}

	/*
		Focus outline; Mozilla specific since Safari implements this right
	*/

	@-moz-document url-prefix() {

		input[type="text"]:focus,
		input[type="password"]:focus,
		textarea:focus {
			outline: 2px solid #C2DEFF;
			-moz-outline-radius: 5px;
			border-color: #456b99;
		}

	}

.helpTxt {
	display: block;
	font-size: 11px;
	color: #808080;
}

	.helpTxt a {
		font-weight: 700;
	}

.forkForms .inputList {
	padding: 0 0 12px;
}

.forkForms .inputList li {
	position: relative;
	padding: 0 0 4px 24px;
}

	.forkForms .inputList li li {
		padding-left: 0;
	}

.forkForms .horizontal .inputList label {
	float: none;
	width: auto;
}

	.forkForms .inputList li .inputRadio,
	.forkForms .inputList li .inputCheckbox,
	.forkForms .inputList li input[type="radio"],
	.forkForms .inputList li input[type="checkbox"] {
		position: absolute;
		left: 0;
		top: 0;
	}

	#urlManager ul {
		margin: 0 0 8px;
	}

		#urlManager ul .inputText,
		#urlManager ul input[type="text"] {
			font-size: 11px;
			width: 210px;
		}

.forkForms .section {
	clear: both;
	padding: 6px 0;
	border-bottom: 1px solid #E2E2E2;
}

label {
	font-weight: 700;
	color: #4A4A4A;
	font-size: 11px;
}

/* "Fake" label */
.forkForms p.label {
	padding-bottom: 0;
	border: none;
	font-size: 11px;
	font-weight: 700;
	color: #4A4A4A;
}

.forkForms p label {
	display: block;
}

.forkForms .horizontal textarea {
	width: auto;
}

.forkForms ul .helpTxt {
	padding: 0 0 0 24px;
}

.forkForms .horizontal p label {
	display: inline;
}
.forkForms .horizontal .helpTxt { display: block; padding: 1px 0 1px 106px; }

.forkForms .labelWidthLong .helpTxt { padding: 1px 0 1px 145px; }

.forkForms .horizontal label,
.forkForms .horizontal p.label { float: left; width: 105px; padding-right: 10px; line-height: 17px; padding: 2px 0;}

	/* Alternate label widths */
	
	.forkForms .labelWidthLong label,
	.forkForms .labelWidthLong p.label {
		width: 145px;
	}

#profilePassword .horizontal label { width: 170px; }

.forkForms .horizontal p.label {
	margin: 0;
}

.forkForms .spacing,
.forkForms .horizontal span.formError {
	padding-left: 105px;
}

.forkForms .labelWidthLong span.formError  {
	padding-left: 145px;
}

.forkForms abbr { cursor: help; }

.forkForms .block{ display: block !important; }
.forkForms p:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.forkForms p { zoom: 1; }

/*
	The Magic One Liner
	----
	General method to wrap form and other elements on one line
	Gets cleared see clearing section of this css file
*/

.oneLiner p,
.oneLiner .buttonHolder {
	float: left;
	margin-right: 4px;
}

	.oneLiner p {
		padding-bottom: 0;
		line-height: 22px;
		/* Same height as button height */
	}

	.oneLiner select {
		margin-top: 1px;
		margin-right: 3px;
	}

/*

    Buttons
    Styles for the buttons

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

a.button:link,
a.button:visited {
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	text-decoration: none;
	border: none;
	color: #3A3A3A !important;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 11px;
	font-weight: 700;
	float: left;
	padding: 0 6px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
	background-repeat: repeat-x;
	background-position: right -132px;
	overflow: hidden;
	background: #EEE;

	border: 1px solid #B0B0B0;

	/* Gradient */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#C5C5C5), color-stop(.0454545,#F7F7F7), color-stop(.9545455,#DDD));
	background: -moz-linear-gradient(#FFF, #f7f7f7 4.5454545%, #DDD 95.454545%, #C5C5C5);

	/* @inc .rc */
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

a.button:hover,
a.button:active,
a.button:focus,
a.button.focus {
	background: #FFF;
	/* Gradient */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C5C5C5), to(#FFF), color-stop(.0454545,#DDD), color-stop(.9545455,#F7F7F7));
	background: -moz-linear-gradient(#C5C5C5, #DDD 4.5454545%, #f7f7f7 95.454545%, #FFF);
}

a.mainButton:link,
a.mainButton:visited {
	color: #FFF !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	border: 1px solid #366EAC;
	background: #3B7DC7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8DB7E7), to(#215996), color-stop(.0454545,#5E9CE1), color-stop(.9545455,#2F79CA));
	background: -moz-linear-gradient(#8DB7E7, #5E9CE1 4.5454545%, #2F79CA 95.454545%, #215996);
}

a.mainButton:hover,
a.mainButton:active,
a.mainButton:focus,
a.mainButton.focus {
	background: red;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#215996), to(#8DB7E7), color-stop(.0454545,#2F79CA), color-stop(.9545455,#5E9CE1));
	background: -moz-linear-gradient(#215996, #2F79CA 4.5454545%, #5E9CE1 95.454545%, #8DB7E7);
}

a.button span {
	cursor: pointer;
}
