@charset 'UTF-8';

// Bootstrap
@import "bootstrap/scss/functions";
@import 'bootstrap/scss/variables';
@import 'bootstrap-variables';
@import 'fork-variables';
@import 'bootstrap-imports';

// Base
@import 'base/base';
@import 'base/typography';

// Plugins
@import 'plugins/jquery_ui';
@import 'plugins/tags-input';

// Components
// Insert components here. Put all components in the components/ directory
// eg. @import 'components/footer';
@import 'components/grid';
@import 'components/forms';
@import 'components/loader';
@import 'components/navbar';
@import 'components/tables';
@import 'components/alerts';
//@import 'components/panels';
@import 'components/cards';
@import 'components/tabs';
@import 'components/header';
@import 'components/content-wrapper';
@import 'components/buttons';
@import 'components/tree';
@import 'components/pages';
@import 'components/breadcrumbs';
@import 'components/action-bar';
@import 'components/modals';
@import 'components/tags';
@import 'components/analytics';
@import 'components/authentication';
@import 'components/formbuilder';
@import 'components/locale';
@import 'components/themes';
@import 'components/tooltip';
@import 'components/editor';
@import 'components/installer';
@import 'components/settings';
@import 'components/ckeditor';
@import 'components/media-library';
@import 'components/badges';
@import 'components/images';

// Layout
@import 'layouts/fork';
@import 'layouts/footer';

// Custom page styling
// Insert custom page styling here. Put all page styles in the pages/ directory
// eg. @import 'pages/footer';
