// Bootstrap
@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/variables';
@import 'bootstrap-variables';
@import 'bootstrap-imports';

// Plugins
@import '~bootstrap-tagsinput/src/bootstrap-tagsinput';
@import '~bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead';
@import '~select2/src/scss/core';
//@import '~select2-theme-bootstrap4/src/select2-bootstrap';
@import 'plugins/treejs';

// Base
@import 'base/base';
@import 'base/typography';

// Components
// Insert components here. Put all components in the components/ directory
// eg. @import 'components/buttons';
@import 'components/grid';
@import 'components/forms';
@import 'components/loader';
@import 'components/navbar';
@import 'components/tables';
@import 'components/cards';
@import 'components/tabs';
@import 'components/header';
@import 'components/content-wrapper';
@import 'components/data-grids';
@import 'components/dropdowns';
@import 'components/buttons';
@import 'components/tree';
@import 'components/pages';
@import 'components/breadcrumbs';
@import 'components/action-bar';
@import 'components/modals';
@import 'components/tags';
@import 'components/analytics';
@import 'components/authentication';
@import 'components/formbuilder';
@import 'components/locale';
@import 'components/themes';
@import 'components/tooltip';
@import 'components/editor';
@import 'components/installer';
@import 'components/settings';
@import 'components/media-library';
@import 'components/badges';
@import 'components/images';
@import 'components/sortable';
@import 'components/toasts';
@import 'components/list-group';
@import 'components/codex-editor';
@import 'components/empty-state';
@import 'components/tags-input';

// Layout
@import 'layouts/fork';
@import 'layouts/footer';

// Modules
@import '../../../Modules/MediaLibrary/Sass/mediaLibrary';
