/*

	Debug stylesheet for Fork NG

	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>

	@todo	@johan	fix this.

*/
.warningMessage { background: #FBEC88; border-color: #FAD42E; padding: 5px; }
#newCategoryValue { width: 120px; }
