/*

	Debug stylesheet for Fork NG
    
	@package      backend
	@subpackage   core
    
	@author       Johan Ronsse <johan@netlash.com>
	@since        2.0

	@todo @johan: check me
*/

/*
	Console
*/

#console {
	position: fixed;
	height: 200px;
	width: 100%;
	bottom: 0;
	left: 0;
	overflow: auto;
	background-color: #000;
}

#console pre {
	background: none;
	margin: 7px;
	padding: 0;
	font: 300 11px Monaco, sans-serif;
	color: #FFF;
}

/*
	Display broken image indicator in Firefox
*/

img {
	-moz-force-broken-image-icon: 1;
}

/*
	Debug message
*/

#debugnotify {
	color: red;
}

th.publish_on, th.edited_on, th.date { width: 170px; }
th.user_id, th.author { width: 170px; }
th.comments { width: 70px; }
	td.comments { text-align: right; }
th.num_tags { width: 70px; }
	td.num_tags { text-align: right; }

.inlineEditTooltip {
	margin-left: 7px;
	padding: 1px 4px 0;
	font-size: 10px;
	color: #808080;
	background-color: #EEE;
	border: 1px solid #BABABA;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#templateList li { float: none; }

.templateVisual td a { border: none; }
.templateVisual td { border: 1px solid #AAA; }

tr.isDefault td.name { font-weight: 900; }

thead th.dragAndDropHandle, tr td.dragAndDropHandle { width: 16px; padding: 0; cursor: move; }
thead th.dragAndDropHandle span { padding: 0; }

.multipleTextWrapper .multipleTextList { padding-bottom: 12px; }
.multipleTextWrapper label { font-size: 11px; }
.multipleTextWrapper ul { padding: 4px 0 0; }
.multipleTextWrapper li { margin: 0 4px 4px 0; }
.multipleTextWrapper ul, .multipleTextWrapper li { zoom: 1; }
.multipleTextWrapper ul:after, .multipleTextWrapper li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.editorWarning { display: inline-block; margin-top: 3px; }