/*

	Debug stylesheet for Fork NG

	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>

	@todo	@johan	fix this.

*/

div.error { color: #F00; }
#pagesTree ul li li a { padding: 2px 4px 2px 0; }
#tree div ul { min-height: 16px; }
#tree div ul li { border: 1px dotted #CCC; }
#tree div ul li ul li { border: none; }