/*

	Default stylesheet TinyMCE
    
	@package      backend
	@subpackage   core
    
	@author       Thomas Deceuninck <thomasdeceuninck@netlash.com>
	@since        2.0

*/

body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	height: expression((window) && ((document.documentElement.clientHeight - 6) + "px"));
	cursor: text;
	padding: 6px;
	height: auto;
	width: auto;
	margin: 0;
	background: #FFF;
}

html {
	height: auto;
	width: auto;
}

img {
	max-width: 100%;
	height: auto;
}

/*
	Tinymce defaults edited
*/

body.mceForceColors { background: #FFF; color: #000; }
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid { border: 1px dashed #BBB; }
a.mceItemAnchor { display: inline-block; width: 11px !important; height: 11px !important; background: url(img/items.gif) no-repeat 0 0; }
td.mceSelected, th.mceSelected { background-color: #3399ff !important; }
acronym { border-bottom: 1px dotted #CCC; cursor:help; }
abbr { border-bottom: 1px dashed #CCC; cursor: help; }
img:-moz-broken { -moz-force-broken-image-icon:1; width: 24px; height: 24px; }
font[face=mceinline] { font-family: inherit !important; }