/* Reset, based on Netlog reset and Eric Meyer's reset */
body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style:none; }
img { border:0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing:0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

/* Stylesheet for Fork CMS */
body { background: #FFF; font-family: Arial, sans-serif; font-size: 13px; }
p { padding: 0 0 12px; }
#container { margin: 30px auto 0; width: 900px; padding: 20px 20px 8px; border: 1px solid #D9D9D9; background: #FFF; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
 #header { margin-bottom: 20px; padding-bottom: 7px; border-bottom: 1px solid #D9D9D9; }
#footer { margin: 10px auto; width: 900px; }