li.selected a { color: red; }
li.selected li a { color: blue; }
li.selected li.selected a { color: red; }

.report { top: 30%; left: 30%; position: fixed; width: 40%; height: 20px; padding: 10px; background-color: #C6E5B2; font-size: 16px; text-align: center; }
