/*

    Mailmotor

    @package      backend
    @subpackage   mailmotor

    @author       Yoni De Beule <yoni@netlash.com>

*/

/* Hide header links */

.box .box h3 a, .box .box h4 a, .dataGridHolder .tableHeading h3 a {
	color: #000 !important;
	border: 0; 
}

/* Subject Input */

.bigInput input {
	width: 320px;
}

/* DataGrids */

.box .options .dataGridHolder:last-child, .box .content .dataGridHolder:last-child {
	margin: 0;
}

/* Containers */

.mailAnalyticsGraphWrapper { width: 993px; margin: 0 auto; }
.mailAnalyticsGraphWrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

	.mailAnalyticsLeftCol {
		float: left;
		width: 492px;
		padding-right: 10px;
	}

		.mailAnalyticsLeftCol .options {
			height: 224px;
		}

	.mailAnalyticsRightCol {
		float: left;
		width: 491px;
	}

		.mailAnalyticsRightCol .options {
			height: 224px;
		}

/* Backlink */

a.mailAnalyticsBacklink {
	float: left;
	border: 0;
	color: #999;
	padding-top: 8px;
	line-height: 16px;
	font-size: 11px;
}

/* Data */

.mailData p {
	float: left;
	width: 232px;
}

	.mailData strong {
		font-size: 16px;
		font-weight: 700;
	}

	.mailData a {
		font-size: 11px;
		font-weight: 700;
		border: 0;
		color: #0077cc; /* I'm changing the link color to match the Google Analytics layout */
		border: none;
	}

	.mailData a:link,
	.mailData a:visited {
		color: #0077cc;
	}

	.mailData a:hover,
	.mailData a:active {
		color: #001a77;
	}

	.mailData small {
		color: #999;
		font-size: 11px;
	}

/* Resize editor */

.ui-resizable-handle {
	height: 10px;
	bottom: -8px;
	z-index: 999 !important;
}

.ui-resizable-handle:hover {
	background: #eaeaea url(../../../../core/layout/images/sprites/th.gif) no-repeat center -199px;
}

/* Filter */

.dataFilter p.lastChild {
	padding: 0;
}

#iframeBox {
	height: 375px;
}
