/*

    Mailmotor widget

    @package      backend
    @subpackage   mailmotor

    @author       Yoni De Beule <yoni@netlash.com>

*/


/* Compact traffic sources */

#tabMailmotorSubscriptions, #tabMailmotorUnsubscriptions, #tabMailmotorStatistics {
	max-width: 355px;
	overflow: hidden;
	padding: 12px 0 6px 0;
}

#tabMailmotorSubscriptions .dataGridHolder, #tabMailmotorSubscriptions .dataGrid tr td, #tabMailmotorUnsubscriptions .dataGridHolder, #tabMailmotorUnsubscriptions .dataGrid tr td, #tabMailmotorStatistics .dataGridHolder, #tabMailmotorStatistics .dataGrid tr td {
	border: 0;
}

#tabMailmotorSubscriptions thead, #tabMailmotorUnsubscriptions thead, #tabMailmotorStatistics thead {
	display: none;
}