.card {
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .card-heading {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    padding: 8px 15px;

    input[type="checkbox"] {
      margin-top: -3px;
    }

    label,
    p,
    h2,
    h3,
    .card-title {
      font-size: $font-size-base;
      font-weight: $font-weight-medium;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  a {
    text-decoration: underline;
  }

  .card-body {
    border-spacing: 0;
  }

  &.last {
    margin-bottom: 0;
  }

  .nav-tabs a {
    text-decoration: none;
  }
}

.card-default {
  background-color: $white;
  margin-bottom: 20px;

  .card-heading {
    background: $gray-200;
    border-bottom: 1px solid $gray-200;

    label,
    p,
    h2,
    h3,
    .card-title {
      color: $black;

      a {
        color: $black;
      }
    }
  }

  &.card-pages-block {
    margin-bottom: 0;

    .card-heading {
      padding: 9px 15px 8px;

      h3 {
        font-size: $font-size-base * 0.875;
      }
    }

    .card-body {
      padding: 15px;
    }
  }

  .card-footer {
    background-color: $gray-100;

    .btn {
      text-decoration: none;
    }
  }
}

.card-editor {

  .card-body {
    padding: map_get($spacers, 3);
  }
}

.card-title a {
  border: 0;
  text-decoration: none;

  &:hover {
    border: 0;
    text-decoration: none;
  }
}

// Panel caret behavior
.card .collapsed .fa-caret-down {
  transform: rotate(-90deg);
  transition: transform 250ms;
}

.card-group {
  margin-bottom: 0;

  .card-heading {

    a {
      .card-title {
        color: $body-color;
      }

      &:hover,
      &:focus {
        text-decoration: none;

        .card-title {
          color: $black;
        }
      }
    }

    .card-title a {
      color: $body-color;
    }

    .inputCheckbox  + .card-title {
      display: inline-block;
    }
  }

  .card {
    border-radius: 0;

    + .card {
      margin-top: 5px;
    }
  }

  &.card-group-column {
    flex-direction: column;
    flex-wrap: nowrap;

    .card {

      + .card {
        border-left: 1px solid $card-border-color;
      }
    }
  }
}

.card-select label {
  margin-bottom: 0;
  width: 100%;

  .card-body {
    padding: 20px 15px 13px;
  }
}

.card-primary {
  background-color: $white;

  .card-heading {
    background-color: $primary;

    .card-title {
      color: $white;

      a {
        color: $white;
      }
    }
  }
}

.card-default label .card-heading {
  border-bottom: 1px solid $gray-200;
}

.card-collapse {

  .card-heading {
    border-bottom: 0;
  }

  table {
    border: 0;
  }
}

.fork-dashboard-column .card-default .card-body {
  padding: 20px 15px 13px;
}
