// Style formError classes
.form-control {
  border-radius: $border-radius-sm;
  box-shadow: $input-box-shadow;

  &.title {
    font-size: $h4-font-size;
    height: 46px;
  }

  &:focus {
    box-shadow: $input-box-shadow;
    outline: 0;
  }

  &.error {
    border-color: $danger;
  }

  &.code {
    font-family: "Source Code Pro";
  }

  &.disabled {
    color: $gray-550;
  }

  &[type="date"] + [type="time"] {
    margin-left: map_get($spacers, 3);
  }
}

label,
.control-label {
  color: $black;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  margin-bottom: map_get($spacers, 1);
}

.form-group {
  margin-bottom: map_get($spacers, 3);
}

.form-check-label {
  font-weight: 400;
}

.form-inline {

  .radio {
    label {
      padding-left: 20px;
      padding-right: 8px;
    }

    input[type="radio"] {
      margin-left: -20px;
      position: absolute;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn {
    padding: 6px 12px 7px;

    &.btn-sm {
      padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
    }
  }
}

abbr[title],
abbr[data-original-title] {
  border-bottom: none;
  text-decoration: none;
}

textarea {
  max-width: 100%;
}

select.form-control[size],
select.form-control,
select[size="1"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('/src/Backend/Core/Layout/images/arrow.svg');
  background-position: center right 5px;
  background-repeat: no-repeat;
  background-size: 10px;
  height: $input-height;
  padding: $input-padding-y 1.5rem $input-padding-y $input-padding-x;
}

.form-group.last {
  margin-bottom: 0;
}

.invalid-feedback {
  display: block;
  font-weight: normal;
}

.input-group .input-group-addon {
  padding: 8px 12px 9px;
}

.inlineEditing input {
  min-width: 100%;
  width: 100%;
}

.editorWarning {
  color: $warning;
}

.input-group {

  .bootstrap-tagsinput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn .btn-icon-only {
    font-size: $btn-font-size;
  }
}

.form-inline .form-group {
  width: 100%;

  select.form-control {
    width: 25%;
  }
}

fieldset {
  border-bottom: 1px solid $gray-200;
  margin-bottom: $spacer * 2;
  padding-bottom: $spacer;

  legend {
    border: 0;
    color: $black;
    font-size: $font-size-lg;
    margin-bottom: 15px;

    .help-block {
      margin: 0;
    }
  }

  &.last {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.select2-container--bootstrap {
  .select2-results__options--nested {
    margin: 0 1rem;
  }
}

.custom-visible-switch {
  padding-left: 0;

  input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
  }

  label {
    cursor: pointer;
    margin: 0;
    padding: 0 0 5px 5px;
    position: relative;

    &:before {

    }
  }
}
