/*
    Template visual large
*/

#templateVisualLarge {
  clear: both;
  margin: 0 -2px;

  table {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
  }

  td {
    display: block;
    vertical-align: top;

    &.empty {
      background-color: $gray-100;
      background-size: 20px;
      border-radius: 3px;
      display: none;
      padding: 10px;
    }
  }

  .block-info {
    opacity: 1;
    transition: opacity 250ms ease;

    .page-block-title {
      font-size: $font-size-base * 0.9375;
    }

    .page-block-description {
      font-size: $font-size-base * 0.875;
    }
  }

  .block-not-visible .block-info {
    opacity: 0.25;
  }
}

@include media-breakpoint-up(xl) {
  #templateVisualLarge {
    margin: 0 -10px;

    table {
      border-spacing: 10px;

      td {
        display: table-cell;

        &.empty {
          display: table-cell;
        }
      }
    }
  }
}
