.content-action-bar .btn-toolbar {
  margin-top: 10px;

  .btn-group .btn {
    margin-bottom: 0;
    margin-top: 0;
  }

  .btn {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2px 6px 3px;
  }

  .btn-group .dropdown-toggle {
    padding: 9px 6px 10px;
  }
}


@include media-breakpoint-up(md) {
  .content-action-bar .btn-toolbar {
    margin-top: 0;

    .btn {
      padding: 8px 12px 9px;
    }
  }
}

@include media-breakpoint-up(xl) {

  .content-action-bar .btn-toolbar .btn {
    display: inline-block;
  }
}
