.content-action-bar .btn-toolbar {
  margin-top: 10px;

  .btn-group .btn {
    margin-bottom: 0;
    margin-top: 0;
  }

  .btn {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.25rem 0.375rem 0.125rem;
  }

  .btn-group .dropdown-toggle {
    padding: 0.125rem 0.375rem;
  }
}

@include media-breakpoint-up(md) {
  .content-action-bar .btn-toolbar {
    margin-top: 0;

    .btn {
      padding: 0.5rem $btn-padding-x;
    }
  }
}
@include media-breakpoint-down(lg) {
  .content-action-bar .btn-toolbar .btn .svg-inline--fa {
    margin: 0;
  }
}

@include media-breakpoint-up(xl) {

  .content-action-bar .btn-toolbar .btn {
    display: inline-block;
  }
}
