.content-action-bar .btn-toolbar {
  margin-top: 10px;

  .btn-text {
    display: block;
    font-size: $font-size-extra-small;
  }

  .btn {
    padding: 2px 6px 3px;
  }

  .btn-group .dropdown-toggle {
    padding: 9px 6px 10px;
  }
}


@media screen and (min-width: $screen-md) {
  .content-action-bar .btn-toolbar {
    margin-top: 0;

    .btn-text {
      display: inline-block;
      font-size: $font-size-base;
    }

    .btn {
      padding: 9px 12px 10px;
    }
  }
}
