.alert-main {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: top 250ms;
  -moz-transition: top 250ms;
  -ms-transition: top 250ms;
  -o-transition: top 250ms;
  transition: top 250ms;

  &.active {
    top: 51px;
    -webkit-transition: top 250ms;
    -moz-transition: top 250ms;
    -ms-transition: top 250ms;
    -o-transition: top 250ms;
    transition: top 250ms;
  }
}
