.alert {
  border: 0;
  margin: 10px 0 0;

  &.alert-xs {
    padding: 0.4375rem 0.7rem;
  }

  .svg-inline--fa {
    margin-right: 5px;
  }

  p {
    display: inline-block;
    margin-bottom: 0;

    + p {
      margin-top: $spacer;
    }
  }

  a {
    text-decoration: underline;
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    border-left: 5px solid $value;

    .svg-inline--fa {
      color: $value;
    }

    a {
      color: theme-color-level($color, $alert-color-level);
    }
  }
}

.alerts-messaging-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30vw;
  z-index: $zindex-fixed;

  .alert {
    background: rgba($white, .9);
    box-shadow: 2px 2px 6px 3px rgba($black, 0.1);
    font-size: $font-size-btn;
    margin: 0 0 20px;
    opacity: 0;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -ms-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;

    &.active {
      opacity: 1;
      -webkit-transition: opacity 250ms;
      -moz-transition: opacity 250ms;
      -ms-transition: opacity 250ms;
      -o-transition: opacity 250ms;
      transition: opacity 250ms;
    }
  }
}

.alert-dismissible {

  .close {
    float: none;
    opacity: 1;
    position: absolute;
    right: -10px;
    text-shadow: none;
    top: -3px;

    .svg-inline--fa {
      color: $close-color;
      font-size: $close-font-size;
    }
  }
}

.alert-static {
  margin: -25px 0 25px;
  padding: 9px 0;
  position: static;
  text-align: left;
  width: 100%;
}
