.badge.badge-primary.tag {

  button {
    color: $white;
  }
}

.strength-none.badge {
  background-color: $gray-550;
  color: $white;
}

.strength-weak.badge {
  background-color: $danger;
  color: $white;
}

.strength-average.badge {
  background-color: $warning;
  color: $white;
}

.strength-strong.badge {
  background-color: $success;
  color: $white;
}
