.btn {
  font-size: $font-size-base * 0.875;
  -webkit-appearance: none;
  border-radius: 3px;
  padding: 9px 9px 10px;

  .fa {
    margin: 0 3px 0 0;
  }

  .btn-text {
    display: block;
    font-size: $font-size-xs;
    margin: 0 3px;
  }

  &.ui-sortable-handle {
    cursor: move;
  }

  &.btn-sm {
    font-size: $font-size-sm;
    padding: 2px 8px;
  }

  &.btn-md {
    font-size: $font-size-sm;
    padding: 4px 15px 5px;
  }

  @include media-breakpoint-up(sm) {

    .btn-text {
      display: inline-block;
      font-size: $font-size-base * 0.875;
      margin: 0;
    }
  }
}

.btn-icon-only .fa {
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.btn-group {
  text-align: right;

  .btn {
    float: none;
    margin: 1px 0;

    + .btn-group,
    + .btn {
      margin-left: 2px;
    }

    + .btn.dropdown-toggle {
      margin-left: -1px;
    }
  }

  @include media-breakpoint-up(lg) {

    .btn {
      float: none;
      margin: 6px 0;

      + .btn-group,
      + .btn {
        margin-left: 6px;
      }
    }
  }


  .btn:first-child:not(:last-child):not(.dropdown-toggle),
  .btn:last-child:not(:first-child),
  .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
    border-radius: 3px;
  }
}

.btn-default {
  background: $gray-200;
  border-color: $gray-200;
  color: $gray-700;

  @include hover-focus {
    background: darken($gray-200, 15%);
    border-color: darken($gray-200, 15%);
  }
}

.btn-second {
  color: $blue-dark;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.input-group-addon {
  color: $body-color;

  &.btn {
    color: $primary;

    &:hover {
      color: $white;
    }
  }
}

a.btn {
  text-decoration: none;
}
