.btn {
  border-radius: 3px;
  padding: 9px 12px 10px;

  .fa {
    margin-right: 6px;
  }

  &.ui-sortable-handle {
    cursor: move;
  }

  &.btn-xs {
    padding: 2px 8px;
  }

  &.btn-md {
    font-size: $font-size-small;
    padding: 4px 15px 5px;
  }
}

.btn-icon-only {
  .fa {
    padding-right: 0;
  }
}

.btn-group {
  text-align: right;

  .btn {
    float: none;
    margin: 1px 0;

    + .btn {
      margin-left: 2px;
    }

    + .btn.dropdown-toggle {
      margin-left: -1px;
    }
  }

  @media screen and (min-width: $screen-lg) {

    .btn {
      float: none;
      margin: 6px 0;

      + .btn {
        margin-left: 6px;
      }
    }
  }


  .btn:first-child:not(:last-child):not(.dropdown-toggle),
  .btn:last-child:not(:first-child),
  .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
    border-radius: 3px;
  }
}

.btn-second {
  color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.input-group-addon {
  color: $text-color;

  &.btn {
    color: $brand-primary;

    &:hover {
      color: $white;
    }
  }
}

a.btn {
  text-decoration: none;
}
