// Fixes height of selects with size attribute
select[size="1"] {
  height: $input-height-base;
}

// Style formError classes
.formError {
  @extend .text-danger;
}

.form-control {
  border-radius: $border-radius-small;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  &.title {
    height: 46px;
    font-size: $font-size-h4;
  }

  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.error {
    border-color: $brand-danger;
  }
}

.help-block {
  font-size: $font-size-small;
}

.form-inline {

  .radio {

    label {
      padding-left: 20px;
      padding-right: 8px;
    }

    input[type="radio"] {
      position: absolute;
      margin-left: -20px;
    }
  }

  .form-group {
    margin-bottom: 20px;

    .btn {
      padding: 6px 12px 7px;
    }
  }
}

label {
  font-weight: 600;
}

abbr[title], abbr[data-original-title] {
  border-bottom: none;
}

.form-group.last {
  margin-bottom: 0;
}

.formError,
.text-danger {
  color: $brand-danger;
}
