.container {
  @media (min-width: $screen-xl-min) {
    width: $container-xl;
  }
}

.row-small {
  margin-left: -10px;
  margin-right: -10px;
}

.col-small {
  padding: 0 10px;
}

.container-fluid-large {
  padding-right: 25px;
  padding-left: 25px;
}
