#installer {

  h3 {
    font-size: $font-size-base;
    font-weight: 600;
  }

  .panel-footer {
    border-top: 0;
    background: $white;
  }

  .list-group-item-warning {
    color: $white;
  }
}

