.strength-none .label {
  background-color: $gray-550;
}

.strength-weak .label {
  background-color: $danger;
}

.strength-average .label {
  background-color: $warning;
}

.strength-strong .label {
  background-color: $success;
}
