/* Loader */
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.fork-loader {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.fork-loader.xs {
  font-size: 3px;
}

.fork-loader.sm {
  font-size: 6px;
}

.fork-loader.md {
  font-size: 12px;
}

.fork-loader.lg {
  font-size: 24px;
}

.fork-loader:before,
.fork-loader:after,
.fork-loader > div:before,
.fork-loader > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em;
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee;
  transform-origin: 50% 2.5em;
}

.fork-loader:before {
  background: #555;
}

.fork-loader:after {
  transform: rotate(-45deg);
  background: #777;
}

.fork-loader > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.fork-loader > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}

#ajaxSpinner {
  z-index: 5;
}
