.modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: $border-radius-sm;

  .modal-title {
    font-size: $btn-font-size;
  }
}

.modal-header {
  padding: $modal-header-padding;
  margin-bottom: 5px;

  .close {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
}

.modal-body {
  background: $white;
  border: 1px solid $gray-200;
  border-radius: $border-radius-sm;
  margin: 0 30px;
  padding: 20px;
}

.modal-footer {
  padding: 15px 30px 25px;
}

.modal.fade .modal-dialog {
  -webkit-transition: transform 200ms ease-out;
  -moz-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
}

@include media-breakpoint-up(sm) {

  .modal-dialog {
    margin: 80px auto;
  }
}
