.navbar-default {
  border: none;
  margin-bottom: 0;

  .navbar-collapse {
    padding: 0;
  }

  .navbar-header {

    .site-url {
      color: $white;
      padding: 15px 25px;
    }
  }

  .navbar-toggle {
    border-color: $white;
    
    .icon-bar {
      background: $white;
    }

    &:hover,
    &:focus {
      background: $white;

      .icon-bar {
        background: $brand-primary-dark;
      }
    }
  }
}

.navbar-nav {
  margin: 0;
  width: 100%;

  li {
    float: none;
  }

  .dropdown {

    .dropdown-toggle {
      color: $gray-base;

      &:hover,
      &:focus {
        background: transparent;
      }
    }

    .fa-angle-right {
      transform: rotate(0deg);
      transition: all 250ms ;
    }

    .dropdown-menu {
      background: $white;
      min-width: auto;
      position: absolute;

      li {
        width: 100%;
      }

       a.active,
       a:hover {
         background: $brand-primary;
         color: $white;
       }
    }

    &.open {

      .fa-angle-right {
        transform: rotate(90deg);
        transition: all 250ms ;
      }

      .dropdown-toggle {
        color: $gray-base;

        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
  }

  .nav-item {
    line-height: 20px;

    a {
      border-bottom: 1px solid $brand-primary-darker;
      color: $white;
      padding: 15px 50px;

      &:before {
        color: $brand-primary;
        position: absolute;
        font-family: FontAwesome;
        font-size: $font-size-btn;
        left: 20px;
      }
    }

    &.active a,
    a:hover,
    a:focus {

      &:before {
        color: $white;
      }
    }
  }
}

.nav-item-dashboard {

  a:before {
    content: '\f0e4';
  }
}

.nav-item-pages {

  a:before {
    content: "\f0c5";
  }
}

.nav-item-modules {

  a:before {
    content: "\f1b2";
  }
}

.nav-item-marketing {

  a:before {
    content: "\f1fe";
  }
}

.nav-item-mailmotor {

  a:before {
    content: "\f0e0";;
  }
}

.nav-item-settings {

  a:before {
    content: "\f013";
  }
}

.navbar-user {
  margin-right: 0;
  width: auto;

  li {
    float: left;

    .dropdown-toggle {

      img {
        height: 25px;
        width: 25px;
      }
    }
  }

  .user-name {
    margin: 0 5px;
  }
}

.navbar-languages {
  margin-left: 0;
  margin-right: 0;
  float: left;
  width: auto;

  .dropdown {
    display: inline-block;
  }
}

@media screen and (min-width: $screen-sm) {

  .navbar-languages {
    margin-left: 50px;
  }

  .navbar-nav {

    .nav-item a:before {
      left: 16px;
    }
  }

  .navbar-default {

    .navbar-nav li a {
      height: 50px;
      padding: 15px;
    }

    .nav-item-text {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-md) {

  .navbar-nav {

    .nav-item a:before {
      left: 20px;
    }
  }

  .navbar-default {

    .navbar-nav li a {
      height: auto;
      padding: 15px 50px;
    }

    .nav-item-text {
      display: block;
    }
  }
}
