/* Style that extends Bootstrap */
h2.panel-title,
h3.panel-title {
  float: none;
}

h1 + .btn-toolbar,
h2 + .btn-toolbar,
h3 + .btn-toolbar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-tabs > li.active.muted > a,
.nav-tabs > li.active.muted > a:focus,
.nav-tabs > li.active.muted > a:hover {
  border-color: #777777 #777777 transparent;
}

.nav-tabs > li.muted > a,
.nav-tabs > li.muted > a:focus,
.nav-tabs > li.muted > a:hover {
  color: #777777;
}

.nav-tabs > li.active.primary > a,
.nav-tabs > li.active.primary > a:focus,
.nav-tabs > li.active.primary > a:hover {
  border-color: #337AB7 transparent;
}

.nav-tabs > li.primary > a,
.nav-tabs > li.primary > a:focus,
.nav-tabs > li.primary > a:hover {
  color: #337AB7;
}

.nav-tabs > li.active.success > a,
.nav-tabs > li.active.success > a:focus,
.nav-tabs > li.active.success > a:hover {
  border-color: #3C763D #3C763D transparent;
}

.nav-tabs > li.success > a,
.nav-tabs > li.success > a:focus,
.nav-tabs > li.success > a:hover {
  color: #3C763D;
}

.nav-tabs > li.active.info > a,
.nav-tabs > li.active.info > a:focus,
.nav-tabs > li.active.info > a:hover {
  border-color: #31708F #31708F transparent;
}

.nav-tabs > li.info > a,
.nav-tabs > li.info > a:focus,
.nav-tabs > li.info > a:hover {
  color: #31708F;
}

.nav-tabs > li.active.warning > a,
.nav-tabs > li.active.warning > a:focus,
.nav-tabs > li.active.warning > a:hover {
  border-color: #8A6D3B #8A6D3B transparent;
}

.nav-tabs > li.warning > a,
.nav-tabs > li.warning > a:focus,
.nav-tabs > li.warning > a:hover {
  color: #8A6D3B;
}

.nav-tabs > li.active.danger > a,
.nav-tabs > li.active.danger > a:focus,
.nav-tabs > li.active.danger > a:hover {
  border-color: #A94442 #A94442 transparent;
}

.nav-tabs > li.danger > a,
.nav-tabs > li.danger > a:focus,
.nav-tabs > li.danger > a:hover {
  color: #A94442;
}

/* Show click-to-edit message in center of editor */
.form-group.optionsRTE {
  position: relative;
}
