.main-navigation {

  .js-nav-prev,
  .js-nav-next {
    -webkit-box-shadow: -3px 0 4px 0 rgba($gray-base, .3);
    -moz-box-shadow: -3px 0 4px 0 rgba($gray-base, .3);
    box-shadow: -3px 0 4px 0 rgba($gray-base, .3);
    display: none;
    font-family: FontAwesome;
    height: 62px;
    position: absolute;
    background: $brand-primary-darker;
    z-index: 10;
    width: 40px;
    top: 0;
    right: 0;

    &:after {
      color: $white;
      font-size: $font-size-extra-small;
      position: absolute;
      top: 50%;
      margin-top: -7px;
    }
  }

  .js-nav-prev {
    -webkit-box-shadow: 3px 0 4px 0 rgba($gray-base, .3);
    -moz-box-shadow: 3px 0 4px 0 rgba($gray-base, .3);
    box-shadow: 3px 0 4px 0 rgba($gray-base, .3);
    left: 0;

    &:after {
      content: "\f053";
      right: 50%;
      margin-right: -3.5px;
    }
  }

  .js-nav-next:after {
    content: "\f054";
    left: 50%;
    margin-left: -3.5px;
  }
}


.navbar-default {
  border: none;
  margin-bottom: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  .navbar-collapse {
    padding: 0;
  }

  .navbar-header {

    .site-icon {
      margin: 7px 10px 0 20px;
      width: 35px;
    }

    .site-url {
      color: $white;
      padding: 15px 25px;
    }

    .navbar-brand {
      padding-left: 0;
    }
  }

  .navbar-toggle {
    border-color: $white;
    
    .icon-bar {
      background: $white;
    }

    &:hover,
    &:focus {
      background: $white;

      .icon-bar {
        background: $brand-primary-dark;
      }
    }
  }

  .navbar-nav {
    height: 62px;
    left: 0;
    position: relative;

    .nav-item {
      float: left;
      text-align: center;
      width: 85px;

      a {
        border-right: 1px solid $brand-primary-darker;
        padding: 30px 10px 10px;

        &:before {
          top: 10px;
          left: 50%;
          margin-left: -8px;
        }
      }
    }
  }

  .nav-item-text {
    font-size: $font-size-extra-small;
  }
}

.navbar-nav {
  margin: 0;
  width: 100%;

  .dropdown {

    .dropdown-toggle {
      color: $gray-base;

      &:hover,
      &:focus {
        background: transparent;
      }
    }

    .fa-angle-right {
      background: $brand-primary;
      border-radius: 100%;
      height: 15px;
      margin: -3px 0;
      position: relative;
      transform: rotate(0deg);
      transition: all 250ms ;
      width: 15px;

      &:before {
        color: $white;
        font-size: $font-size-small;
        position: absolute;
        top: 1px;
        left: 6px;
      }
    }

    .dropdown-menu {
      background: $white;
      float: right;
      min-width: auto;
      position: absolute;

      li {
        width: 100%;
      }

       a.active,
       a:hover {
         background: $brand-primary;
         color: $white;
       }
    }

    &.open {

      .fa-angle-right {
        transform: rotate(90deg);
        transition: all 250ms ;
      }

      .dropdown-toggle {
        color: $gray-base;

        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
  }

  .nav-item {
    line-height: 20px;

    a {
      border-bottom: 1px solid $brand-primary-darker;
      color: $white;
      padding: 15px 50px;

      &:before {
        color: $brand-primary;
        position: absolute;
        font-family: FontAwesome;
        font-size: $font-size-btn;
        left: 20px;
      }
    }

    &.active a,
    a:hover,
    a:focus {

      &:before {
        color: $white;
      }
    }
  }

  &.navbar-sidebar {
    margin-bottom: 20px;

    .nav-item {

      a {
        color: $gray;
        background: $white;
        border-color: $gray-lighter;
        padding: 12px 20px;

        &:hover,
        &:focus {
          background: $brand-primary;
          color: $white;
        }
      }

      &.active a {
        background: $brand-primary;
        color: $white;
      }
    }

    .subnav {
      padding: 0;
      border-bottom: 1px solid $gray-lighter;

      .nav-item {

        a {
          background: $gray-lightest;
          color: $gray;
          border: none;
          padding: 7px 25px;
          font-size: $font-size-small;

          &:hover,
          &:focus {
            background: $brand-primary;
            color: $white;
          }
        }

        &.active a {
          background: $brand-primary;
          color: $white;
        }
      }
    }

  }
}

.nav-item-dashboard {

  a:before {
    content: '\f0e4';
  }
}

.nav-item-pages {

  a:before {
    content: "\f0c5";
  }
}

.nav-item-modules {

  a:before {
    content: "\f1b2";
  }
}

.nav-item-marketing {

  a:before {
    content: "\f1fe";
  }
}

.nav-item-mailmotor {

  a:before {
    content: "\f0e0";;
  }
}

.nav-item-settings {

  a:before {
    content: "\f013";
  }
}

.navbar-user {
  float: right;
  margin-right: 0;
  width: auto;

  li {
    float: left;

    .dropdown-toggle {

      img {
        height: 23px;
        width: 23px;
      }
    }
  }

  .user-name {
    margin: 0 5px;
  }

  .dropdown .fa-angle-right {
    position: absolute;
    top: 13px;
    right: 6px;
  }
}

.navbar-languages {
  margin-left: 0;
  margin-right: 0;
  float: right;
  width: auto;

  .dropdown {
    display: inline-block;
    float: none;
  }
}

@media screen and (min-width: $screen-sm) {

  .navbar-languages {
    margin-left: 50px;
  }

  .navbar-nav {

    .nav-item {
      float: none;
      width: auto;

      a:before {
        left: 16px;
      }
    }

    &.navbar-sidebar {
      margin: 0;
    }
  }

  .navbar-default {

    .navbar-nav {
      height: auto;
      width: 100% !important;

      .nav-item {
        display: block;
        float: none;
        text-align: left;
        width: auto;

        a {
          height: 50px;
          padding: 15px;

          &:before {
            top: auto;
            left: 16px;
            margin-left: 0;
          }
        }
      }
    }

    .nav-item-text {
      font-size: $font-size-base;
      display: none;
    }
  }

  .main-navigation {

    .js-nav-prev,
    .js-nav-next {
      display: none !important;
    }
  }

  .navbar-user {

    .dropdown .fa-angle-right {
      position: static;
    }
  }
}

@media screen and (min-width: $screen-md) {

  .navbar-nav {

    .nav-item a:before {
      left: 20px;
    }
  }

  .navbar-default {

    .navbar-nav .nav-item a {
      height: auto;
      padding: 15px 50px;
    }

    .nav-item-text {
      display: block;
    }
  }
}
