/*
    Template visual large
*/

#templateVisualLarge {
  clear: both;
  margin: 0 -2px;

  table {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
  }

  td {
    display: block;
    vertical-align: top;

    &.empty {
      background: $white url('/src/Backend/Core/Layout/images/na.png') repeat;
      background-size: 20px;
      border-radius: 3px;
      border: 1px solid $border-color;
      display: none;
      padding: 10px;
    }

    .card {
      border: 1px solid $border-color;
    }
  }

  .block-info {
    opacity: 1;
    transition: opacity 250ms ease;

    .page-block-title {
      font-size: $font-size-base * 0.9375;
    }

    .page-block-description {
      font-size: $font-size-base * 0.875;
    }
  }

  .block-not-visible .block-info {
    opacity: 0.25;
  }
}

@include media-breakpoint-up(xl) {
  #templateVisualLarge table td {
    display: table-cell;
    margin: 0 -15px;

    &.empty {
      display: table-cell;
    }

    table {
      border-spacing: 15px;
    }
  }
}
