.panel {
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .panel-body {
    border-spacing: 0;
  }
}

.panel-default {
  margin-bottom: 20px;

  &.panel-pages-block {
    border: none;
    margin-bottom: 0;
  }
}

.panel-title a {
  border: none;
  text-decoration: none;

  &:hover {
    border: none;
    text-decoration: none;
  }
}

.panel-transparent {
  border-color: #ddd;

  .panel-heading {
    border-bottom: 1px solid #ddd;
    margin-bottom: -1px;
  }
}

// Panel caret behavior
.panel.open {

  .fa-caret-right {
    @extend .fa-caret-down;
  }
}
