.panel {
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .panel-body {
    border-spacing: 0;
  }

  &.last {
    margin-bottom: 0;
  }

  .nav-tabs a {
    text-decoration: none;
  }
}

.panel-default {
  background-color: $white;
  margin-bottom: 20px;

  .panel-heading {

    p,
    h3,
    .control-label,
    .panel-title {
      color: $gray-base;
      font-size: $font-size-base;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  &.panel-pages-block {
    background-color: $gray-lightest;
    border: 0;
    margin-bottom: 0;

    .panel-heading {
      border-color: $gray-border;
      padding: 8px 20px 10px;
    }

    .panel-body {
      padding: 0 20px 20px;
    }
  }

  a {
    text-decoration: underline;
  }

  .panel-footer {
    .btn {
      text-decoration: none;
    }
  }
}

.panel-editor {

  .panel-body {
    padding: 0;
  }
}

.panel-title a {
  border: 0;
  text-decoration: none;

  &:hover {
    border: 0;
    text-decoration: none;
  }
}

.panel-transparent {
  border-color: #ddd;

  .panel-heading {
    border-bottom: 1px solid #ddd;
    margin-bottom: -1px;
  }
}

// Panel caret behavior
.panel.open .fa-caret-right {
  @extend .fa-caret-down;
}

.panel-group {
  margin-bottom: 0;

  .panel-heading a {
    .panel-title {
      color: $text-color;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      .panel-title {
        color: $gray-base;
      }
    }
  }
}

.panel-primary label,
.panel-default label {
  width: 100%;

  .panel-body {
    padding: 20px 15px 13px;
  }

  .panel-footer {
    background-color: $white;
    border-top: 0;
  }
}

.panel-primary {
  background-color: $white;

  .panel-heading {
    background-color: $brand-primary;

    .panel-title {
      color: $white;
    }
  }
}

.panel-default label .panel-heading {
  border-bottom: 1px solid $gray-lighter;
}



.fork-dashboard-column .panel-default .panel-body {
  padding: 20px 15px 13px;
}
