.align-middle {
  display: table-cell;
  vertical-align: middle !important;
}

.table-striped {
  border: 1px solid $table-border-color;

  > tbody > tr:nth-of-type(even),
  thead > tr {
    background-color: $gray-100;
  }

  > tbody > tr:nth-of-type(even):hover,
  > tbody > tr:nth-of-type(even):focus {
    &:hover,
    &:focus {
      background-color: $table-hover-bg;
    }
  }
}

.table > thead > tr > th {
  border-width: 1px;
}

.table > tbody > tr > td.dragAndDropHandle,
.table > tbody > tr > th.dragAndDropHandle,
.table > thead > tr > th.dragAndDropHandle,
.table > tbody > tr > td.sortHandle,
.table > tbody > tr > th.sortHandle,
.table > thead > tr > th.sortHandle {
  width: 5%;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td {
  border: 0;
  vertical-align: middle;
}

.table {
  margin-bottom: 0;

  tr {

    td {
      font-size: $font-size-sm;

      &.title a {
        font-weight: 600;
      }

      a {
        text-decoration: none;
      }
    }

    th {
      color: $gray-700;
      font-size: $font-size-sm;
      font-weight: 600;

      a {
        color: $body-color;

        &.sorted {
          color: $primary;
          position: relative;

          .fa:before {
            position: absolute;
          }

          .fa-sort-desc:before {
            top: 0;
          }

          .fa-sort-asc:before {
            bottom: 0;
          }
        }
      }
    }

    &.grayedOut td {
      opacity: .6;
    }

    th + th {
      border-left: 1px solid $table-border-color;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}
