.ti-input {
  @extend .form-control;

  height: auto;

  .ti-tag {
    background: $primary;

    &.ti-deletion-mark {
      background: $danger;
    }
  }
}


.ti-autocomplete .ti-item.ti-selected-item {
  background: $primary;
}
