.position .btn-icon-only {
  padding: 5px 10px 6px;
}

.img-thumbnail {
  border: none;
  border-radius: 0;
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  padding: 0;
}

@media screen and (min-width: $screen-lg) {
  .img-thumbnail {
    margin: 0 auto;
  }
}
