/*

    Tree layout
    Based on basic tree skin

    @package      backend
    @subpackage   core

    @since        2.0

*/
.pages-tree {
  padding: 20px 25px;
}

#tree {

  h4 {
    font-size: $font-size-base;
    font-weight: 600;
  }
}

.tree {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-height: 16px;
    max-width: 100%;

    ins {
      display: inline-block;
      text-decoration: none;
      width: 16px;
      height: 16px;
    }
  }

  li {
    display: block;
    min-height: 16px;
    line-height: 16px;
    padding: 0 0 0 21px;
    /* Background fix */
    clear: both;
    max-width: 100%;

    li {
      overflow: hidden;
    }

    ul {
      display: none;
    }

    a:link,
    a:visited,
    span {
      display: inline-block;
      line-height: 17px;
      height: 20px;
      padding: 2px 4px 2px 2px;
      color: $gray-base;
      white-space: nowrap;
      text-decoration: none;
      margin: 0;
      border: none !important;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a input:not([class="xxx"]),
    span input:not([class="xxx"]) {
      padding: 1px 0;
    }
  }
}

/* FOR DRAGGING */
#jstree-dragged {
  position: absolute;
  top: -10px;
  left: -10px;
  margin: 0;
  padding: 0;
}

.jstree-proton {
  /* The jstree theme we use (proton) from jstree-bootstrap-theme uses a custom font. Override this so we don't load it. */
  font-family: inherit !important;

  li {
    font-size: $font-size-small;
    position: relative;

    &[rel="hidden"] a,
    &.treeHidden a {
      opacity: .5;
    }

    &.dragged {
      outline: none;
    }

    /* DEFAULT, HOVER, CLICKED, LOADING STATES */
    .jstree-children li a {
      border-radius: 4px;
    }

    .jstree-children .jstree-clicked,
    .jstree-hovered,
    .jstree-children li a:hover,
    .jstree-children li a.active,
    .jstree-children li a.focus {
      background: $brand-primary;
      color: $white;
      border-radius: 4px;

      &:before {
        color: $white;
      }
    }

    // No distracting transitions
    .jstree-anchor,
    .jstree-wholerow {
      transition: none;
    }

    a ins.forbidden {
      background-position: -16px -16px;
    }

    span ins {
      background-position: -16px 0;
    }
  }

  .locked li a ins {
    background-position: 0 -48px;
  }

  // Make tree icons a subtle bit lighter
  &.jstree .jstree-themeicon-custom {
    color: $gray-light;
  }

  // Make sure icon is white on hover/focus
  li a:hover,
  li a.active,
  li a.focus,
  .jstree-clicked {
    .jstree-themeicon-custom {
      color: $white;
    }
  }

  li .jstree-search {
    font-weight: 600;
    font-style: normal;
    color: $brand-primary;
  }
}

#jstree-dragged {
  border: 1px dotted $gray;
  background-color: $gray-lighter;
  z-index: 20;

  &.tree-fork {

    li li.open {
      background-position: 0 -16px;
    }
  }
}

.jstree-hidden,
.jstree-node.jstree-hidden {
  display: none;
}
