<section id="searchFormWidget" class="mod">
  <div class="inner">
    <header class="hd">
      <h3>{{ 'lbl.Search'|trans|ucfirst }}</h3>
    </header>
    <div class="bd">
      {% form search %}
      <p>
        <label for="qWidget">{{ 'lbl.SearchTerm'|trans|ucfirst }}
          <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
        {% form_field q_widget %}
      </p>
      <p>
        <input id="submit" class="inputSubmit" type="submit" name="submit" value="{{ 'lbl.Search'|trans|ucfirst }}" />
      </p>
      {% endform %}
    </div>
  </div>
</section>
