{% block widget_body %}
  {% form search %}
  <label for="qWidget" class="sr-only sr-only-focusable">
    {{ 'lbl.SearchTerm'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
  </label>
  <div class="form-group">
    <div class="input-group">
      {% form_field q_widget %}
      <div class="input-group-btn">
        <input id="submit" class="btn btn-default" type="submit" name="submit" value="{{ 'lbl.Search'|trans }}" />
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
