// Sticky footer

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -$footer-height;

}

#root-footer {
  height: $footer-height;
}

#footer {
  clear: both;
  position: relative;
  height: $footer-height;
}

.logo-footer {
  width: 50px;
  margin: 0 auto 20px auto;
}
