<div id="headerSearch">
  <h4>{{ 'lbl.Search'|trans|capitalize }}</h4>

  {% form search %}
  <div class="oneLiner">
    <p>{% form_field q_widget %}</p>
    <p><input id="submit" class="inputSubmit" type="submit" name="submit" value="{{ 'lbl.Search'|trans|capitalize }}" />
    </p>
  </div>
  {% endform %}
</div>
