@each $color, $value in $theme-colors {
  .alert-#{$color} {
    background: $value;
    border-color: $value;
    color: $white;

    a:not(.btn) {
      color: $white;
      text-decoration: underline;
    }
  }
}
