.btn {
  border-radius: 0;

  &.btn-default {
    background: $white;
    border-color: $white;
    color: $blue-dark;

    &:hover,
    &:focus {
      background: $blue-dark;
      border-color: $white;
      color: $white;
    }
  }
}
