label {

  abbr[title],
  abbr[data-original-title] {
    border: none;
    text-decoration: none;
  }
}

select.form-control[size] {
  height: $input-height;
}

.input-group .twitter-typeahead {
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
}

.grecaptcha-badge {
  z-index: 9000;
}
