#privacyConsentDialog {
  position: fixed;
  bottom: 0;
  z-index: $zindex-modal - 1;
  font-size: $font-size-sm;

  .modal-dialog {
    margin: $modal-dialog-margin;

    .modal-header, .modal-body, .modal-footer {
      padding: $modal-inner-padding;
    }
  }
}
