/*
	IE6 Conditional comments for <Project name>
	
	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>
	author:     name <email@netlash.com>
*/

/* Clearfix */
.clearfix {
	zoom: 1;
}