/**
 * Fork Onsite reset
 * @author	Johan Ronsse <johan@netlash.com>
 * Based on Netlog reset and Eric Meyer's reset
 */

body, form, fieldset, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style:none;
}

img, fieldset {
	border: 0;
}

input, select, textarea {
	font-size: 100%;
	vertical-align: middle;
}

table { 
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}

th {
	text-align: left;
}

a:focus {
	overflow: hidden;
}