/*

	Stylesheet for <Fork features>

	This CSS is used when there no theme is used.

	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>
	author:     Johan Ronsse <johan@netlash.com>

*/

/*
	Reset
*/

body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border: 0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

/*
	Typography
*/

body {
	font-family: Georgia, "Times New Roman", serif;
	line-height: 1.5;
	color: #333;
	font-size: 13px;
}

/* Headings */
h1, h2, h3 {
	line-height: 1.1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

	h1, h2, h3, h4 { 
		font-weight: 700;
		color: #000;
		padding: 0 0 12px;
	}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 13px;
}

p {
	padding: 0 0 12px;
}

strong {
	font-weight: 700;
	color: #000;
}

em {
	font-style: italic;
}

.content ol {
	padding: 0 0 12px 28px;
}

.content ul {
	list-style: disc;
	padding: 0 0 12px 24px;
}

.content ol {
	list-style-type: decimal;
}

	.content ul ul,
	.content ol ul,
	.content ol ol {
		padding-bottom: 0;
	}

	.content ul ol {
		padding: 0 0 0 24px;
	}

	.content ol ol {
		list-style: upper-roman;
	}

	.content ol ol ol {
		list-style: lower-roman;
	}

.content dl {
	padding: 0 0 0 12px;
}

.content dt {
	font-weight: 700;
	color: #000;
}

.content dd {
	padding: 0 0 12px;
}

blockquote, q {
	font-style: italic;
	font-family: Georgia, serif;
}

blockquote {
	padding: 0 0 0 12px;
}

/* Horizontal rules */

hr {
	height: 1px;
	background: #CCC;
	border: 0;
	font-size: 0;
	margin: 12px 0 24px;
	line-height: 0;
}

/*
	Structure
*/

body {
	background: #EEE;
}

#container {
	background: #FFF;
	width: 880px;
	margin: 0 auto;
}

#header {
	padding: 20px;
	border-bottom: 1px solid #CCC;
	/* @inc .sansSerif */
	font-family: Arial, sans-serif;
}

	#header h1 {
		font-size: 48px;
		letter-spacing: -2px;
	}
	
		#header h1 a {
			color: #000;
			text-decoration: none;
		}

#language {
	position: absolute;
	right: 0;
	top: 0;
}

#navigation {
	background: #333;
}

	/* Clearfix */
	#navigation { zoom: 1; }
	#navigation ul:after {
		/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
	}

	#navigation li {
		font-size: 14px;
		float: left;
		list-style: none;
		margin: 0 1px 0 0;
		font-weight: 700;
	}

		#navigation li a {
			display: block;
			padding: 0 12px;
			line-height: 32px;
			background: #000;
		}

		#navigation li.selected a {
			background: #EEE;
			color: #000;
		}

		#navigation li a {
			color: #FFF;
			text-decoration: none;
		}

/*
	Main
*/

#main {
	padding: 20px;
}

#main:after {
	/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

	#breadcrumb {
		padding: 0 0 12px;
		color: #666;
		/* @inc .secondarycontent */
		font-size: 11px;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	}

	#subnavigation {
		width: 200px;
		float: left;
	}

	#content {
		width: 550px;
		float: left;
	}
	
	#sidebar {
		width: 200px;
		float: left;
	}

/*
	Footer
*/

#footer {
	padding: 20px;
	border-top: 1px solid #CCC;
}

	#footer ul {
		color: #666;
		/* @inc .secondarycontent */
		font-size: 11px;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	}
	
		#footer li {
			display: inline;
			margin-right: 5px;
		}