/*

	Stylesheet for <Fork features>

	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>
	author:     Johan Ronsse <johan@netlash.com>

*/

/*
	Nothing yet
	@todo @johan basic layout
*/

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	color: #000;
	font-size: 13px;
}

#container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

	#navigation {
		width: 240px;
		float: left;
	}
	
	#content {
		width: 600px;
		float: left;
	}
	
	#footer {
		clear: both;
	}
	
	#language {
		position: absolute;
		right: 0;
		top: 0;
	}