/*

    Buttons
    Styles for the buttons

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

a.button:link,
a.button:visited {
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	text-decoration: none;
	border: none;
	color: #3A3A3A !important;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 11px;
	font-weight: 700;
	float: left;
	padding: 0 6px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	background-repeat: repeat-x;
	background-position: right -132px;
	overflow: hidden;
	background: #E1E1E1;
	
	border: 1px solid #b0b0b0;
	
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#dddddd));
	background: -moz-linear-gradient(top, #EFF5FD, #E9F0F7);

	/* @inc .rc */
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

a.button:hover,
a.button:active,
a.button:focus,
a.button.focus {
	background: #FFF;
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1);
}

a.mainButton:link,
a.mainButton:visited {
	color: #FFF !important;
	border: 1px solid #366EAC;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8DB7E7), to(#215996), color-stop(.0454545,#5E9CE1), color-stop(.9545455,#2F79CA));
	background: -moz-linear-gradient(#8DB7E7, #5E9CE1 4.5454545%, #2F79CA 95.454545%, #215996);
}


a.mainButton:hover,
a.mainButton:active,
a.mainButton:focus,
a.mainButton.focus {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#215996), to(#8DB7E7), color-stop(.0454545,#2F79CA), color-stop(.9545455,#5E9CE1));
	background: -moz-linear-gradient(#8DB7E7, #5E9CE1 4.5454545%, #2F79CA 95.454545%, #215996);
}

a.icon span {
	padding: 0 0 0 18px !important;
	display: block;
	background-image: url(/backend/core/layout/images/sprites/fork_icons.png);
	background-repeat: no-repeat;
}

	a.iconAdd span {
		background-position: 0 0 !important; }
	a.iconEdit span {
		background-position: 0 -22px !important; }
	a.iconDelete span {
		background-position: 0 -44px !important; }
	a.iconBack span {
		background-position: 0 -66px !important; }
	a.mainButton.iconBack span {
		background-position: 0 -88px !important; }
	a.iconCollapsed span {
		background-position: 0 -110px !important; }
	a.iconExpanded span {
		background-position: 0 -132px !important; }
	a.iconZoom span {
		background-position: 0 -154px !important; }
	a.iconSettings span {
		background-position: 0 -176px !important; }
	a.iconClose span {
		background-position: 0 -220px !important; }
	a.iconCloseI span {
		background-position: 0 -242px !important; }
	a.iconGoto span {
		background-position: 0 -465px !important; }

	a.iconOnly span {
		width: 16px;
		padding: 0 !important;
		text-indent: -9000px;
		overflow: hidden;
	}

	a.iconLink span {
		width: 16px;
		height: 22px;
		padding: 0 !important;
		text-indent: -9000px;
		overflow: hidden;
		display: block;
		background-image: url(/backend/core/layout/images/sprites/fork_icons.png);
		background-repeat: no-repeat;
	}

	/*
		Button that looks like a link
	*/

	a.linkButton:link,
	a.linkButton:visited {
		background: none;
		color: #085DBD;
		font-weight: 400;
	}
	
		#encloser #container a.linkButton:link span,
		#encloser #container a.linkButton:visited span {
			color: #085DBD;
		}

	a.linkButton:hover,
	a.linkButton:active,
	a.linkButton:focus {
		background: rgba(0,0,0,0.15);
		color: #FFF !important;
	}

		a.linkButton span {
			background: none;
		}

	/*
		Disabled buttons
	*/

	a.disabledButton:link,
	a.disabledButton:visited,
	a.disabledButton:hover,
	a.disabledButton:active,
	a.disabledButton:focus,
	a.disabledButton.focus {
		opacity: 0.5;
		cursor: default;
	}

/* Button positioning */

#container .buttonHolder .button {
	float: left;
	margin-right: 8px;
}

#container .buttonHolderRight .button {
	float: right;
	margin-left: 8px;
}

.buttonHolderSingle .button {
	margin: 0;
	float: none;
	/* Used for single buttons so the focus lines are nice and clean */
}

/* end buttons */

/*
	Delete buttons
*/

#encloser #container a.iconDelete:link span,
#encloser #container a.iconDelete:visited span {
	color: red;
}

/*
	jQuery Ui
*/

.ui-icon-closethick {
	background: url(/backend/core/layout/images/sprites/fork_icons.png) no-repeat 0 -220px;
}

.ui-state-hover .ui-icon-closethick {
	background: url(/backend/core/layout/images/sprites/fork_icons.png) no-repeat 0 -242px;
}