/*

    Clearfix
    Classes and IDs that should be clearfixed
    @see http://www.positioniseverything.net/easyclearing.html

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}