/*

    Core modules
    Styles by module, core modules only
    @see http://www.positioniseverything.net/easyclearing.html

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

/*
	Pages - tree
*/

#pagesTree {
	width: 264px;
	height: 100%;
}

	#pagesTree #treeHolder {
		width: 259px;
	}

#treeOptions {
	height: 54px;
	background: #FFF;
	margin: 24px 0 0 24px;
	border: 1px solid #DDD;
	border-bottom: none;

	/* @inc .topRc */
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;

}

	#treeOptions .buttonHolder {
		padding: 18px 0 0 12px;
	}

#fullwidthSwitch {
	width: 6px;
	background: #FAFAFA;
}

#fullwidthSwitch:hover,
#fullwidthSwitch:active
#fullwidthSwitch:focus {
	width: 6px;
	background: #EAEAEA url(/backend/core/layout/images/close_w.gif) no-repeat 0 center;
}

	#fullwidthSwitch.collapsed {
		background: #EAEAEA url(/backend/core/layout/images/close_w.gif) no-repeat -6px center;
	}

	#fullwidthSwitch a {
		outline: 0;
		width: 100%;
		height: 100%;
		display: block;
	}

#pagesTree td,
#pagesTree table {
	height: 100%;
	width: 100%;
}

	#pagesTree h4 {
		padding: 4px 12px 0;
		margin: 0;
		color: #000;
		font-size: 11px;
	}

	#treeHolder #tree {
		overflow: hidden;
		width: 239px;
		border: 1px solid #DDD;
		border-top: none;
		margin: 24px;
		padding: 0 0 20px;
		margin-right: 0;
		margin-top: 0;
		background: #FFF;

		/* @inc .bottomRc */
		border-bottom-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;

	}

	#pages.index #tree {
		padding-top: 12px;
		border-top: 1px solid #DDD;
		margin-top: 24px;
		margin-right: 9px;

		/* @inc .topRc */
		border-top-left-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		border-top-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topright: 4px;

	}
	
	#pages.index #treeOptions {
		display: none;
	}

	#pagesTree #tree .tree {
		margin: 6px 6px 12px;
	}

/*
	General
*/

#pagesPageTitle label {
	padding: 0 0 4px;
}

#pagesPageTitle span a {
	font-size: 11px;
	color: #666;
}

#editContent {
	margin: 0 0 24px;
}

		.contentType {
			background: #666;
			background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999));
			background: -moz-linear-gradient(top, #666, #999);
			border-bottom: 1px solid #666;
			font-weight: 700;
			padding: 5px 10px 5px 40px;
			display: block;
			font-size: 11px;
			font-family: "Lucida Grande";
		}

		.contentType label {
			color: #FFF;
		}

			.contentType select,
			.contentType select optgroup {
				font-size: 11px;
				font-family: "Lucida Grande";
			}

	.headingRTE table {
		width: 100%;
	}

		.headingRTE td.numbering {
			vertical-align: middle;
			padding-right: 10px;
			width: 17px;
		}

		.headingRTE .numbering div {
			font-size: 11px;
			background: rgba(0,0,0,0.25);
			text-align: center;
			width: 13px;
			height: 13px;
			line-height: 13px;
			-moz-border-radius: 8px;
			color: #FFF;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
			border: 1px solid rgba(0,0,0,0.1);
			font-family: Helvetica, Arial, sans-serif;
			font-weight: 700;
		}

/*
	Pages
	Template tab
*/

#templateVisualLarge table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

	#templateVisualLarge td {
		text-align: center;
		border: 1px dotted #666;
		border-bottom: none;
		vertical-align: middle;
		min-height: 86px;
		height: auto !important;
		height: 86px;
		padding: 12px;
	}

	#templateVisualLarge table:last-child td {
		border-bottom: 1px dotted #666;
	}

	#templateVisualLarge .buttonHolder {
		width: 24px;
		margin: 0 auto;
	}

	#templateVisualLarge h4,
	#templateVisualLarge p {
		margin: 0;
		padding: 0 0 4px;
	}

	/*
		Index
	*/

		/*
			Table widths
		*/

		#pages.pagesIndex .datagrid .user_id {
			width: 20%;
		}

		#pages.pagesIndex .datagrid .date {
			width: 20%;
		}

		#pages.pagesIndex .datagrid .title {
			width: 40%;
		}

		#pages.pagesIndex .datagrid .action {
			width: 20%;
		}

	/*
		Add/edit
	*/

		/*
			Tab SEO
		*/

		#pages.pagesAddEdit #tabSEO #pageTitle {
			width: 340px;
		}

		#pages.pagesAddEdit #tabSEO #navigationTitle {
			width: 160px;
		}

		#pages.pagesAddEdit #tabSEO #metaDescription {
			width: 480px;
		}

		#pages.pagesAddEdit #tabSEO #metaKeywords {
			width: 480px;
		}

		#pages.pagesAddEdit #tabSEO #url {
			width: 340px;
		}

		/* Less important tabs go on the right side */

		#pages.pagesAddEdit #contentHolder .ui-tabs-nav li { float: right; }
		#pages.pagesAddEdit #contentHolder .ui-tabs-nav li:first-child { float: left; }

		#pages.pagesAddEdit #contentHolder .ui-tabs-nav li:nth-child(2) {
			margin-right: 0;
		}

	/*
		editTemplate
	*/
	
	#pages.editTemplate #path {
		width: 340px;
	}

/*
	Blog
*/

	/*
		Index
	*/

	/*
		Categories
	*/

	#blog.categories .datagrid td.name a {
		font-size: 11px;
		font-weight: 700;
	}

	/*
		Comments
	*/

	#blog.comments .datagrid tbody .button {
		margin-bottom: 8px;
		clear: left;
	}

	/*
		Add/edit
	*/

	#blog.blogAddEdit #categoryId { width: 170px; }
	#blog.blogAddEdit #addValue-tags { width: 120px; }
	#blog.blogAddEdit #newCategoryValue { width: 120px; }

	#blog.blogAddEdit #publishOnDate { width: 100px; }
	#blog.blogAddEdit #publishOnTime { width: 40px; }

		/*
			Tab SEO
		*/

		#blog.blogAddEdit #tabSEO #pageTitle {
			width: 340px;
		}

		#blog.blogAddEdit #tabSEO #navigationTitle {
			width: 160px;
		}

		#blog.blogAddEdit #tabSEO #metaDescription {
			width: 480px;
		}

		#blog.blogAddEdit #tabSEO #metaKeywords {
			width: 480px;
		}

		#blog.blogAddEdit #tabSEO #url {
			width: 340px;
		}

	/*
		Settings
	*/

	#blog.blogAddEdit #feedburnerUrl {
		width: 320px;
	}

	#blog.blogAddEdit #rssDescription {
		padding: 3px;
	}

	/*
		Settings specific CSS
	*/

		/*
			Page: settings > website
		*/

		#settingsApiKeys table input {
			width: 240px;
		}

	/*
		Add/edit
	*/

	/* User info */
	#users.usersAddEdit .settingsUserInfo {
		margin: 0 0 14px;
	}

	#users.usersAddEdit .settingsUserInfo td {
		vertical-align: middle;
	}

	#users.usersAddEdit  .settingsUserInfo .infoGrid {
		margin: 0 0 0 12px;
	}

/*
	Settings
*/

	/*
		Index
	*/

	#settings.settingsIndex #siteTitle {
		width: 320px;
	}

	#settings.settingsIndex #webmasterEmail {
		width: 300px;
	}

/*
	Tags
*/

	/*
		Index
	*/

	#tags.tagsIndex .datagrid td.tag a {
		font-size: 11px;
		font-weight: 700;
	}

/*
	Locale
*/

	/*
		Add/edit
	*/

	#locale.localeAddEdit select {
		font-size: 11px;
	}

	#locale.localeAddEdit #value { width: 590px; }
	#locale.localeAddEdit #name { width: 260px; }
	#locale.localeAddEdit select { width: 140px; }

	/*
		Index
	*/

	#locale.localeIndex #filter select,
	#locale.localeIndex #filter input {
		font-size: 11px;
	}

	#locale.localeIndex #value { width: 340px; }
	#locale.localeIndex #name { width: 260px; }
	#locale.localeIndex select { width: 140px; }

	#locale.localeIndex .datafilter .help {
		top: 5px;
		margin-left: 0;
	}

/*
	TinyMCE expand/non expand
*/

/*
	Don't show tinymce toolbars unless the field has focus
*/

.mceEditor tr.mceFirst,
.mceEditor tr.mceLast {
  display: none;
}

.mceEditor tr.mceFirst td ,
.mceEditor tr.mceLast td {
  border: 0px !important;
}

.mceEditor.expanded tr.mceFirst,
.mceEditor.expanded tr.mceLast {
  display: block;
}

/*
	Visual connection between templates and their edit field
*/

#templateVisual td a:focus {
	background: #666;
	color: #FFF;
	border: 1px solid #666;
}

	.box:target .heading {
		background: #666;
		border-color: #666;
	}
	
		.box:target .heading h3 {
			color: #FFF;
		}
