/*

    Dashboard

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

#dashboardWidgets {
	padding: 12px 0;
	border-top: 1px solid #DDD;
	zoom: 1;
	
	/* @inc .secondaryContent */
	font-size: 11px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

	#dashboardWidgets:after {
		/* @inc .clearfix */ content: "."; display: block; height: 0; clear: both; visibility: hidden;
	}

#dashboardWidgets .leftColumn,
#dashboardWidgets .middleColumn,
#dashboardWidgets .rightColumn {
	float: left;
	max-width: 407px;
	width: 33.3%;
}

#dashboardWidgets .middleColumn {
}

#dashboardWidgets .box {
	padding: 12px;
	margin: 0;
	border: none;
}

	#dashboardWidgets .box .datagridHolder {
		padding: 0;
		margin: 0;
		border-width: 0 0 1px;
		background: #FFF;
	}

		#dashboardWidgets .box .datagridHolder .datagrid {
			border-top: none;
		}

	#dashboardWidgets .heading a {
		color: #3A3A3A;
		border: none;
	}

#dashboardWidgets .datagrid td {
	font-size: 11px;
}

#dashboardWidgets .datagrid tr td:first-child {
	padding-left: 12px;
}

#dashboardWidgets .datagrid tr td:last-child {
	padding-right: 12px;
}

#dashboardWidgets .datagrid td a {
	font-size: 11px;
	font-weight: 400;
}

/*
	Analyse widget
*/

#widgetSettingsAnalyse ul {
	padding-bottom: 0;
}

/*
	Mailmotor widget
*/

#widgetMailmotorClassic .ui-tabs .ui-tabs-nav li a {
	padding: 4px 7px;
}

	#widgetMailmotorClassic .ui-tabs li {
		font-weight: 400;
	}
	
	#widgetMailmotorClassic .ui-tabs .ui-tabs-selected {
		font-weight: 700;
	}
	
	#datagridSubscriptions p,
	#datagridUnsubscriptions p,
	#datagridStatistics p {
		padding: 0 10px 6px;
	}
	
/*
 	Drag'n drop for widgets
 */
.dragAndDropPlaceholder {
	margin: 12px;
	border: 1px dotted #444;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.sortableWidget {
	position: relative;
}

.isDraggable {
	cursor: move;
}

.isRemoved {
	-moz-opacity:.40; 
	filter:alpha(opacity=40); 
	opacity:.40;
}

.editDashboardClose {
	position: absolute;
	right: 14px;
	top: 14px;
	
}
	