/*

    Password strength meter

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

.horizontal .passwordStrength {
	margin-left: 115px;
	margin-bottom: 12px;
}

	.horizontal .passwordStrength .helpTxt {
		padding: 0;
	}
	
	.labelWidthLong .passwordStrength {
		margin-left: 155px;
	}

.passwordStrength p {
	margin-right: 6px;
	padding: 0;
	max-width: 400px;
}

.passwordStrength .strength p {
	background: #DDD;
	color: #FFF;
	padding: 2px 6px;
	min-width: 40px;
	margin-top: 5px;

	text-transform: uppercase;
	font-size: 11px;
	text-align: center;

	/* @inc .rc */
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

}