/*

    General structure

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

html {
	height: 100%;
}

body {
	position: relative;

	height: 100%;
	width: 100%;
}

#encloser {
	width: 100%;
	height: 100%;
}

#container {
	height: 100%;
	padding: 0 24px;
}

#main {
	border-top: none;
	min-width: 960px;
	max-width: 1224px;
	margin: 0 auto;
	background: #FAFAFA;
	border: 1px solid #BED7E9;
	border-width: 0 1px;
}

	@-moz-document url-prefix() {
		#main {
			height: 100%;
		}
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		#main {
			height: 100%;
		}
	}
	
	/*
		@todo @johan #main background is not shown in Opera on dashboard
	*/

#contentHolder {
	height: 100%;
}

#contentHolder .inner {
	padding: 24px 24px 24px 9px;
	background: #FAFAFA;

	min-height: 465px;
	height: auto !important;
	height: 465px;
}

#mainHolder {
	width: 100%;
	height: 100%;
	border-top: 1px solid #BED7E9;
}

#sidebar {
	width: 202px;
	padding-left: 24px;
}

/*
	Header
*/

#headerHolder {
	padding: 0 24px;
	min-width: 960px;
	max-width: 1224px;
	margin: 0 auto;
	position: relative;
	
}

	#headerHolder #header {
		width: 100%;
		height: 36px;
	}

	#headerHolder #user {
		min-width: 266px;
	}

		#user .avatar {
			margin-right: 4px;
		}
		
		#user li {
			position: relative;
		}
		
		#user ul ul {
			position: absolute;
			right: 0;
			top: 24px;
			width: 180px;
		}
		
			#user ul ul {
				border: 1px solid #DDD;
				padding: 0;
			}
			
			#user #account li {
				float: none;
				border: none;
				border-bottom: 1px solid #DDD;
				background: #FFF;
				margin: 0;
				padding: 0;
			}
			
			#user #account .arrow {
				font-size: 8px;
				font-family: Courier;
			}
			
				#user ul ul li a {
					display: block;
					background: #F1F5FA;
					padding: 1px 6px;
					margin: 1px 0;
				}

					#user ul ul li td a {
						padding: 0;
					}
					
					#user ul ul li table {
						margin: 6px;
					}
			
			#user ul ul li:last-child {
				border: none;
			}

#header td {
	vertical-align: middle;
}

/*
	Site title
*/

#headerHolder h1 {
	margin: 0;
	padding: 12px 0 0;
	font-size: 14px;
}

	#headerHolder h1 a:link,
	#headerHolder h1 a:visited {
		color: #000;
	}

	#headerHolder h1 a:hover,
	#headerHolder h1 a:active,
	#headerHolder h1 a:focus {
		color: #001A77;
	}

/*
	Navigation
*/

	#navigation li {
		float: left;
	}

	#navigation li a {

		/* @inc .navButtonColors */
		display: block;
		border-bottom: none;

		float: left;
		margin: 10px 4px 0 0;
		padding: 7px 17px;
		position: relative;
		top: 1px;
		line-height: 1;
		font-size: 11px;
		font-weight: 700;
		font-family: "Lucida grande", Arial, sans-serif;

		/* @inc .rcTopOnly */
		border-top-left-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		border-top-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topright: 4px;

		background: #EBF3F9;
		background: -webkit-gradient(linear, left top, left bottom, from(#EBF3F9), to(#DCE9F4));
		background: -moz-linear-gradient(top, #EBF3F9, #DCE9F4);
		border: 1px solid #BAD4E8;

	}
	
		@-moz-document url-prefix() {
			#navigation li a {
				right: 1px;
			}
		}

	#navigation li a:hover,
	#navigation li a:active,
	#navigation li a:focus {
		/* @inc .navButtonSelected */
		background: #E9F2FA;
		background: -webkit-gradient(linear, left top, left bottom, from(#E9F2FA), to(#F2F5FA));
		background: -moz-linear-gradient(top, #E9F2FA, #F2F5FA);
		border: 1px solid #BED7E9;
		border-bottom-color: #BED7E9;
	}

	#navigation li.selected a {

		/* @inc .navButtonSelected */
		background: #F9F9F9;
		background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FAFAFA));
		background: -moz-linear-gradient(top, #FFF, #FAFAFA);
		border: 1px solid #BED7E9;
		border-bottom-color: #FAFAFA;

		color: #000;

	}

	#navigation a {
		border: none;
	}

/*
	Header > User
*/

#user {
	font-size: 11px;
}

	#user .selected {
		color: #000;
	}

#user ul {
	float: right;
	padding-right: 24px;
}

#user li {
	padding-left: 12px;
	border-left: 1px solid #D3DADF;
	border-color: rgba(0,0,0,0.1);
	margin-left: 12px;
	float: left;
	line-height: 24px;
}

	#user li:first-child {
		border: none;
	}

#user li td {
	padding: 0;
	border: 0;
}

/*
	Subnavigation (modulelist)
*/

#subnavigation {
	width: 164px;
}

#subnavigation li a {
	text-decoration: none;
}

#subnavigation ul {
	padding: 0;
	margin: 24px 9px 24px 24px;
	width: 125px;
	background: #FAFAFA;
	border: 1px solid #D7DADF;
	background: #F1F5FA;
	padding: 3px;

	/* @inc .rc */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

}

#subnavigation ul ul {
	padding: 5px 0 5px 0;
	border: none;
	margin: 0;
	width: auto;
}

#subnavigation li {
	list-style: none;
	line-height: 1.4;
}

#subnavigation li a:link,
#subnavigation li a:visited {
	display: block;
	background: #E7F0F8;
	border-bottom: 1px solid #FFF;
	padding: 3px 5px;
	color: #5D6064;
	font-size: 11px;
}

#subnavigation li a:hover,
#subnavigation li a:active {
	background: #FFF;
}

#subnavigation li.selected a {
	background: #FFF;
	color: #000;
	font-weight: 700;
}

#subnavigation li.selected li a:link,
#subnavigation li.selected li a:visited {
	font-weight: 300;
	padding-left: 18px;
}

#subnavigation li.selected li a:hover,
#subnavigation li.selected li a:active {
	color: #000;
}

#subnavigation li.selected li.selected a:link,
#subnavigation li.selected li.selected a:visited,
#subnavigation li.selected li.selected a:hover,
#subnavigation li.selected li.selected a:active {
	font-weight: 700;
	color: #000;
}

#subnavigation li:last-child a {
	border: none;
}

#subnavigation ul li.selected ul li a {
	font-size: 11px;
	color: #5D6064;
	padding: 2px 3px 2px 10px;
	background: transparent;
}

#subnavigation ul li.selected ul li.selected a {
	color: #000;
	background: transparent;
}