/*

    Tags

    @package      backend
    @subpackage   core

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

.tagsWrapper input.inputText {
	width: 120px;
}


.tagsWrapper .tagsList {
	padding-top: 12px;
}

.tagsWrapper label { font-size: 11px; }

.tagsWrapper ul {
	padding: 4px 0 0;
}

.tagsWrapper li {
	font-size: 11px;
	float: left;
	margin: 0 4px 4px 0;
}

.tagsWrapper li strong {
	display: block;
	float: left;
	font-weight: 400;
	color: #6464CE;
}

.tagsWrapper li a {
	background: url(/backend/core/layout/images/sprites/fork_icons.png) no-repeat -1px -201px;
	display: block;
	width: 7px;
	height: 16px;
	text-indent: -9000px;
	float: left;
	padding-left: 3px;
	font-weight: 400;
}

.tagsWrapper li span {
	display: block;
	float: left;
	background: #dee7f8;
	background: -webkit-gradient(linear, left top, left bottom, from(#C9DCFF), to(#DEE7F8));
	background: -moz-linear-gradient(top, #C9DCFF, #DEE7F8);

	line-height: 16px;
	border: 1px solid #a4bdec;
	padding: 0 6px;

	/* @inc .doubleRc */
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.tagsWrapper ul,
.tagsWrapper li {
	zoom: 1;
}

.tagsWrapper ul:after,
.tagsWrapper li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}