services:
  mailmotor.listener.settings_saved:
    class: Backend\Modules\Mailmotor\EventListener\SettingsSavedListener
    arguments:
      - "%kernel.cache_dir%"
    tags:
      - { name: kernel.event_listener, event: mailmotor.event.settings_saved, method: onSettingsSavedEvent }
  mailmotor.listener.subscribed:
    class: Frontend\Modules\Mailmotor\EventListener\NewNotImplementedMailingListSubscription
    arguments:
      - "@mailer"
      - "@fork.settings"
    tags:
      - { name: kernel.event_listener, event: mailmotor.event.not_implemented.subscribed, method: onNotImplementedSubscribedEvent }
  mailmotor.listener.unsubscribed:
    class: Frontend\Modules\Mailmotor\EventListener\NewNotImplementedMailingListUnsubscription
    arguments:
      - "@mailer"
      - "@fork.settings"
    tags:
      - { name: kernel.event_listener, event: mailmotor.event.not_implemented.unsubscribed, method: onNotImplementedUnsubscribedEvent }
  mailmotor.listener.subscribe_from_form_builder_submitted_form:
    class: Frontend\Modules\Mailmotor\EventListener\SubscribeFromFormBuilderSubmittedForm
    arguments:
      - "@mailmotor.subscriber"
      - "@fork.settings"
    tags:
      - { name: kernel.event_listener, event: form.submitted, method: onFormBuilderSubmittedEvent }
