/*

    Installer CSS

    @package      backend
    @subpackage   installer

    @author       Johan Ronsse <johan@netlash.com>
    @since        2.0

*/

#installer {
	height: auto;
}

.noPadding {
	padding: 0 !important;
}

/*
	Make sure inputs are wide enough
*/

#installer .inputText,
#installer .inputPassword {
	width: 200px;
}

/*
	Step 2: requirements
*/

span.ok {
	padding: 3px;
	color: #4f6d2c;
	background: #d6efb8;
}

span.warning {
	color: #FFF;
	padding: 3px;
	font-weight: 700;
	background: #FF6600;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6600), to(#FFA500));
	background: -moz-linear-gradient(top, #FF6600, #FFA500);
}

span.error {
	color: #FFF;
	padding: 3px;
	font-weight: 700;
	background: #DE3636;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6600), to(#FF2626));
	background: -moz-linear-gradient(top, #FF6600, #FF2626);
}

.warningMessage {
	color: #FFF;
	font-weight: 700;
	background: #FF6600;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6600), to(#FF2626));
	background: -moz-linear-gradient(top, #FF6600, #FFA500);
	border: 1px solid #FF9955;
}

.generalMessage {
	font-weight: 700;
	border: 1px solid #CCC;
	margin: 10px 0 0;
	padding: 12px;

	/* @inc .rc */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.infoMessage {
	background-color: #FFA;
	font-weight: normal;
	color: #666;
}

/*
	Step 3/4: settings
*/

ul#moduleList {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

h3 {
	padding-top: 12px;
}

/*
	Step 5: DB
*/

#installer input#hostname { width: 140px; }
#installer input#port { width: 40px; }

/*
	Step 7
*/

.infoGrid {
	margin: 0 0 12px;
}

.infoGrid td,
.infoGrid th {
	font-size: 12px;
}

	.infoGrid td {
		width: auto;
		padding-left: 12px;
		border-bottom: 1px solid #CCC;
	}
	
	.infoGrid th {
		width: 100px;
		border: none;
	}