.templateVisual td:empty,
.templateVisual td.empty {
    background: #EEE url(/src/Backend/Core/Layout/images/na.png) repeat;
    border: 1px solid #CCC;
}

.templateVisual td {
    text-align: center;
    border: 1px dotted #666;
    background: #FFF;
    vertical-align: middle;
}

/*
	Template visual small
*/

.templateVisual table {
    width: 100%;
    table-layout: fixed;
}

.templateVisual table {
    border-spacing: 3px;
    border-collapse: separate;
}

.templateVisual td {
    padding: 4px 2px;
    /* @inc .secondarycontent */
    font-size: 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.templateVisual td a {
    color: #000;
}

.disabled .templateVisual td {
    border-color: #CCC;
    background: #FCFCFC;
}

.disabled .templateVisual td a {
    color: #999;
    cursor: default;
}

/*
	Template visual large
*/

/* Dirty padding fix */

#tabContent.editTemplateTab {
    padding: 10px 0 0 0;
}

#tabContent.editTemplateTab .pageTitle {
    margin: 0 10px;
}

/* General table layout */

#templateVisualFallback {
    display: none;
    margin: 10px;
}

#templateVisualLarge {
    clear: both;
}

#templateVisualFallback div#fallback {
    float: right;
    width: 100%;
}

#templateVisualFallback div#fallbackInfo {
    float: left;
    width: 50%;
}

#templateVisualLarge table,
#templateVisualFallback table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px; /* If you change the value "10" change it in model.php of pages module too; for IE7 */
    table-layout: fixed;
}

#templateVisualFallback table {
    width: 50%;
    float: right;
}

#templateVisualLarge td,
#templateVisualFallback td {
    text-align: center;
    box-shadow: 0 0 0 1px #ddd inset;
    background: #F4F4F4;
    padding: 1%;
}

#templateVisualLarge td.empty,
#templateVisualFallback td.empty {
    background: #EEE url(/src/Backend/Core/Layout/images/na.png) repeat;
    box-shadow: 0 0 0 1px #ddd inset;
    padding: 10px;
}

/* Title */

#templateVisualLarge .templatePositionTitle,
#templateVisualFallback .templatePositionTitle {
    font-size: 11px;
    color: #000;
    background: #FFF;
    border: 1px solid #BDBDBD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 6px 12px;
    box-shadow: 0 -1px 0 1px #FFF;
}

/* Blocks container */

#templateVisualLarge .linkedBlocks,
#templateVisualFallback .linkedBlocks {
    margin: 0px;
    border-top: 1px solid #DDD;
}

#templateVisualLarge .linkedBlocks:empty,
#templateVisualFallback .linkedBlocks:empty {
    padding-top: 12px;
    margin: 0 12px;
    border-top: 0;
}

/* Button holder */

#templateVisualLarge .btn-group,
#templateVisualFallback .btn-group {
    padding: 12px 0;
}

/* Block */

#templateVisualLarge .templatePositionCurrentType,
#templateVisualFallback .templatePositionCurrentType {
    border: 1px solid #DDD;
    border-top: 0;
    background: #FFF;
    text-align: left;
    position: relative;
    cursor: move;
    height: 54px;
    overflow: hidden;
    overflow: ellipsis;
}

#templateVisualLarge .templatePositionCurrentType.ui-sortable-helper,
#templateVisualFallback .templatePositionCurrentType.ui-sortable-helper {
    border-top: 1px solid #DDD;
}

#templateVisualLarge .templatePositionCurrentType .templateTitle,
#templateVisualFallback .templatePositionCurrentType .templateTitle {
    display: block;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    margin: 12px 12px 0;
}

#templateVisualLarge .templatePositionCurrentType:hover .templateTitle,
#templateVisualFallback .templatePositionCurrentType:hover .templateTitle {
    color: #000;
}

#templateVisualLarge .templateDisabled .templateTitle,
#templateVisualFallback .templateDisabled .templateTitle {
    color: #aaa;
}

#templateVisualLarge .templatePositionCurrentType .templateDescription,
#templateVisualFallback .templatePositionCurrentType .templateDescription {
    margin: 0 12px 12px;
    display: block;
    color: #808080;
    font-size: 11px;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#templateVisualLarge .templatePositionCurrentType:hover .templateDescription,
#templateVisualFallback .templatePositionCurrentType:hover .templateDescription {
    color: #222;
}

#templateVisualLarge .templateDisabled .templateDescription,
#templateVisualFallback .templateDisabled .templateDescription {
    color: #bbb;
}

#templateVisualLarge .templatePositionCurrentType .buttonHolder,
#templateVisualFallback .templatePositionCurrentType .buttonHolder {
    opacity: 0;
    height: 24px;
    padding: 15px 6px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    z-index: 80;
}

#templateVisualLarge .templatePositionCurrentType:after,
#templateVisualFallback .templatePositionCurrentType:after {
    content: ".";
    height: 54px;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

#templateVisualLarge .templatePositionCurrentType:hover:after,
#templateVisualFallback .templatePositionCurrentType:hover:after {
    width: 110px;
}

body.touch-enabled #templateVisualLarge .templatePositionCurrentType .buttonHolder,
body.touch-enabled #templateVisualFallback .templatePositionCurrentType .buttonHolder,
#templateVisualLarge .templatePositionCurrentType:hover .buttonHolder,
#templateVisualFallback .templatePositionCurrentType:hover .buttonHolder {
    opacity: 1;
}
