.tt-hint {
    display: none;
}

.tt-menu {
    width: 332px;
    margin: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    width: 312px;
    display: block;
    padding: 3px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-bottom: 1px solid #CCC;
    color: #4F4F4F;
}

.tt-suggestion:first-child {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.tt-suggestion:last-child {
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-bottom: none;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    border-color: #0097cf;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    font-size: 12px;
}