{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% if isAllowedAction('Add') %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('add'), 'plus-square', 'lbl.AddLocation'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if dataGrid %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>{{ 'lbl.Locations'|trans|ucfirst }}</h2>
      </div>
      <div class="table-responsive">
        {{ dataGrid|raw }}
      </div>
    </div>
  {% else %}
    {{ macro.emptyState(geturl('add'), 'msg.AddItem'|trans, 'msg.NoItems'|trans|ucfirst) }}
  {% endif %}
{% endblock %}
