html {
  min-height: 100%;
}

body {
  transform: none;
}

img {
  max-width: 100%;
}

.main-wrapper {
  position: relative;
  width: 100%;

  .sidebar {
    width: 100%;
  }
}

.content-wrapper {
  height: 100%;
}

.hidden-in-modal-mode {
  & > .header, & > .main-wrapper > .sidebar {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .main-wrapper {
    min-height: 100%;
    margin-top: -82px;
    padding-left: 430px;
    padding-top: 82px;
    position: relative;
    transition: padding 250ms;

    &.navigation-collapsed {
      padding-left: 240px;

      .sidebar {
        width: 240px;


        .main-navigation {
          width: 50px;
        }

        .sub-navigation {
          left: 50px;
          width: 190px;
        }
      }
    }

    &.main-wrapper-tree {
      padding-left: 480px;

      .sidebar {
        width: 480px;

        .sub-navigation {
          width: 240px;
        }
      }

      &.navigation-collapsed {
        padding-left: 290px;

        .sidebar {
          width: 290px;

          .sub-navigation {
            width: 240px;
          }
        }
      }
    }

    &.main-wrapper-without-subnavigation {
      padding-left: 240px;

      .sidebar {
        width: 240px;
      }

      &.navigation-collapsed {
        padding-left: 50px;

        .sidebar {
          width: 50px;
        }
      }
    }

    .sidebar {
      bottom: 0;
      height: auto;
      left: 0;
      overflow-y: hidden;
      position: absolute;
      top: 82px;
      width: 430px;
      z-index: 2;
      transition: width 250ms;

      .main-navigation {
        background: $blue-dark;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 240px;
        transition: width 250ms ease;
      }

      .sub-navigation {
        background: $white;
        border-right: 1px solid $gray-200;
        height: 100%;
        position: absolute;
        left: 240px;
        overflow-x: hidden;
        overflow-y: auto;
        top: 0;
        width: 190px;
        transition: width,left 250ms;
      }
    }
  }

  .content-main {
    width: 100%;
  }

  .hidden-in-modal-mode > .main-wrapper {
    padding-left: 0;
  }
}
